# TMDB 5000 movies dataset


Source- https://www.kaggle.com/tmdb/tmdb-movie-metadata
This dataset contains details of around 5000 movies from The Movie Database website. 
The two datasets are tmdb_5000_movies.csv and tmdb_5000_credits.csv

The columns in the movie dataset are: (tmdb_5000_movies.csv)
"	homepage
"	id
"	original_title
"	overview
"	popularity
"	production_companies
"	production_countries
"	release_date
"	spoken_languages
"	status
"	tagline
"	vote_average

There is another credits dataset which has the following columns: (tmdb_5000_credits.csv)
"	Movie_id
"	Movie_title
"	Cast
"	Crew

Production_companies, production_countries, cast and crew columns contain JSON.

# Importing the csv file with movies data:

In [1]:
import csv
with open('tmdb_5000_movies.csv') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        print row['title']

Avatar
Pirates of the Caribbean: At World's End
Spectre
The Dark Knight Rises
John Carter
Spider-Man 3
Tangled
Avengers: Age of Ultron
Harry Potter and the Half-Blood Prince
Batman v Superman: Dawn of Justice
Superman Returns
Quantum of Solace
Pirates of the Caribbean: Dead Man's Chest
The Lone Ranger
Man of Steel
The Chronicles of Narnia: Prince Caspian
The Avengers
Pirates of the Caribbean: On Stranger Tides
Men in Black 3
The Hobbit: The Battle of the Five Armies
The Amazing Spider-Man
Robin Hood
The Hobbit: The Desolation of Smaug
The Golden Compass
King Kong
Titanic
Captain America: Civil War
Battleship
Jurassic World
Skyfall
Spider-Man 2
Iron Man 3
Alice in Wonderland
X-Men: The Last Stand
Monsters University
Transformers: Revenge of the Fallen
Transformers: Age of Extinction
Oz: The Great and Powerful
The Amazing Spider-Man 2
TRON: Legacy
Cars 2
Green Lantern
Toy Story 3
Terminator Salvation
Furious 7
World War Z
X-Men: Days of Future Past
Star Trek Into Darkness
Jack the Giant Slayer
The Great Gatsby
Prince of Persia: The Sands of Time
Pacific Rim
Transformers: Dark of the Moon
Indiana Jones and the Kingdom of the Crystal Skull
The Good Dinosaur
Brave
Star Trek Beyond
WALLÂ·E
Rush Hour 3
2012
A Christmas Carol
Jupiter Ascending
The Legend of Tarzan
The Chronicles of Narnia: The Lion, the Witch and the Wardrobe
X-Men: Apocalypse
The Dark Knight
Up
Monsters vs Aliens
Iron Man
Hugo
Wild Wild West
The Mummy: Tomb of the Dragon Emperor
Suicide Squad
Evan Almighty
Edge of Tomorrow
Waterworld
G.I. Joe: The Rise of Cobra
Inside Out
The Jungle Book
Iron Man 2
Snow White and the Huntsman
Maleficent
Dawn of the Planet of the Apes
The Lovers
47 Ronin
Captain America: The Winter Soldier
Shrek Forever After
Tomorrowland
Big Hero 6
Wreck-It Ralph
The Polar Express
Independence Day: Resurgence
How to Train Your Dragon
Terminator 3: Rise of the Machines
Guardians of the Galaxy
Interstellar
Inception
Shin Godzilla
The Hobbit: An Unexpected Journey
The Fast and the Furious
The Curious Case of Benjamin Button
X-Men: First Class
The Hunger Games: Mockingjay - Part 2
The Sorcerer's Apprentice
Poseidon
Alice Through the Looking Glass
Shrek the Third
Warcraft
Terminator Genisys
The Chronicles of Narnia: The Voyage of the Dawn Treader
Pearl Harbor
Transformers
Alexander
Harry Potter and the Order of the Phoenix
Harry Potter and the Goblet of Fire
Hancock
I Am Legend
Charlie and the Chocolate Factory
Ratatouille
Batman Begins
Madagascar: Escape 2 Africa
Night at the Museum: Battle of the Smithsonian
X-Men Origins: Wolverine
The Matrix Revolutions
Frozen
The Matrix Reloaded
Thor: The Dark World
Mad Max: Fury Road
Angels & Demons
Thor
Bolt
G-Force
Wrath of the Titans
Dark Shadows
Mission: Impossible - Rogue Nation
The Wolfman
Bee Movie
Kung Fu Panda 2
The Last Airbender
Mission: Impossible III
White House Down
Mars Needs Moms
Flushed Away
Pan
Mr. Peabody & Sherman
Troy
Madagascar 3: Europe's Most Wanted
Die Another Day
Ghostbusters
Armageddon
Men in Black II
Beowulf
Kung Fu Panda 3
Mission: Impossible - Ghost Protocol
Rise of the Guardians
Fun with Dick and Jane
The Last Samurai
Exodus: Gods and Kings
Star Trek
Spider-Man
How to Train Your Dragon 2
Gods of Egypt
Stealth
Watchmen
Lethal Weapon 4
Hulk
G.I. Joe: Retaliation
Sahara
Final Fantasy: The Spirits Within
Captain America: The First Avenger
The World Is Not Enough
Master and Commander: The Far Side of the World
The Twilight Saga: Breaking Dawn - Part 2
Happy Feet Two
The Incredible Hulk
The BFG
The Revenant
Turbo
Rango
Penguins of Madagascar
The Bourne Ultimatum
Kung Fu Panda
Ant-Man
The Hunger Games: Catching Fire
Home
War of the Worlds
Bad Boys II
Puss in Boots
Salt
Noah
The Adventures of Tintin
Harry Potter and the Prisoner of Azkaban
Australia
After Earth
Dinosaur
Night at the Museum: Secret of the Tomb
Megamind
Harry Potter and the Philosopher's Stone
R.I.P.D.
Pirates of the Caribbean: The Curse of the Black Pearl
The Hunger Games: Mockingjay - Part 1
The Da Vinci Code
Rio 2
X2
Fast Five
Sherlock Holmes: A Game of Shadows
Clash of the Titans
Total Recall
The 13th Warrior
The Bourne Legacy
Batman & Robin
How the Grinch Stole Christmas
The Day After Tomorrow
Mission: Impossible II
The Perfect Storm
Fantastic 4: Rise of the Silver Surfer
Life of Pi
Ghost Rider
Jason Bourne
Charlie's Angels: Full Throttle
Prometheus
Stuart Little 2
Elysium
The Chronicles of Riddick
RoboCop
Speed Racer
How Do You Know
Knight and Day
Oblivion
Star Wars: Episode III - Revenge of the Sith
Star Wars: Episode II - Attack of the Clones
Monsters, Inc.
The Wolverine
Star Wars: Episode I - The Phantom Menace
The Croods
Asterix at the Olympic Games
Windtalkers
The Huntsman: Winter's War
Teenage Mutant Ninja Turtles
Gravity
Dante's Peak
Teenage Mutant Ninja Turtles: Out of the Shadows
Fantastic Four
Night at the Museum
San Andreas
Tomorrow Never Dies
The Patriot
Ocean's Twelve
Mr. & Mrs. Smith
Insurgent
The Aviator
Gulliver's Travels
The Green Hornet
300: Rise of an Empire
The Smurfs
Home on the Range
Allegiant
Real Steel
The Smurfs 2
Speed 2: Cruise Control
Ender's Game
Live Free or Die Hard
The Lord of the Rings: The Fellowship of the Ring
Around the World in 80 Days
Ali
The Cat in the Hat
I, Robot
Kingdom of Heaven
Stuart Little
The Princess and the Frog
The Martian
The Island
Town & Country
Gone in Sixty Seconds
Gladiator
Minority Report
Harry Potter and the Chamber of Secrets
Casino Royale
Planet of the Apes
Terminator 2: Judgment Day
Public Enemies
American Gangster
True Lies
The Taking of Pelham 1 2 3
Little Fockers
The Other Guys
Eraser
Django Unchained
The Hunchback of Notre Dame
The Emperor's New Groove
The Expendables 2
National Treasure
Eragon
Where the Wild Things Are
Epic
The Tourist
End of Days
Blood Diamond
The Wolf of Wall Street
Batman Forever
Starship Troopers
Cloud Atlas
Legend of the Guardians: The Owls of Ga'Hoole
Catwoman
Hercules
Treasure Planet
Land of the Lost
The Expendables 3
Point Break
Son of the Mask
In the Heart of the Sea
The Adventures of Pluto Nash
Green Zone
The Peanuts Movie
The Spanish Prisoner
The Mummy Returns
Gangs of New York
The Flowers of War
Surf's Up
The Stepford Wives
Black Hawk Down
The Campaign
The Fifth Element
Sex and the City 2
The Road to El Dorado
Ice Age: Continental Drift
Cinderella
The Lovely Bones
Finding Nemo
The Lord of the Rings: The Return of the King
The Lord of the Rings: The Two Towers
Seventh Son
Lara Croft: Tomb Raider
Transcendence
Jurassic Park III
Rise of the Planet of the Apes
The Spiderwick Chronicles
A Good Day to Die Hard
The Alamo
The Incredibles
Cutthroat Island
Percy Jackson & the Olympians: The Lightning Thief
Men in Black
Toy Story 2
Unstoppable
Rush Hour 2
What Lies Beneath
Cloudy with a Chance of Meatballs
Ice Age: Dawn of the Dinosaurs
The Secret Life of Walter Mitty
Charlie's Angels
The Departed
Mulan
Tropic Thunder
The Girl with the Dragon Tattoo
Die Hard: With a Vengeance
Sherlock Holmes
Ben-Hur
Atlantis: The Lost Empire
Alvin and the Chipmunks: The Road Chip
Valkyrie
You Don't Mess with the Zohan
Pixels
A.I. Artificial Intelligence
The Haunted Mansion
Contact
Hollow Man
The Interpreter
Percy Jackson: Sea of Monsters
Lara Croft Tomb Raider: The Cradle of Life
Now You See Me 2
The Saint
Spy Game
Mission to Mars
Rio
Bicentennial Man
Volcano
The Devil's Own
K-19: The Widowmaker
Conan the Barbarian
Cinderella Man
The Nutcracker: The Untold Story
Seabiscuit
Twister
Cast Away
Happy Feet
The Bourne Supremacy
Air Force One
Ocean's Eleven
The Three Musketeers
Hotel Transylvania
Enchanted
Safe House
102 Dalmatians
Tower Heist
The Holiday
Enemy of the State
It's Complicated
Ocean's Thirteen
Open Season
Divergent
Enemy at the Gates
The Rundown
Last Action Hero
Memoirs of a Geisha
The Fast and the Furious: Tokyo Drift
Arthur Christmas
Meet Joe Black
Collateral Damage
All That Jazz
Mirror Mirror
Scott Pilgrim vs. the World
The Core
Nutty Professor II: The Klumps
Scooby-Doo
Dredd
Click
Creepshow
Cats & Dogs 2 : The Revenge of Kitty Galore
Jumper
Hellboy II: The Golden Army
Zodiac
The 6th Day
Bruce Almighty
The Expendables
Mission: Impossible
The Hunger Games
The Hangover Part II
Batman Returns
Over the Hedge
Lilo & Stitch
Charlotte's Web
Deep Impact
RED 2
The Longest Yard
Alvin and the Chipmunks: Chipwrecked
Grown Ups 2
Get Smart
Something's Gotta Give
Shutter Island
Four Christmases
Robots
Face/Off
Bedtime Stories
Road to Perdition
Just Go with It
Con Air
Eagle Eye
Cold Mountain
The Book of Eli
Flubber
The Haunting

Space Jam
The Pink Panther
The Day the Earth Stood Still
Conspiracy Theory
Fury
Six Days Seven Nights
Yogi Bear
Spirit: Stallion of the Cimarron
Zookeeper
Lost in Space
The Manchurian Candidate
DÃ©jÃ  Vu
Hotel Transylvania 2
Fantasia 2000
The Time Machine
Mighty Joe Young
Swordfish
The Legend of Zorro
What Dreams May Come
Little Nicky
The Brothers Grimm
Mars Attacks!
Evolution
The Edge
Surrogates
Thirteen Days
Daylight
Walking With Dinosaurs
Battlefield Earth
Looney Tunes: Back in Action
Nine
Timeline
The Postman
Babe: Pig in the City
The Last Witch Hunter
Red Planet
Arthur and the Invisibles
Oceans
A Sound of Thunder
Pompeii
Top Cat Begins
A Beautiful Mind
The Lion King
Journey 2: The Mysterious Island
Cloudy with a Chance of Meatballs 2
Red Dragon
Hidalgo
Jack and Jill
2 Fast 2 Furious
The Little Prince
The Invasion
The Adventures of Rocky & Bullwinkle
The Secret Life of Pets
The League of Extraordinary Gentlemen
Despicable Me 2
Independence Day
The Lost World: Jurassic Park
Madagascar
Children of Men
X-Men
Wanted
The Rock
Ice Age: The Meltdown
50 First Dates
Hairspray
Exorcist: The Beginning
Inspector Gadget
Now You See Me
Grown Ups
The Terminal
Hotel for Dogs
Vertical Limit
Charlie Wilson's War
Shark Tale
Dreamgirls
Be Cool
Munich
Tears of the Sun
Killers
The Man from U.N.C.L.E.
Spanglish
Monster House
Bandits
First Knight
Anna and the King
Immortals
Hostage
Titan A.E.
Hollywood Homicide
Soldier
Carriers
Monkeybone
Flight of the Phoenix
Unbreakable
Minions
Sucker Punch
Snake Eyes
Sphere
The Angry Birds Movie
Fool's Gold
Funny People
The Kingdom
Talladega Nights: The Ballad of Ricky Bobby
Dr. Dolittle 2
Braveheart
Jarhead
The Simpsons Movie
The Majestic
Driven
Two Brothers
The Village
Doctor Dolittle
Signs
Shrek 2
Cars
Runaway Bride
xXx
The SpongeBob Movie: Sponge Out of Water
Ransom
Inglourious Basterds
Hook
Die Hard 2
S.W.A.T.
Vanilla Sky
Lady in the Water
AVP: Alien vs. Predator
Alvin and the Chipmunks: The Squeakquel
We Were Soldiers
Olympus Has Fallen
Star Trek: Insurrection
Battle: Los Angeles
Big Fish
Wolf
War Horse
The Monuments Men
The Abyss
Wall Street: Money Never Sleeps
Dracula Untold
The Siege
Stardust
Seven Years in Tibet
The Dilemma
Bad Company
Doom
I Spy
Underworld: Awakening
Rock of Ages
Hart's War
Killer Elite
Rollerball
Ballistic: Ecks vs. Sever
Hard Rain
Osmosis Jones
Legends of Oz: Dorothy's Return
Blackhat
Sky Captain and the World of Tomorrow
Basic Instinct 2
Escape Plan
The Legend of Hercules
The Sum of All Fears
The Twilight Saga: Eclipse
The Score
Despicable Me
Money Train
Ted 2
Agora
Mystery Men
Hall Pass
The Insider
The Finest Hours
Body of Lies
Dinner for Schmucks
Abraham Lincoln: Vampire Hunter
Entrapment
The X Files
The Last Legion
Saving Private Ryan
Need for Speed
What Women Want
Ice Age
Dreamcatcher
Lincoln
The Matrix
Apollo 13
The Santa Clause 2
Les MisÃ©rables
You've Got Mail
Step Brothers
The Mask of Zorro
Due Date
Unbroken
Space Cowboys
Cliffhanger
Broken Arrow
The Kid
World Trade Center
Mona Lisa Smile
The Dictator
Eyes Wide Shut
Annie
Focus
This Means War
Blade: Trinity
Red Dawn
Primary Colors
Resident Evil: Retribution
Death Race
The Long Kiss Goodnight
Proof of Life
Zathura: A Space Adventure
Fight Club
We Are Marshall
Hudson Hawk
Lucky Numbers
I, Frankenstein
Oliver Twist
Elektra
Sin City: A Dame to Kill For
Random Hearts
Everest
Perfume: The Story of a Murderer
Austin Powers in Goldmember
Astro Boy
Jurassic Park
Wyatt Earp
Clear and Present Danger
Dragon Blade
Little Man
U-571
The American President
The Love Guru
3000 Miles to Graceland
The Hateful Eight
Blades of Glory
Hop
300
Meet the Fockers
Marley & Me
The Green Mile
Wild Hogs
Chicken Little
Gone Girl
The Bourne Identity
GoldenEye
The General's Daughter
The Truman Show
The Prince of Egypt
Daddy Day Care
2 Guns
Cats & Dogs
The Italian Job
Two Weeks Notice
Antz
Couples Retreat
Days of Thunder
Cheaper by the Dozen 2
Maze Runner: The Scorch Trials
Eat Pray Love
The Family Man
RED
Any Given Sunday
The Horse Whisperer
Collateral
The Scorpion King
Ladder 49
Jack Reacher
Deep Blue Sea
This Is It
Contagion
Kangaroo Jack
Coraline
The Happening
Man on Fire
The Shaggy Dog
Starsky & Hutch
Jingle All the Way
Hellboy
A Civil Action
ParaNorman
The Jackal
Paycheck
Up Close & Personal
The Tale of Despereaux
The Tuxedo
Under Siege 2: Dark Territory
Jack Ryan: Shadow Recruit
Joy
London Has Fallen
Alien: Resurrection
Shooter
The Boxtrolls
Practical Magic
The Lego Movie
Miss Congeniality 2: Armed and Fabulous
Reign of Fire
Gangster Squad
Year One
Invictus
State of Play
Duplicity
My Favorite Martian
The Sentinel
Planet 51
Star Trek: Nemesis
Intolerable Cruelty
Trouble with the Curve
Edge of Darkness
The Relic
Analyze That
Righteous Kill
Mercury Rising
The Soloist
The Legend of Bagger Vance
Almost Famous
Garfield: A Tail of Two Kitties
xXx: State of the Union
Priest
Sinbad: Legend of the Seven Seas
Event Horizon
Dragonfly
The Black Dahlia
Flyboys
The Last Castle
Supernova
Winter's Tale
The Mortal Instruments: City of Bones
Meet Dave
Dark Water
Edtv
Inkheart
The Spirit
Mortdecai
In the Name of the King: A Dungeon Siege Tale
Beyond Borders
The Monkey King 2
The Great Raid
Deadpool
Holy Man
American Sniper
Goosebumps
Just Like Heaven
The Flintstones in Viva Rock Vegas
Rambo III
Leatherheads
The Ridiculous 6
Did You Hear About the Morgans?
The Internship
Resident Evil: Afterlife
Red Tails
The Devil's Advocate
That's My Boy
DragonHeart
After the Sunset
Ghost Rider: Spirit of Vengeance
Captain Corelli's Mandolin
The Pacifier
Walking Tall
Forrest Gump
Alvin and the Chipmunks
Meet the Parents
Pocahontas
Superman
The Nutty Professor
Hitch
George of the Jungle
American Wedding
Captain Phillips
Date Night
Casper
The Equalizer
Maid in Manhattan
Crimson Tide
The Pursuit of Happyness
Flightplan
Disclosure
City of Angels
Kill Bill: Vol. 1
Bowfinger
Kill Bill: Vol. 2
Tango & Cash
Death Becomes Her
Shanghai Noon
Executive Decision
Mr. Popper's Penguins
The Forbidden Kingdom
Free Birds
AlienÂ³
Evita
Ronin
The Ghost and the Darkness
Paddington
The Watch
The Hunted
Instinct
Stuck on You
Semi-Pro
The Pirates! In an Adventure with Scientists!
Changeling
Chain Reaction
The Fan
The Phantom of the Opera
Elizabeth: The Golden Age
Ãon Flux
Gods and Generals
Turbulence
Imagine That
Muppets Most Wanted
Thunderbirds
Burlesque
A Very Long Engagement
Lolita
D-Tox
Blade II
Seven Pounds
Bullet to the Head
The Godfather: Part III
Elizabethtown
You, Me and Dupree
Superman II
Gigli
All the King's Men
Shaft
Anastasia
Moulin Rouge!
Domestic Disturbance
Black Mass
Flags of Our Fathers
Law Abiding Citizen
Grindhouse
Beloved
Lucky You
Catch Me If You Can
Zero Dark Thirty
The Break-Up
Mamma Mia!
Valentine's Day
The Dukes of Hazzard
The Thin Red Line
The Change-Up
Man on the Moon
Casino
From Paris with Love
Bulletproof Monk
Me, Myself & Irene
Barnyard
Deck the Halls
The Twilight Saga: New Moon
Shrek
The Adjustment Bureau
Robin Hood: Prince of Thieves
Jerry Maguire
Ted
As Good as It Gets
Patch Adams
Anchorman 2: The Legend Continues
Mr. Deeds
Super 8
Erin Brockovich
How to Lose a Guy in 10 Days
22 Jump Street
Interview with the Vampire
Yes Man
Central Intelligence
Stepmom
Daddy's Home
Into the Woods
Inside Man
Payback
Congo
We Bought a Zoo
Knowing
Failure to Launch
The Ring Two
Crazy, Stupid, Love.
Garfield
Christmas with the Kranks
Moneyball
Outbreak
Non-Stop
Race to Witch Mountain
V for Vendetta
Shanghai Knights
Curious George
Herbie Fully Loaded
Don't Say a Word
Hansel & Gretel: Witch Hunters
Unfaithful
I Am Number Four
Syriana
13 Hours: The Secret Soldiers of Benghazi
The Book of Life
Firewall
Absolute Power
G.I. Jane
The Game
Silent Hill
The Replacements
American Reunion
The Negotiator
Into the Storm
Beverly Hills Cop III
Gremlins 2: The New Batch
The Judge
The Peacemaker
Resident Evil: Apocalypse
Bridget Jones: The Edge of Reason
Out of Time
On Deadly Ground
The Adventures of Sharkboy and Lavagirl
The Beach
Raising Helen
Ninja Assassin
For Love of the Game
Striptease
Marmaduke
Hereafter
Murder by Numbers
Assassins
Hannibal Rising
The Story of Us
The Host
Basic
Blood Work
The International
Escape from L.A.
The Iron Giant
The Life Aquatic with Steve Zissou
Free State of Jones
The Life of David Gale
Man of the House
Run All Night
Eastern Promises
Into the Blue
The Messenger: The Story of Joan of Arc
Your Highness
Dream House
Mad City
Baby's Day Out
The Scarlet Letter
Fair Game
Domino
Jade
Gamer
Beautiful Creatures
Death to Smoochy
Zoolander 2
The Big Bounce
What Planet Are You From?
Drive Angry
Street Fighter: The Legend of Chun-Li
The One
The Adventures of Ford Fairlane
The Boat That Rocked
Traffic
Indiana Jones and the Last Crusade
Anna Karenina
Chappie
The Bone Collector
Panic Room
The Tooth Fairy
Three Kings
Child 44
Rat Race
K-PAX
Kate & Leopold
Bedazzled
The Cotton Club
3:10 to Yuma
Taken 3
Out of Sight
The Cable Guy
Earth
Dick Tracy
The Thomas Crown Affair
Riding in Cars with Boys
First Blood
Solaris
Happily N'Ever After
Mary Reilly
My Best Friend's Wedding
America's Sweethearts
Insomnia
Star Trek: First Contact
Jonah Hex
Courage Under Fire
Liar Liar
The Infiltrator
Inchon
The Flintstones
Taken 2
Scary Movie 3
Miss Congeniality
Journey to the Center of the Earth
The Princess Diaries 2: Royal Engagement
The Pelican Brief
The Client
The Bucket List
Patriot Games
Monster-in-Law
Prisoners
Training Day
Galaxy Quest
Scary Movie 2
The Muppets
Blade
Coach Carter
Changing Lanes
Anaconda
Coyote Ugly
Love Actually
A Bug's Life
From Hell
The Specialist
Tin Cup
Yours, Mine and Ours
Kicking & Screaming
The Hitchhiker's Guide to the Galaxy
Fat Albert
Resident Evil: Extinction
Blended
Last Holiday
The River Wild
The Indian in the Cupboard
Savages
Cellular
Johnny English
The Ant Bully
Dune
Across the Universe
Revolutionary Road
16 Blocks
Babylon A.D.
The Glimmer Man
Multiplicity
Aliens in the Attic
The Pledge
The Producers
The Phantom
All the Pretty Horses
Nixon
The Ghost Writer
Deep Rising
Miracle at St. Anna
Curse of the Golden Flower
Bangkok Dangerous
Big Trouble
Love in the Time of Cholera
Shadow Conspiracy
Johnny English Reborn
Foodfight!
Argo
The Fugitive
The Bounty Hunter
Sleepers
Rambo: First Blood Part II
The Juror
Pinocchio
Heaven's Gate
Underworld: Evolution
Victor Frankenstein
Finding Forrester
28 Days
Unleashed
The Sweetest Thing
The Firm
Charlie St. Cloud
The Mechanic
21 Jump Street
Notting Hill
Chicken Run
Along Came Polly
Boomerang
The Heat
Cleopatra
Here Comes the Boom
High Crimes
The Mirror Has Two Faces
The Mothman Prophecies
BrÃ¼no
Licence to Kill
Red Riding Hood
15 Minutes
Super Mario Bros.
Lord of War
Hero
One for the Money
The Interview
The Warrior's Way
Micmacs
8 Mile
Why I Did (Not) Eat My Father
A Knight's Tale
The Medallion
The Sixth Sense
Man on a Ledge
The Big Year
The Karate Kid
American Hustle
The Proposal
Double Jeopardy
Back to the Future Part II
Lucy
Fifty Shades of Grey
Spy Kids 3-D: Game Over
A Time to Kill
Cheaper by the Dozen
Lone Survivor
A League of Their Own
The Conjuring 2
The Social Network
He's Just Not That Into You
Scary Movie 4
Scream 3
Back to the Future Part III
Get Hard
Dracula
Julie & Julia
42
The Talented Mr. Ripley
Dumb and Dumber To
Eight Below
The Intern
Ride Along 2
The Last of the Mohicans
Ray
Sin City
Vantage Point
I Love You, Man
Shallow Hal
JFK
Big Momma's House 2
The Mexican
17 Again
The Other Woman
The Final Destination
Bridge of Spies
Behind Enemy Lines
Get Him to the Greek
Shall We Dance?
Small Soldiers
Spawn
The Count of Monte Cristo
The Lincoln Lawyer
Unknown
The Prestige
Horrible Bosses 2
Escape from Planet Earth
Apocalypto
The Living Daylights
Predators
Legal Eagles
Secret Window
The Lake House
The Skeleton Key
The Odd Life of Timothy Green
Made of Honor
Jersey Boys
The Rainmaker
Gothika
Amistad
Medicine Man
Aliens vs Predator: Requiem
RiÂ¢hie RiÂ¢h
Autumn in New York
Music and Lyrics
Paul
The Guilt Trip
Scream 4
8MM
The Doors
Sex Tape
Hanging Up
Final Destination 5
Mickey Blue Eyes
Pay It Forward
Fever Pitch
Drillbit Taylor
A Million Ways to Die in the West
The Shadow
Extremely Loud & Incredibly Close
Morning Glory
Get Rich or Die Tryin'
The Art of War
Rent
Bless the Child
The Out-of-Towners
The Island of Dr. Moreau
The Musketeer
The Other Boleyn Girl
Sweet November
The Reaping
Mean Streets
Renaissance Man
Colombiana
Quest for Camelot
City By The Sea
At First Sight
Torque
City Hall
Showgirls
Marie Antoinette
Kiss of Death
Get Carter
The Impossible
Ishtar
Fantastic Mr. Fox
Life or Something Like It
Memoirs of an Invisible Man
AmÃ©lie
New York Minute
Alfie
Big Miracle
The Deep End of the Ocean
FearDotCom
Cirque du Freak: The Vampire's Assistant
Duplex
Soul Men
Raise the Titanic
Universal Soldier: The Return
Pandorum
Impostor
Extreme Ops
Just Visiting
Sunshine
A Thousand Words
Delgo
The Gunman
Stormbreaker
Disturbia
Hackers
The Hunting Party
The Hudsucker Proxy
The Warlords
Nomad: The Warrior
Snowpiercer
A Monster in Paris
The Last Shot
The Crow
Baahubali: The Beginning
The Time Traveler's Wife
Because I Said So
Frankenweenie
Serenity
Against the Ropes
Superman III
Grudge Match
Red Cliff
Sweet Home Alabama
The Ugly Truth
Sgt. Bilko
Spy Kids 2: The Island of Lost Dreams
Star Trek: Generations
The Grandmaster
Water for Elephants
Dragon Nest: Warriors' Dawn
The Hurricane
Enough
Heartbreakers
Paul Blart: Mall Cop 2
Angel Eyes
Joe Somebody
The Ninth Gate
Extreme Measures
Rock Star
Precious
White Squall
The Thing
Riddick
Switchback
Texas Rangers
City of Ember
The Master
Virgin Territory
The Express
The 5th Wave
Creed
The Town
What to Expect When You're Expecting
Burn After Reading
Nim's Island
Rush
Magnolia
Cop Out
How to Be Single
Dolphin Tale
Twilight
John Q
Blue Streak
We're the Millers
The Inhabited Island
Breakdown
Never Say Never Again
Hot Tub Time Machine
Dolphin Tale 2
Reindeer Games
A Man Apart
Aloha
Ghosts of Mississippi
Snow Falling on Cedars
The Rite
Gattaca
Isn't She Great
Space Chimps
Head of State
The Hangover
Ip Man 3
Austin Powers: The Spy Who Shagged Me
Batman
There Be Dragons
Lethal Weapon 3
The Blind Side
Spy Kids
Horrible Bosses
True Grit
The Devil Wears Prada
Star Trek: The Motion Picture
Identity Thief
Cape Fear
21
Trainwreck
Guess Who
The English Patient
L.A. Confidential
Sky High
In & Out
Species
A Nightmare on Elm Street
The Cell
The Man in the Iron Mask
Secretariat
TMNT
Radio
Friends with Benefits
Neighbors 2: Sorority Rising
Saving Mr. Banks
Malcolm X
This Is 40
Old Dogs
Underworld: Rise of the Lycans
License to Wed
The Benchwarmers
Must Love Dogs
Donnie Brasco
Resident Evil
Poltergeist
The Ladykillers
Max Payne
In Time
The Back-Up Plan
Something Borrowed
Black Knight
The Bad News Bears
Street Fighter
The Pianist
The Nativity Story
House of Wax
Closer
J. Edgar
Mirrors
Queen of the Damned
Predator 2
Untraceable
Blast from the Past
Flash Gordon
Jersey Girl
Alex Cross
Midnight in the Garden of Good and Evil
Heist
Nanny McPhee and the Big Bang
Hoffa
The X Files: I Want to Believe
Ella Enchanted
Concussion
Abduction
Valiant
Wonder Boys
Superhero Movie
Broken City
Cursed
Premium Rush
Hot Pursuit
The Four Feathers
Parker
Wimbledon
Furry Vengeance
Bait
Krull
Lions for Lambs
Flight of the Intruder
Walk Hard: The Dewey Cox Story
The Shipping News
American Outlaws
The Young Victoria
Whiteout
The Tree of Life
Knock Off
Sabotage
The Order
Punisher: War Zone
Zoom
The Walk
Warriors of Virtue
A Good Year
Radio Flyer
Bound by Honor
Smilla's Sense of Snow
Femme Fatale
Lion of the Desert
The Horseman on the Roof
Ride with the Devil
Biutiful
Bandidas
Black Water Transit
The Maze Runner
Unfinished Business
The Age of Innocence
The Fountain
Chill Factor
Stolen
Ponyo
The Longest Ride
The Astronaut's Wife
I Dreamed of Africa
Playing for Keeps
Mandela: Long Walk to Freedom
Reds
A Few Good Men
Exit Wounds
Big Momma's House
Thunder and the House of Magic
The Darkest Hour
Step Up Revolution
Snakes on a Plane
The Watcher
The Punisher
Goal!: The Dream Begins
Safe
Pushing Tin
Return of the Jedi
Doomsday
The Reader
Wanderlust
Elf
Phenomenon
Snow Dogs
Scrooged
Nacho Libre
Bridesmaids
This Is the End
Stigmata
Men of Honor
Takers
The Big Wedding
Big Mommas: Like Father, Like Son
Source Code
Alive
The Number 23
The Young and Prodigious T.S. Spivet
1941
Dreamer: Inspired By a True Story
A History of Violence
Transporter 2
The Quick and the Dead
Laws of Attraction
Bringing Out the Dead
Repo Men
Dragon Wars: D-War
Bogus
The Incredible Burt Wonderstone
Cats Don't Dance
Cradle Will Rock
The Good German
George and the Dragon
Apocalypse Now
Going the Distance
Mr. Holland's Opus
Criminal
Out of Africa
Flight
Moonraker
The Grand Budapest Hotel
Hearts in Atlantis
Arachnophobia
Frequency
Vacation
Get Shorty
Chicago
Big Daddy
American Pie 2
Toy Story
Speed
The Vow
Extraordinary Measures
Remember the Titans
The Hunt for Red October
The Butler
DodgeBall: A True Underdog Story
The Addams Family
Ace Ventura: When Nature Calls
The Princess Diaries
The First Wives Club
Se7en
District 9
The SpongeBob SquarePants Movie
Mystic River
Million Dollar Baby
Analyze This
The Notebook
27 Dresses
Hannah Montana: The Movie
Rugrats in Paris: The Movie
The Prince of Tides
Legends of the Fall
Up in the Air
About Schmidt
Warm Bodies
Looper
Down to Earth
Babe
Hope Springs
Forgetting Sarah Marshall
Four Brothers
Baby Mama
Hope Floats
Bride Wars
Without a Paddle
13 Going on 30
Midnight in Paris
The Nut Job
Blow
Message in a Bottle
Star Trek V: The Final Frontier
Like Mike
The Naked Gun 33â: The Final Insult
A View to a Kill
The Curse of the Were-Rabbit
P.S. I Love You
Racing Stripes
Atonement
Letters to Juliet
Black Rain
The Three Stooges
Corpse Bride
Glory Road
Sicario
Southpaw
Drag Me to Hell
The Age of Adaline
Secondhand Lions
Step Up 3D
Blue Crush
Stranger Than Fiction
30 Days of Night
The Cabin in the Woods
Meet the Spartans
Midnight Run
The Running Man
Little Shop of Horrors
Hanna
Mortal Kombat: Annihilation
Larry Crowne
Carrie
Take the Lead
Gridiron Gang
What's the Worst That Could Happen?
9
Side Effects
The Prince & Me
Winnie the Pooh
Dumb and Dumberer: When Harry Met Lloyd
Bulworth
Get on Up
One True Thing
Virtuosity
My Super Ex-Girlfriend
Deliver Us from Evil
Sanctum
Little Black Book
The Five-Year Engagement
Mr. 3000
The Next Three Days
Ultraviolet
Assault on Precinct 13
The Replacement Killers
Fled
Eight Legged Freaks
Love & Other Drugs
88 Minutes
North Country
The Whole Ten Yards
Splice
Howard the Duck
Pride and Glory
The Cave
Alex & Emma
Wicker Park
Fright Night
The New World
Wing Commander
In Dreams
Dragonball Evolution
The Last Stand
Godsend
Chasing Liberty
Hoodwinked Too! Hood VS. Evil
An Unfinished Life
The Imaginarium of Doctor Parnassus
Barney's Version
Runner Runner
Antitrust
Glory
Once Upon a Time in America
Dead Man Down
The Merchant of Venice
The Good Thief
Supercross
Miss Potter
The Promise
DOA: Dead or Alive
The Assassination of Jesse James by the Coward Robert Ford
1911
Little Nicholas
Wild Card
Machine Gun Preacher
Animals United
Goodbye Bafana
United Passions
Grace of Monaco
Savva. Heart of the Warrior
Ripley's Game
Sausage Party
Pitch Perfect 2
Walk the Line
Keeping the Faith
The Borrowers
Frost/Nixon
Confessions of a Dangerous Mind
Serving Sara
The Boss
Cry Freedom
Mumford
Seed of Chucky
The Jacket
Aladdin
Straight Outta Compton
Indiana Jones and the Temple of Doom
The Rugrats Movie
Along Came a Spider
Florence Foster Jenkins
Once Upon a Time in Mexico
Die Hard
Role Models
The Big Short
Taking Woodstock
Miracle
Dawn of the Dead
The Wedding Planner
Space Pirate Captain Harlock
The Royal Tenenbaums
Identity
Last Vegas
For Your Eyes Only
Serendipity
Timecop
Zoolander
Safe Haven
Hocus Pocus
No Reservations
Kick-Ass
30 Minutes or Less
Dracula 2000
Alexander and the Terrible, Horrible, No Good, Very Bad Day
Pride & Prejudice
Blade Runner
Rob Roy
3 Days to Kill
We Own the Night
Lost Souls
Winged Migration
Just My Luck
Mystery, Alaska
The Spy Next Door
A Simple Wish
Ghosts of Mars
Our Brand Is Crisis
Pride and Prejudice and Zombies
Kundun
How to Lose Friends & Alienate People
Kick-Ass 2
Alatriste
Brick Mansions
Octopussy
Knocked Up

Clockstoppers
Silverado
Brothers
Agent Cody Banks 2: Destination London
New Year's Eve
Original Sin
The Raven
Welcome to Mooseport
Highlander: The Final Dimension
Blood and Wine
Snow White: A Tale of Terror
The Curse of the Jade Scorpion
Accidental Love
Flipper
Self/less
The Constant Gardener
The Passion of the Christ
Mrs. Doubtfire
Rain Man
Gran Torino
W.
Taken
The Best of Me
The Bodyguard
Schindler's List
The Help
The Fifth Estate
Scooby-Doo 2: Monsters Unleashed
Forbidden Kingdom
Freddy vs. Jason
The Face of an Angel
Jimmy Neutron: Boy Genius
Cloverfield
Teenage Mutant Ninja Turtles II: The Secret of the Ooze
The Untouchables
No Country for Old Men
Ride Along
Bridget Jones's Diary
Chocolat
Legally Blonde 2: Red, White & Blonde
Parental Guidance
No Strings Attached
Tombstone
Romeo Must Die
The Omen
Final Destination 3
The Lucky One
Bridge to Terabithia
Finding Neverland
A Madea Christmas
The Grey
Hide and Seek
Anchorman: The Legend of Ron Burgundy
GoodFellas
Agent Cody Banks
Nanny McPhee
Scarface
Nothing to Lose
The Last Emperor
Contraband
Money Talks
There Will Be Blood
The Wild Thornberrys Movie
Rugrats Go Wild
Undercover Brother
The Sisterhood of the Traveling Pants
Kiss of the Dragon
The House Bunny
Beauty Shop
Million Dollar Arm
The Giver
What a Girl Wants
Jeepers Creepers 2
Good Luck Chuck
Cradle 2 the Grave
The Hours
She's the Man
Mr. Bean's Holiday
Anacondas: The Hunt for the Blood Orchid
Blood Ties
August Rush
Elizabeth
Bride of Chucky
Tora! Tora! Tora!
Spice World
The Sitter
Dance Flick
The Shawshank Redemption
Crocodile Dundee in Los Angeles
Kingpin
The Gambler
August: Osage County
Ice Princess
A Lot Like Love
Eddie the Eagle
He Got Game
Don Juan DeMarco
Dear John
The Losers
Don't Be Afraid of the Dark
War
Punch-Drunk Love
EuroTrip
Half Past Dead
Unaccompanied Minors
Bright Lights, Big City
The Adventures of Pinocchio
The Greatest Game Ever Played
The Box
The Ruins
The Next Best Thing
My Soul to Take
The Girl Next Door
Maximum Risk
Stealing Harvard
Legend
Hot Rod
Shark Night
Angela's Ashes
Draft Day
Lifeforce
The Conspirator
Lords of Dogtown
The 33
Big Trouble in Little China
Fly Me to the Moon
Warrior
Michael Collins
Gettysburg
Stop-Loss
Abandon
Brokedown Palace
The Possession
Mrs. Winterbourne
Straw Dogs
The Hoax
Stone Cold
The Road
Sheena
Underclassman
Say It Isn't So
The World's Fastest Indian
Tank Girl
King's Ransom
Blindness
BloodRayne
Carnage
Where the Truth Lies
Cirque du Soleil: Worlds Away
Without Limits
Me and Orson Welles
The Best Offer
The Bad Lieutenant: Port of Call - New Orleans
A Turtle's Tale: Sammy's Adventures
Little White Lies
Love Ranch
The True Story of Puss 'n Boots
Space Dogs
The Counselor
Ironclad
Waterloo
Kung Fu Jungle
Red Sky
Dangerous Liaisons
On the Road
Star Trek IV: The Voyage Home
Rocky Balboa
Scream 2
Jane Got a Gun
Think Like a Man Too
The Whole Nine Yards
Footloose
Old School
The Fisher King
I Still Know What You Did Last Summer
Return to Me
Zack and Miri Make a Porno
Nurse Betty
The Men Who Stare at Goats
Double Take
Girl, Interrupted
Win a Date with Tad Hamilton!
Muppets from Space
The Wiz
Ready to Rumble
Play It to the Bone
I Don't Know How She Does It
Piranha 3D
Beyond the Sea
Meet the Deedles
The Thief and the Cobbler
The Bridge of San Luis Rey
Faster
Howl's Moving Castle
Zombieland
The Waterboy
The Empire Strikes Back
Bad Boys
The Naked Gun 2Â½: The Smell of Fear
Final Destination
The Ides of March
Pitch Black
Someone Like You...
Her
Joy Ride
The Adventurer: The Curse of the Midas Box
Anywhere But Here
The Crew
Haywire
Jaws: The Revenge
Marvin's Room
The Longshots
The End of the Affair
Harley Davidson and the Marlboro Man
In the Valley of Elah
Coco Before Chanel
Forsaken
Cheri
Vanity Fair
Bodyguards and Assassins
1408
Spaceballs
The Water Diviner
Ghost
There's Something About Mary
The Santa Clause
The Rookie
The Game Plan
The Bridges of Madison County
The Animal
Gandhi
The Hundred-Foot Journey
The Net
I Am Sam
Son of God
Underworld
Derailed
The Informant!
Shadowlands
Deuce Bigalow: European Gigolo
Delivery Man
Our Kind of Traitor
Saving Silverman
Diary of a Wimpy Kid: Dog Days
Summer of Sam
Jay and Silent Bob Strike Back
The Glass House
Hail, Caesar!
Josie and the Pussycats
Homefront
The Little Vampire
I Heart Huckabees
RoboCop 3
Megiddo: The Omega Code 2
Darling Lili
Dudley Do-Right
The Transporter Refueled
The Libertine
Black Book
Joyeux NoÃ«l
Hit & Run
Mad Money
Before I Go to Sleep
Sorcerer
Stone
Moliere
Out of the Furnace
Michael Clayton
My Fellow Americans
Arlington Road
Underdogs
To Rome with Love
Firefox
South Park: Bigger, Longer & Uncut
Death at a Funeral
Teenage Mutant Ninja Turtles III
Hardball
Silver Linings Playbook
Freedom Writers
For Colored Girls
The Transporter
Never Back Down
The Rage: Carrie 2
Away We Go
Swing Vote
Moonlight Mile
Tinker Tailor Soldier Spy
Molly
The Beaver
The Best Little Whorehouse in Texas
eXistenZ
Raiders of the Lost Ark
Home Alone 2: Lost in New York
Close Encounters of the Third Kind
Pulse
Beverly Hills Cop II
Bringing Down the House
The Silence of the Lambs
Wayne's World
Jackass 3D
Jaws 2
Beverly Hills Chihuahua
The Conjuring
Are We There Yet?
Tammy
School of Rock
Mortal Kombat
White Chicks
The Descendants
Holes
The Last Song
12 Years a Slave
Drumline
Why Did I Get Married Too?
Edward Scissorhands
Me Before You
Madea's Witness Protection
The French Connection
Bad Moms
Date Movie
Return to Never Land
Selma
The Jungle Book 2
Boogeyman
Premonition
The Tigger Movie
Orphan
Max
Epic Movie
Spotlight
Lakeview Terrace
The Grudge 2
How Stella Got Her Groove Back
Bill & Ted's Bogus Journey
Man of the Year
The Black Hole
The American
Selena
Vampires Suck
Babel
This Is Where I Leave You
Doubt
Team America: World Police
Texas Chainsaw 3D
Copycat
Scary Movie 5
Paint Your Wagon
Milk
Risen
Ghost Ship
A Very Harold & Kumar Christmas
Wild Things
The Stepfather
The Debt
High Fidelity
One Missed Call
Eye for an Eye
The Bank Job
Eternal Sunshine of the Spotless Mind
You Again
Street Kings
The World's End
Nancy Drew
Daybreakers
She's Out of My League
Monte Carlo
Stay Alive
Quigley Down Under
Alpha and Omega
The Covenant
Stick It
Shorts
To Die For
Nerve
Appaloosa
Vampires
Psycho
My Best Friend's Girl
Endless Love
Georgia Rule
Under the Rainbow
Ladyhawke
Simon Birch
Reign Over Me
Into the Wild
School for Scoundrels
Silent Hill: Revelation 3D
From Dusk Till Dawn
Pooh's Heffalump Movie
Home for the Holidays
Kung Fu Hustle
The Country Bears
The Kite Runner
21 Grams
Paparazzi
A Guy Thing
Loser
Capitalism: A Love Story
The Greatest Story Ever Told
Secret in Their Eyes
Disaster Movie
Armored
The Man Who Knew Too Little
What's Your Number?
Lockout
Envy
Crank: High Voltage
Bullets Over Broadway
One Night with the King
The Quiet American
The Weather Man
Undisputed
Ghost Town
12 Rounds
Let Me In
3 Ninjas Kick Back
Be Kind Rewind
Mrs Henderson Presents
Triple 9
Deconstructing Harry
Three to Tango
Burnt
We're No Angels
Everyone Says I Love You
Death Sentence
Everybody's Fine
Superbabies: Baby Geniuses 2
The Man
Code Name: The Cleaner
Connie and Carla
Sweet Charity
Inherent Vice
Doogal
Battle of the Year
An American Carol
Machete Kills
Willard
Strange Wilderness
Topsy-Turvy
Little Boy
A Dangerous Method
A Scanner Darkly
Chasing Mavericks
Alone in the Dark
Bandslam
Birth
A Most Violent Year
Passchendaele
Flash of Genius
I'm Not There.
The Cold Light of Day
The Brothers Bloom
Synecdoche, New York
Princess Mononoke
Bon voyage
Can't Stop the Music
The Proposition
My All American
Marci X
Equilibrium
The Children of Huang Shi
The Yards
The Oogieloves in the Big Balloon Adventure
By the Sea
Steamboy
The Game of Their Lives
All Good Things
Rapa Nui
CJ7
The Visitors II: The Corridors of Time
Dylan Dog: Dead of Night
People I Know
The Tempest
Regression
Three Kingdoms: Resurrection of the Dragon
Butterfly on a Wheel
Zambezia
Ramanujan
Dwegons
Hands of Stone
Survivor
The Frozen Ground
The Painted Veil
The Baader Meinhof Complex
Dances with Wolves
Bad Teacher
Sea of Love
A Cinderella Story
Scream
Thir13en Ghosts
The Shining
Back to the Future
House on Haunted Hill
I Can Do Bad All By Myself
Fight Valley
The Switch
Just Married
The Devil's Double
Thomas and the Magic Railroad
The Crazies
Spirited Away
Firestorm
The Bounty
The Book Thief
Sex Drive
Leap Year
The Fall of the Roman Empire
Take Me Home Tonight
Won't Back Down
The Nutcracker
Kansas City
Indignation
The Amityville Horror
Adaptation.
Land of the Dead
Out of Inferno
Fear and Loathing in Las Vegas
The Invention of Lying
Neighbors
The Mask
Big
Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan
Legally Blonde
Star Trek III: The Search for Spock
The Exorcism of Emily Rose
Deuce Bigalow: Male Gigolo
Left Behind
The Family Stone
Barbershop 2:  Back in Business
Bad Santa
Austin Powers: International Man of Mystery
My Big Fat Greek Wedding 2
Diary of a Wimpy Kid: Rodrick Rules
Predator
Amadeus
Prom Night
Mean Girls
Under the Tuscan Sun
Gosford Park
Peggy Sue Got Married
Birdman
Blue Jasmine
United 93
Honey
Spy Hard
The Fog
Soul Surfer
Catch-22
Observe and Report
Conan the Destroyer
Raging Bull
Love Happens
Young Sherlock Holmes
Fame
127 Hours
Small Time Crooks
Center Stage
Love the Coopers
Catch That Kid
Life as a House
Steve Jobs
I Love You, Beth Cooper
Youth in Revolt
The Legend of the Lone Ranger
The Tailor of Panama
Blow Out
Getaway
The Ice Storm
And So It Goes
Troop Beverly Hills
Being Julia
Nine 1/2 Weeks
Dragonslayer
The Last Station
Ed Wood
Labor Day
Mongol: The Rise of Genghis Khan
RockNRolla
Megaforce
Hamlet
Mao's Last Dancer
Midnight Special
Anything Else
The Railway Man
The White Ribbon
Restoration
The Wraith
Salton Sea
Metallica: Through the Never
The Informers
Carlos
I Come with the Rain
One Man's Hero
Day of the Dead
I Am Wrath
Renaissance
Red Sonja
Red Lights
Superbad
Madea Goes to Jail
Wolves
Step Up 2: The Streets
Hoodwinked!
Hotel Rwanda
Hitman
Black Nativity
The Prince
City of Ghosts
The Others
Aliens
My Fair Lady
I Know What You Did Last Summer
Let's Be Cops
Sideways
Beerfest
Halloween
Good Boy!
The Best Man Holiday
Smokin' Aces
Saw: The Final Chapter
40 Days and 40 Nights
A Night at the Roxbury
Beastly
The Hills Have Eyes
Dickie Roberts: Former Child Star
McFarland, USA
Lottery Ticket
ATL
Pitch Perfect
Summer Catch
A Simple Plan
They
Larry the Cable Guy: Health Inspector
The Adventures of Elmo in Grouchland
Brooklyn's Finest
55 Days at Peking
Evil Dead
My Life in Ruins
American Dreamz
Superman IV: The Quest for Peace
How She Move
Running Scared
Bobby Jones: Stroke of Genius
Shanghai Surprise
The Illusionist
Roar
Veronica Guerin
Escobar: Paradise Lost
Southland Tales
Dragon Hunters
Damnation Alley
The Apparition
My Girl
Fur: An Imaginary Portrait of Diane Arbus
Wall Street
Sense and Sensibility
Becoming Jane
Sydney White
House of Sand and Fog
Dead Poets Society
Dumb and Dumber
When Harry Met Sally...
The Verdict
Road Trip
Varsity Blues
The Artist
The Unborn
Moonrise Kingdom
The Texas Chainsaw Massacre: The Beginning
The Young Messiah
The Master of Disguise
Pan's Labyrinth
See Spot Run
Baby Boy
The Roommate
Joe Dirt
Double Impact
Hot Fuzz
The Women
Vicky Cristina Barcelona
Arn: The Knight Templar
Boys and Girls
White Oleander
Jennifer's Body
Drowning Mona
Radio Days
Remember Me
How to Deal
My Stepmother is an Alien
Philadelphia
The Thirteenth Floor
The Cookout
Meteor
Duets
Hollywood Ending
Detroit Rock City
Highlander
Things We Lost in the Fire
Steel
The Immigrant
The White Countess
Trance
Soul Plane
Welcome to the Sticks
Good
Enter the Void
Vamps
Hachi: A Dog's Tale
Zulu
The Homesman
Juwanna Mann
Ararat
Madison
Slow Burn
Wasabi
Slither
Beverly Hills Cop
Home Alone
Three Men and a Baby
Tootsie
Top Gun
Crouching Tiger, Hidden Dragon
American Beauty
The King's Speech
Twins
The Yellow Handkerchief
The Color Purple
Tidal Wave
The Imitation Game
Private Benjamin
Coal Miner's Daughter
Diary of a Wimpy Kid
Mama
National Lampoon's Vacation
Bad Grandpa
The Queen
Beetlejuice
Why Did I Get Married?
Little Women
The Woman in Black
When a Stranger Calls
Big Fat Liar
The Deer Hunter
Wag the Dog
The Lizzie McGuire Movie
Snitch
Krampus
The Faculty
What's Love Got to Do with It
Cop Land
Not Another Teen Movie
End of Watch
The Skulls
The Theory of Everything
Malibu's Most Wanted
Where the Heart Is
Lawrence of Arabia
Halloween II
Wild
The Last House on the Left
The Wedding Date
Halloween: Resurrection
The Princess Bride
The Great Debaters
Drive
Confessions of a Teenage Drama Queen
The Object of My Affection
28 Weeks Later
When the Game Stands Tall
Because of Winn-Dixie
Love & Basketball
Grosse Pointe Blank
All About Steve
Book of Shadows: Blair Witch 2
The Craft
Match Point
Ramona and Beezus
The Remains of the Day
Boogie Nights
Nowhere to Run
Flicka
The Hills Have Eyes 2
Urban Legends: Final Cut
Tuck Everlasting
The Marine
Keanu
Country Strong
Disturbing Behavior
The Place Beyond the Pines
The November Man
Eye of the Beholder
The Hurt Locker
Firestarter
Killing Them Softly
A Most Wanted Man
Freddy Got Fingered
VeggieTales: The Pirates Who Don't Do Anything
U2 3D
Highlander: Endgame
Idlewild
One Day
Whip It
Knockaround Guys
Confidence
The Muse
De-Lovely
New York Stories
Barney's Great Adventure
The Man with the Iron Fists
Home Fries
Here On Earth
Brazil
Raise Your Voice
The Big Lebowski
Black Snake Moan
Dark Blue
A Mighty Heart
Whatever It Takes
Boat Trip
The Importance of Being Earnest
The Love Letter
Hoot
In Bruges
Peeples
The Rocker
Post Grad
Promised Land
Whatever Works
The In Crowd
The Three Burials of Melquiades Estrada
Jakob the Liar
Kiss Kiss Bang Bang
Idle Hands
Mulholland Drive
Blood and Chocolate
You Will Meet a Tall Dark Stranger
Never Let Me Go
The Company
Transsiberian
The Clan of the Cave Bear
Crazy in Alabama
Funny Games
Listening
Felicia's Journey
Metropolis
District B13
Things to Do in Denver When You're Dead
The Assassin
Buffalo Soldiers
The Return
Ong Bak 2
Centurion
Silent Trigger
The Midnight Meat Train
Winnie Mandela
The Son of No One
All The Queen's Men
The Good Night
Bathory: Countess of Blood
Khumba
Automata
Dungeons & Dragons: Wrath of the Dragon God
Chiamatemi Francesco - Il Papa della gente
Shinjuku Incident
Pandaemonium
Groundhog Day
Magic Mike XXL
Romeo + Juliet
Sarah's Key
Freedom
Unforgiven
Manderlay
Slumdog Millionaire
Fatal Attraction
Pretty Woman
Crocodile Dundee II
Broken Horses
Born on the Fourth of July
Cool Runnings
My Bloody Valentine
Stomp the Yard
The Spy Who Loved Me
Urban Legend
Good Deeds
White Fang
Superstar
The Iron Lady
Jonah: A VeggieTales Movie
Poetic Justice
All About the Benjamins
Vampire in Brooklyn
Exorcist II: The Heretic
An American Haunting
My Boss's Daughter
A Perfect Getaway
Our Family Wedding
Dead Man on Campus
Tea with Mussolini
Thinner
New York, New York
Crooklyn
I Think I Love My Wife
Jason X
Bobby
Head Over Heels
Fun Size
The Diving Bell and the Butterfly
Little Children
Gossip
A Walk on the Moon
Catch a Fire
Soul Survivors
Jefferson in Paris
Easy Virtue
Caravans
Mr. Turner
Wild Grass
Amen.
Reign of Assassins
The Lucky Ones
Margaret
Stan Helsing
Flipped
Brokeback Mountain
Clueless
Far from Heaven
Hot Tub Time Machine 2
Quills
Seven Psychopaths
The Caveman's Valentine
Downfall
The Sea Inside
Under the Skin
Good Morning, Vietnam
The Last Godfather
Justin Bieber: Never Say Never
Black Swan
The Godfather: Part II
Save the Last Dance
A Nightmare on Elm Street 4: The Dream Master
Miracles from Heaven
Dude, Whereâs My Car?
Young Guns
St. Vincent
About Last Night
10 Things I Hate About You
The New Guy
National Lampoon's Loaded Weapon 1
The Shallows
The Butterfly Effect
Snow Day
This Christmas
Baby Geniuses
The Big Hit
Harriet the Spy
Child's Play 2
No Good Deed
The Mist
Ex Machina
Being John Malkovich
Two Can Play That Game
Earth to Echo
Crazy/Beautiful
Letters from Iwo Jima
The Astronaut Farmer
Woo
Room
Dirty Work
Serial Mom
Dick
Light It Up
54
Bubble Boy
Birthday Girl
21 & Over
Paris, je t'aime
Resurrecting the Champ
Admission
The Widow of Saint-Pierre
Chloe
Faithful
Find Me Guilty
The Perks of Being a Wallflower
Excessive Force
Infamous
The Claim
The Vatican Tapes
Attack the Block
In the Land of Blood and Honey
The Call
Operation Chromite
The Crocodile Hunter: Collision Course
I Love You Phillip Morris
Quest for Fire
Antwone Fisher
The Emperor's Club
True Romance
Womb
Glengarry Glen Ross
The Killer Inside Me
Cat People
Sorority Row
The Prisoner of Zenda
Lars and the Real Girl
The Boy in the Striped Pyjamas
Dancer in the Dark
Oscar and Lucinda
The Funeral
Solitary Man
Machete
Casino Jack
The Land Before Time
Tae Guk Gi: The Brotherhood of War
The Perfect Game
The Exorcist
Jaws
American Pie
Ernest & Celestine
The Golden Child
Think Like a Man
Barbershop
Star Trek II: The Wrath of Khan
Ace Ventura: Pet Detective
WarGames
Witness
Act of Valor
Step Up
Beavis and Butt-Head Do America
Jackie Brown
Harold & Kumar Escape from Guantanamo Bay
Chronicle
Yentl
Time Bandits
Crossroads
Project X
Patton
One Hour Photo
Quarantine
The Eye
Johnson Family Vacation
How High
The Muppet Christmas Carol
Frida
Katy Perry: Part of Me
The Fault in Our Stars
Rounders
Top Five
Prophecy
Stir of Echoes
Philomena
The Upside of Anger
The Boys from Brazil
Aquamarine
Paper Towns
My Baby's Daddy
Nebraska
Tales from the Crypt: Demon Knight
Max Keeble's Big Move
Young Adult
Crank
Def Jam's How to Be a Player
Living Out Loud
Just Wright
Rachel Getting Married
The Postman Always Rings Twice
Girl with a Pearl Earring
Das Boot
Sorority Boys
About Time
House of Flying Daggers
Arbitrage
Project Almanac
Cadillac Records
Screwed
Fortress
For Your Consideration
Celebrity
Running with Scissors
From Justin to Kelly
Girl 6
In the Cut
Two Lovers
Last Orders
The Host
The Pursuit of D.B. Cooper
Ravenous
Charlie Bartlett
The Great Beauty
The Dangerous Lives of Altar Boys
Stoker
2046
Married Life
Duma
Ondine
Brother
Welcome to Collinwood
Critical Care
The Life Before Her Eyes
Darling Companion
Trade
Fateless
Breakfast of Champions
A Woman, a Gun and a Noodle Shop
Cypher
City of Life and Death
Legend of a Rabbit
Space Battleship Yamato
5 Days of War
Triangle
10 Days in a Madhouse
Heaven is for Real
Snatch
Dancin' It's On
Pet Sematary
Madadayo
The Cry of the Owl
A Tale of Three Cities
Gremlins
Star Wars
Dirty Grandpa
Doctor Zhivago
Trash
High School Musical 3: Senior Year
The Fighter
Jackass Number Two
My Cousin Vinny
If I Stay
Drive Hard
Major League
St. Trinian's
Phone Booth
A Walk to Remember
Dead Man Walking
Cruel Intentions
Saw VI
History of the World: Part I
The Secret Life of Bees
Corky Romano
Raising Cain
F.I.S.T.
Invaders from Mars
Brooklyn
Barry Lyndon
Out Cold
The Ladies Man
Quartet
Tomcats
Frailty
Woman in Gold
Kinsey
Army of Darkness
Slackers
What's Eating Gilbert Grape
The Visual Bible: The Gospel of John
Vera Drake
The Guru
The Perez Family
Inside Llewyn Davis
O
Return to the Blue Lagoon
The Molly Maguires
Romance & Cigarettes
Copying Beethoven
Brighton Rock
Saw V
Machine Gun McCain
LOL
Jindabyne
Kabhi Alvida Naa Kehna
An Ideal Husband
The Last Days on Mars
Darkness
2001: A Space Odyssey
E.T. the Extra-Terrestrial
In the Land of Women
The Blue Butterfly
There Goes My Baby
Housefull
September Dawn
For Greater Glory - The True Story of Cristiada
The BÃ©lier Family
Good Will Hunting
Misconduct
Saw III
Stripes
Bring It On
The Purge: Election Year
She's All That
Saw IV
White Noise
Madea's Family Reunion
The Color of Money
The Longest Day
The Mighty Ducks
The Grudge
Happy Gilmore
Jeepers Creepers
Bill & Ted's Excellent Adventure
Oliver!
The Best Exotic Marigold Hotel
Recess: School's Out
Mad Max Beyond Thunderdome
Commando
The Boy
Devil
Friday After Next
Insidious: Chapter 3
The Last Dragon
The Lawnmower Man
Nick and Norah's Infinite Playlist
Dogma
The Banger Sisters
Twilight Zone: The Movie
Road House
A Low Down Dirty Shame
Swimfan
Employee of the Month
Can't Hardly Wait
The Outsiders
Pete's Dragon
The Dead Zone
Sinister 2
Sparkle
Valentine
The Fourth Kind
A Prairie Home Companion
Sugar Hill
Invasion U.S.A.
Roll Bounce
Rushmore
Skyline

My Lucky Star
Imagine Me & You
Mr. Church
Swimming Pool
Green Street Hooligans: Underground
The Blood of Heroes
Code of Honor
Driving Miss Daisy
Soul Food
Rumble in the Bronx
Far from Men
Thank You for Smoking
Hostel: Part II
An Education
Shopgirl
The Hotel New Hampshire
Narc
Men with Brooms
Witless Protection
The Work and the Glory
Extract
Masked and Anonymous
Betty Fisher and Other Stories
Code 46
Outside Bet
Albert Nobbs
Black November
Ta Ra Rum Pum
Persepolis
The Hole
The Wave
The Neon Demon
Harry Brown
The Omega Code
Juno
Pound of Flesh
Diamonds Are Forever
The Godfather
Flashdance
(500) Days of Summer
The Piano
Magic Mike
Darkness Falls
Live and Let Die
My Dog Skip
Definitely, Maybe
Jumping the Broom
Good Night, and Good Luck.
Capote
Desperado
Logan's Run
The Man with the Golden Gun
Action Jackson
The Descent
Michael Jordan to the Max
Devil's Due
Flirting with Disaster
The Devil's Rejects
Dope
In Too Deep
House of 1000 Corpses
Alien Zone
A Serious Man
Get Low
Warlock
Beyond the Lights
A Single Man
The Last Temptation of Christ
Outside Providence
Bride & Prejudice
Rabbit-Proof Fence
Who's Your Caddy?
Split Second
The Other Side of Heaven
Veer-Zaara
Redbelt
Cyrus
A Dog Of Flanders
Auto Focus
Factory Girl
We Need to Talk About Kevin
The Christmas Candle
The Mighty Macs
Losin' It
Mother and Child
March or Die
The Visitors
Somewhere
I Hope They Serve Beer in Hell
Chairman of the Board
Hesher
Dom Hemingway
Gerry
The Heart of Me
Freeheld
The Extra Man
Hard to Be a God
Ca$h
Wah-Wah
The Boondock Saints
Z Storm
Twixt
The Snow Queen
Alpha and Omega: The Legend of the Saw Tooth Cave
Pale Rider
Stargate: The Ark of Truth
Dazed and Confused
High School Musical 2
Two Lovers and a Bear
Criminal Activities
Aimee & Jaguar
The Chumscrubber
Shade
House at the End of the Street
Incendies
Remember Me, My Love
Perrierâs Bounty
Elite Squad
Annabelle
Bran Nue Dae
Boyz n the Hood
La Bamba
The Four Seasons
Dressed to Kill
The Adventures of Huck Finn
Go
Friends with Money
The Andromeda Strain
Bats
Nowhere in Africa
Shame
Layer Cake
The Work and the Glory II: American Zion
The East
A Home at the End of the World
Aberdeen
The Messenger
Tracker
Control
The Terminator
Good bye, Lenin!
The Damned United
The Return of the Living Dead
Mallrats
Grease
Platoon
Fahrenheit 9/11
Butch Cassidy and the Sundance Kid
Mary Poppins
Ordinary People
West Side Story
Caddyshack
The Brothers
The Wood
The Usual Suspects
A Nightmare on Elm Street 5: The Dream Child
National Lampoonâs Van Wilder
The Wrestler
Duel in the Sun
Best in Show
Escape from New York
School Daze
Daddy Day Camp
Mr. Nice Guy
A Mighty Wind
Mystic Pizza
Sliding Doors
Tales from the Hood
The Last King of Scotland
Halloween 5: The Revenge of Michael Myers
Bernie
Dolphins and Whales: Tribes of the Ocean
Pollock
200 Cigarettes
The Words
Casa De Mi Padre
City Island
The Guard
College
The Virgin Suicides
Little Voice
Miss March
Wish I Was Here
Simply Irresistible
Hedwig and the Angry Inch
Only the Strong
Goddess of Love
Shattered Glass
Novocaine
The Business of Strangers
The Wild Bunch
The Wackness
The First Great Train Robbery
Morvern Callar
Beastmaster 2: Through the Portal of Time
The 5th Quarter
The Flower of Evil
The Greatest
Snow Flower and the Secret Fan
Come Early Morning
Lucky Break
Julia
Surfer, Dude
Lake of Fire
11:14
Men of War
Don McKay
Deadfall
A Shine of Rainbows
The Hit List
Emma
Videodrome
The Spanish Apartment
Song One
Winter in Wartime
Freaky Deaky
The Train
Trade Of Innocents
The Protector
Stiff Upper Lips
Bend It Like Beckham
Sunshine State
Crossover
Khiladi 786
[REC]Â²
Standing Ovation
The Sting
Chariots of Fire
Diary of a Mad Black Woman
Shine
Don Jon
High Plains Drifter
Ghost World
Iris
Galaxina
The Chorus
Mambo Italiano
Wonderland
Do the Right Thing
Harvard Man
Le Havre
Irreversible
R100
Rang De Basanti
Animals
Salvation Boulevard
The Ten
A Room for Romeo Brass
Headhunters
Grabbers
Saint Ralph
Miss Julie
Somewhere in Time
Dum Maaro Dum
Insidious: Chapter 2
Saw II
10 Cloverfield Lane
Jackass: The Movie
Lights Out
Paranormal Activity 3
Ouija
A Nightmare on Elm Street 3: Dream Warriors
Instructions Not Included
Paranormal Activity 4
The Robe
The Return of the Pink Panther
Freddy's Dead: The Final Nightmare
Monster
20,000 Leagues Under the Sea
Paranormal Activity: The Marked Ones
The Elephant Man
Dallas Buyers Club
The Lazarus Effect
Memento
Oculus
Clerks II
Billy Elliot
The Way Way Back
House Party 2
The Man from Snowy River
Doug's 1st Movie
The Apostle
Mommie Dearest
Our Idiot Brother
Race
The Players Club
As Above, So Below
Addicted
Eve's Bayou
Still Alice
The Egyptian
Nighthawks
Friday the 13th Part VIII: Jason Takes Manhattan
My Big Fat Greek Wedding
Spring Breakers
Halloween: The Curse of Michael Myers
Y Tu MamÃ¡ TambiÃ©n
Shaun of the Dead
The Haunting of Molly Hartley
Lone Star
Halloween 4: The Return of Michael Myers
April Fool's Day
Diner
Lone Wolf McQuade
Apollo 18
Sunshine Cleaning
No Escape
The Beastmaster
Solomon and Sheba
Fifty Shades of Black
Not Easily Broken
A Farewell to Arms
The Perfect Match
Digimon: The Movie
Saved!
The Barbarian Invasions
Robin and Marian
The Forsaken
Force 10 from Navarone
UHF
Grandma's Boy
Slums of Beverly Hills
Once Upon a Time in the West
Made
Moon
Keeping Up with the Steins
Sea Rex 3D: Journey to a Prehistoric World
The Sweet Hereafter
Of Gods and Men
Bottle Shock
Jekyll and Hyde ... Together Again
Heavenly Creatures
90 Minutes in Heaven
Everything Must Go
Zero Effect
The Machinist
Light Sleeper
Kill the Messenger
Rabbit Hole
Party Monster
Green Room
The Oh in Ohio
Atlas Shrugged Part III: Who is John Galt?
Bottle Rocket
Albino Alligator
Gandhi, My Father
Standard Operating Procedure
Out of the Blue
Tucker and Dale vs Evil
Lovely, Still
Tycoon
Desert Blue
Decoys
The Visit
Redacted
Fascination
Area 51
Sleep Tight
The Cottage
Dead Like Me: Life After Death
Farce of the Penguins
Flying By
Rudderless
Henry & Me
Christmas Eve
We Have Your Husband
Dying of the Light
Born Of War
Capricorn One
Should've Been Romeo
Running Forever
Yoga Hosers
Navy Seals vs. Zombies
I Served the King of England
Soul Kitchen
Sling Blade
The Awakening
Hostel
A Cock and Bull Story
Take Shelter
Lady in White
Driving Lessons
Let's Kill Ward's Wife
The Texas Chainsaw Massacre 2
Pat Garrett & Billy the Kid
Only God Forgives
Camping Sauvage
Without Men
Dear Frankie
All Hat
The Names of Love
Treading Water
Savage Grace
Out of the Blue
Police Academy
The Blue Lagoon
Four Weddings and a Funeral
Fast Times at Ridgemont High
Moby Dick
25th Hour
Bound
Requiem for a Dream
State Fair
Tango
Salvador
Moms' Night Out
Donnie Darko
Saving Private Perez
Character
Spun
Life During Wartime
Sympathy for Lady Vengeance
Mozart's Sister
Mean Machine
Exiled
Blackthorn
Lilya 4-ever
After.Life
Fugly
One Flew Over the Cuckoo's Nest
R.L. Stine's Monsterville: The Cabinet of Souls
Silent Movie
Airlift
Anne of Green Gables
Falcon Rising
The Sweeney
Sexy Beast
Easy Money
Whale Rider
Paa
Cargo
High School Musical
Love and Death on Long Island
Night Watch
The Crying Game
Porky's
Survival of the Dead
Night of the Living Dead
Lost in Translation
Annie Hall
The Greatest Show on Earth
Monster's Ball
Maggie
Leaving Las Vegas
Hansel and Gretel Get Baked
The Front Page
The Boy Next Door
Trapeze
The Kids Are All Right
They Live
The Great Escape
What the #$*! Do We (K)now!?
The Last Exorcism Part II
Boyhood
Scoop
The Wash
3 Strikes
The Cooler
The Misfits
The Night Listener
The Jerky Boys
The Orphanage
A Haunted House 2
The Rules of Attraction
Topaz
Let's Go to Prison
Four Rooms
Secretary
The Real Cancun
Talk Radio
Waiting for Guffman
Love Stinks
You Kill Me
Thumbsucker
Red State
Mirrormask
Samsara
The Barbarians
The Art of Getting By
Zipper
Poolhall Junkies
The Loss of Sexual Innocence
Holy Motors
Joe
Shooting Fish
Prison
Psycho Beach Party
The Big Tease
Guten Tag, RamÃ³n
Trust
An Everlasting Piece
Among Giants
Adore
The Velocity of Gary
Mondays in the Sun
Stake Land
The Last Time I Committed Suicide
Futuro Beach
Another Happy Day
A Lonely Place to Die
Nothing
The Geographer Drank His Globe Away
1776
Inescapable
Hell's Angels
Purple Violets
The Veil
The Loved Ones
The Helpers
How to Fall in Love
The Perfect Wave
A Man for All Seasons
Network
Gone with the Wind
Desert Dancer
Major Dundee
Annie Get Your Gun
Four Lions
The House of Sand
Defendor
The Pirate
The Good Heart
The History Boys
Midnight Cowboy
The Full Monty
Airplane!
Chain of Command
Friday
Menace II Society
Creepshow 2
The Ballad of Cable Hogue
In Cold Blood
The Nun's Story
Harper
Frenzy
The Witch
I Got the Hook Up
She's the One
Gods and Monsters
The Secret in Their Eyes
Train
Evil Dead II
Pootie Tang
Sharknado
The Other Conquest
Troll Hunter
Ira & Abby
Winter Passing
D.E.B.S.
The Masked Saint
The Betrayed
Taxman
The Secret
2:13
Batman: The Dark Knight Returns, Part 2
Time to Choose
In the Name of the King III
Wicked Blood
Stranded
Lords of London
High Anxiety
March of the Penguins
Margin Call
August
Choke
Whiplash
City of God
Human Traffic
To Write Love on Her Arms
The Dead Girl
The Hunt
A Christmas Story
Bella
Class of 1984
The Opposite Sex
Dreaming of Joseph Lees
The Class
Rosemary's Baby
The Man Who Shot Liberty Valance
Adam
Maria Full of Grace
Beginners
Feast
Animal House
Goldfinger
Antiviral
It's a Wonderful Life
Trainspotting
The Original Kings of Comedy
Paranormal Activity 2
Waking Ned
Bowling for Columbine
Coming Home
A Nightmare on Elm Street Part 2: Freddy's Revenge
A Room with a View
The Purge
Sinister
Martin Lawrence Live: Runteldat
Cat on a Hot Tin Roof
Beneath the Planet of the Apes
Air Bud
PokÃ©mon: Spell of the Unknown
Friday the 13th Part VI: Jason Lives
The Bridge on the River Kwai
Spaced Invaders
Family Plot
The Apartment
Jason Goes to Hell: The Final Friday
Torn Curtain
Dave Chappelle's Block Party
Slow West
Krush Groove
Next Day Air
Elmer Gantry
Judgment at Nuremberg
Trippin'
Red River
Phat Girlz
Before Midnight
Teen Wolf Too
Phantasm II
Woman Thou Art Loosed
Real Women Have Curves
Water
East Is East
Whipped
Kama Sutra - A Tale of Love
Please Give
Willy Wonka & the Chocolate Factory
Warlock: The Armageddon
8 Heads in a Duffel Bag
Days of Heaven
Thirteen Conversations About One Thing
Jawbreaker
Basquiat
Frances Ha
Tsotsi
Happiness
DysFunktional Family
Tusk
Oldboy
Letters to God
Hobo with a Shotgun
Compadres
Freeway
Love's Abiding Joy
Fish Tank
Damsels in Distress
Creature
Bachelorette
Brave New Girl
Tim and Eric's Billion Dollar Movie
Summer Storm
Fort McCoy
Chain Letter
Just Looking
The Divide
The Eclipse
Demonic
My Big Fat Independent Movie
The Deported
Tanner Hall
Open Road
They Came Together
30 Nights of Paranormal Activity With the Devil Inside the Girl With the Dragon Tattoo
Never Back Down 2: The Beatdown
Point Blank
Four Single Fathers
Enter the Dangerous Mind
Something Wicked
AWOL-72
Iguana
Chicago Overcoat
Barry Munday
Central Station
Pocketful of Miracles
Close Range
Boynton Beach Club
Amnesiac
Freakonomics
High Tension
Griff the Invisible
Unnatural
Hustle & Flow
Some Like It Hot
Friday the 13th Part VII: The New Blood
The Wizard of Oz
Young Frankenstein
Diary of the Dead
Lage Raho Munna Bhai
Ulee's Gold
The Black Stallion
Sardaarji
Journey to Saturn
Donovan's Reef
The Dress
A Guy Named Joe
Blazing Saddles
Friday the 13th: The Final Chapter
Ida
Maurice
Beer League
Riding Giants
Timecrimes
Silver Medalist
Timber Falls
Singin' in the Rain
Fat, Sick & Nearly Dead
A Haunted House
2016: Obama's America
That Thing You Do!
Halloween III: Season of the Witch
Escape from the Planet of the Apes
Hud
Kevin Hart: Let Me Explain
My Own Private Idaho
Garden State
Before Sunrise
Evil Words
Jesus' Son
Saving Face
Brick Lane
Robot & Frank
My Life Without Me
The Spectacular Now
Religulous
Fuel
Valley of the Heart's Delight
Eye of the Dolphin
8: The Mormon Proposition
The Other End of the Line
Anatomy
Sleep Dealer
Super
Christmas Mail
Stung
Antibirth
Get on the Bus
Thr3e
Idiocracy
The Rise of the Krays
This Is England
U.F.O.
Bathing Beauty
Go for It!
Dancer, Texas Pop. 81
Show Boat
Redemption Road
The Calling
The Brave Little Toaster
Fantasia
8 Days
Friday the 13th Part III
Friday the 13th: A New Beginning
The Last Sin Eater
Do You Believe?
Impact Point
The Valley of Decision
Eden
Chicken Tikka Masala
There's Always Woodstock
Jack Brooks: Monster Slayer
The Best Years of Our Lives
Bully
Elling
Mi America
[REC]
Lies in Plain Sight
Sharkskin
Containment
The Timber
From Russia with Love
The Toxic Avenger Part II
Sleeper
It Follows
Everything You Always Wanted to Know About Sex *But Were Afraid to Ask
To Kill a Mockingbird
Mad Max 2: The Road Warrior
The Legend of Drunken Master
Boys Don't Cry
Silent House
The Lives of Others
Courageous
The Hustler
Boom Town
The Triplets of Belleville
Smoke Signals
American Splendor
Before Sunset
Amores perros
Thirteen
Gentleman's Agreement
Winter's Bone
Touching the Void
Alexander's Ragtime Band
Me and You and Everyone We Know
Inside Job
We Are Your Friends
Ghost Dog: The Way of the Samurai
Harsh Times
Captive
Full Frontal
Witchboard
Shortbus
Waltz with Bashir
The Book of Mormon Movie, Volume 1: The Journey
No End in Sight
The Diary of a Teenage Girl
In the Shadow of the Moon
Meek's Cutoff
Inside Deep Throat
Dinner Rush
Clockwatchers
The Virginity Hit
Subway
House of D
Teeth
Six-String Samurai
Hum To Mohabbat Karega
It's All Gone Pete Tong
Saint John of Las Vegas
24 7: Twenty Four Seven
Stonewall
Roadside Romeo
This Thing of Ours
The Lost Medallion: The Adventures of Billy Stone
The Last Five Years
The Missing Person
Return of the Living Dead 3
London
Sherrybaby
Circle
Eden Lake
Plush
Lesbian Vampire Killers
Gangster's Paradise: Jerusalema
Freeze Frame
Grave Encounters
Stitches
Nine Dead
To Be Frank, Sinatra at 100
Bananas
Supercapitalist
Rockaway
The Lady from Shanghai
No Man's Land: The Rise of Reeker
Highway
Small Apartments
Coffee Town
The Ghastly Love of Johnny X
All Is Bright
The Torture Chamber of Dr. Sadism
Straight A's
A Funny Thing Happened on the Way to the Forum
Slacker Uprising
The Legend of Hell's Gate: An American Conspiracy
The Walking Deceased
The Curse of Downers Grove
Shark Lake
River's Edge
Northfork
The Marine 4: Moving Target
Buried
Submarine
The Square
One to Another
ABCD (Any Body Can Dance)
Man on Wire
Abandoned
Brotherly Love
The Last Exorcism
Nowhere Boy
A Streetcar Named Desire
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb
The Crime of Padre Amaro
Beasts of the Southern Wild
Battle for the Planet of the Apes
Songcatcher
Higher Ground
Vaalu
The Greatest Movie Ever Sold
Ed and His Dead Mother
Travellers and Magicians
Hang 'em High
Deadline - U.S.A.
Sublime
A Beginner's Guide to Snuff
Independence Daysaster
Dysfunctional Friends
Run Lola Run
May
Against the Wild
Under the Same Moon
Conquest of the Planet of the Apes
In the Bedroom
I Spit on Your Grave
Happy, Texas
My Summer of Love
The Lunchbox
Yes
You Can't Take It With You
From Here to Eternity
She Wore a Yellow Ribbon
Grace Unplugged
Foolish
N-Secure
Caramel
Out of the Dark
The Bubble
The Conversation
Dil Jo Bhi Kahey...
Mississippi Mermaid
I Love Your Work
Cabin Fever
Waitress
Bloodsport
Mr. Smith Goes to Washington
Kids
The Squid and the Whale
Kissing Jessica Stein
Kickboxer: Vengeance
Spellbound
Exotica
Buffalo '66
Insidious
Repo Man
Nine Queens
The Gatekeepers
The Ballad of Jack and Rose
The To Do List
Killing Zoe
The Believer
Snow Angels
Unsullied
Session 9
I Want Someone to Eat Cheese With
Mooz-lum
Hatchet
Modern Times
Stolen Summer
My Name Is Bruce
The Salon
Road Hard
Forty Shades of Blue
Amigo
Pontypool
Trucker
Me You and Five Bucks
The Lords of Salem
Housebound
Wal-Mart: The High Cost of Low Price
Fetching Cody
Last I Heard
Closer to the Moon
Mutant World
Growing Up Smith
Checkmate
#Horror
Wind Walkers
Snow White and the Seven Dwarfs
The Holy Girl
Shalako
Incident at Loch Ness
The Dog Lover
GirlHouse
The Blue Room
House at the End of the Drive
Batman
Lock, Stock and Two Smoking Barrels
The Ballad of Gregorio Cortez
The Celebration
Trees Lounge
Journey from the Fall
The Basket
Eddie: The Sleepwalking Cannibal
Queen of the Mountains
Def-Con 4
The Hebrew Hammer
Neal 'n' Nikki
The 41âYearâOld Virgin Who Knocked Up Sarah Marshall and Felt Superbad About It
Forget Me Not
Rebecca
Friday the 13th Part 2
The Lost Weekend
C.H.U.D.
Filly Brown
The Lion of Judah
Niagara
How Green Was My Valley
Da Sweet Blood of Jesus
Sex, Lies, and Videotape
Saw
Super Troopers
The Algerian
The Amazing Catfish
Monsoon Wedding
You Can Count on Me
The Trouble with Harry
But I'm a Cheerleader
Home Run
Reservoir Dogs
The Blue Bird
The Good, the Bad and the Ugly
The Second Mother
Blue Like Jazz
Down & Out With The Dolls
Pink Ribbons, Inc.
Certifiably Jonathan
Desire
The Blade of Don Juan
Grand Theft Parsons
Extreme Movie
The Charge of the Light Brigade
Below Zero
Crowsnest
Airborne
Cotton Comes to Harlem
The Wicked Within
Bleeding Hearts
Waiting...
Dead Man's Shoes
From a Whisper to a Scream
Sex With Strangers
Dracula: Pages from a Virgin's Diary
Faith Like Potatoes
Beyond the Black Rainbow
The Raid
The Dead Undead
The Vatican Exorcisms
Casablanca
Lake Mungo
Rocket Singh: Salesman of the Year
Silent Running
Rocky
The Sleepwalker
Tom Jones
Unfriended
Taxi Driver
The Howling
Dr. No
Chernobyl Diaries
Hellraiser
God's Not Dead 2
Cry_Wolf
Godzilla 2000
Blue Valentine
Transamerica
The Devil Inside
Beyond the Valley of the Dolls
Love Me Tender
An Inconvenient Truth
Sands of Iwo Jima
Shine a Light
The Green Inferno
Departure
The Sessions
Food, Inc.
October Baby
Next Stop Wonderland
The Skeleton Twins
Martha Marcy May Marlene
Obvious Child
Frozen River
20 Feet from Stardom
Two Girls and a Guy
Walking and Talking
Who Killed the Electric Car?
The Broken Hearts Club: A Romantic Comedy
Bubba Ho-tep
Slam
Brigham City
Fiza
Orgazmo
All the Real Girls
Dream with the Fishes
Blue Car
Palo Alto
Ajami
Wristcutters: A Love Story
I Origins
The Battle of Shaker Heights
The Act of Killing
Taxi to the Dark Side
Once in a Lifetime: The Extraordinary Story of the New York Cosmos
Guiana 1838
Lisa Picard Is Famous
Antarctica: A Year on Ice
A LEGO Brickumentary
Hardflip
Chocolate: Deep Dark Secrets
The House of the Devil
The Perfect Host
Safe Men
Speedway Junky
The Last Big Thing
The Specials
16 to Life
Alone With Her
Creative Control
Special
Sparkler
The Helix... Loaded
In Her Line of Fire
The Jimmy Show
Heli
Karachi se Lahore
Loving Annabelle
Hits
Jimmy and Judy
Frat Party
The Party's Over
Proud
The Poker House
Childless
ZMD: Zombies of Mass Destruction
Snow White: A Deadly Summer
Hidden Away
My Last Day Without You
Steppin: The Movie
Doc Holliday's Revenge
Black Rock
Truth or Dare
The Pet
Bang Bang Baby
Fear Clinic
Zombie Hunter
A Fine Step
Charly
Banshee Chapter
Ask Me Anything
And Then Came Love
Food Chains
On the Waterfront
L!fe Happens
4 Months, 3 Weeks and 2 Days
The Horror Network Vol. 1
Hard Candy
The Quiet
Circumstance
Fruitvale Station
The Brass Teapot
Bambi
The Hammer
Latter Days
Elza
1982
For a Good Time, Call...
Celeste & Jesse Forever
Time Changer
London to Brighton
American Hero
Windsor Drive
A Separation
Crying with Laughter
Welcome to the Dollhouse
Ruby in Paradise
Raising Victor Vargas
Pandora's Box
Harrison Montgomery
Live-In Maid
Deterrence
The Mudge Boy
The Young Unknowns
Not Cool
Dead Snow
Saints and Soldiers
Vessel
American Graffiti
Iraq for Sale: The War Profiteers
Aqua Teen Hunger Force Colon Movie Film for Theaters
Safety Not Guaranteed
Kevin Hart: Laugh at My Pain
Kill List
The Innkeepers
The Conformist
Interview with the Assassin
Donkey Punch
All the Boys Love Mandy Lane
Bled
High Noon
Hoop Dreams
Rize
L.I.E.
The Sisterhood of Night
B-Girl
Half Nelson
Naturally Native
Hav Plenty
Adulterers
Escape from Tomorrow
Starsuckers
The Hadza:  Last of the First
After
Treachery
Walter
Top Hat
The Blair Witch Project
Woodstock
The Kentucky Fried Movie
Mercy Streets
Carousel of Revenge
Broken Vessels
Water & Power
They Will Have to Kill Us First
Light from the Darkroom
The Country Doctor
The Maid's Room
A Hard Day's Night

Shanghai Calling
My Date with Drew

In [2]:
import pandas as pd
from pandas import DataFrame
import numpy as np
movies_df=pd.read_csv("tmdb_5000_movies.csv")
movies_df

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâs past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
5,258000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",http://www.sonypictures.com/movies/spider-man3/,559,"[{""id"": 851, ""name"": ""dual identity""}, {""id"": ...",en,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,115.699814,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-01,890871626,139.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The battle within.,Spider-Man 3,5.9,3576
6,260000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",http://disney.go.com/disneypictures/tangled/,38757,"[{""id"": 1562, ""name"": ""hostage""}, {""id"": 2343,...",en,Tangled,When the kingdom's most wanted-and most charmi...,48.681969,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2010-11-24,591794936,100.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,They're taking adventure to new lengths.,Tangled,7.4,3330
7,280000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,"[{""id"": 8828, ""name"": ""marvel comic""}, {""id"": ...",en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,134.279229,"[{""name"": ""Marvel Studios"", ""id"": 420}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-04-22,1405403694,141.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Age Has Come.,Avengers: Age of Ultron,7.3,6767
8,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://harrypotter.warnerbros.com/harrypottera...,767,"[{""id"": 616, ""name"": ""witch""}, {""id"": 2343, ""n...",en,Harry Potter and the Half-Blood Prince,"As Harry begins his sixth year at Hogwarts, he...",98.885637,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2009-07-07,933959197,153.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Dark Secrets Revealed,Harry Potter and the Half-Blood Prince,7.4,5293
9,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.batmanvsupermandawnofjustice.com/,209112,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 7002...",en,Batman v Superman: Dawn of Justice,Fearing the actions of a god-like Super Hero l...,155.790452,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""A...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2016-03-23,873260194,151.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Justice or revenge,Batman v Superman: Dawn of Justice,5.7,7004
10,270000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.superman.com,1452,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Superman Returns,Superman returns to discover his 5-year absenc...,57.925623,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""L...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2006-06-28,391081192,154.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Superman Returns,5.4,1400
11,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://www.mgm.com/view/movie/234/Quantum-of-S...,10764,"[{""id"": 627, ""name"": ""killing""}, {""id"": 1568, ...",en,Quantum of Solace,Quantum of Solace continues the adventures of ...,107.928811,"[{""name"": ""Eon Productions"", ""id"": 7576}]","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2008-10-30,586090727,106.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,"For love, for hate, for justice, for revenge.",Quantum of Solace,6.1,2965
12,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,58,"[{""id"": 616, ""name"": ""witch""}, {""id"": 663, ""na...",en,Pirates of the Caribbean: Dead Man's Chest,Captain Jack Sparrow works his way out of a bl...,145.847379,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""JM"", ""name"": ""Jamaica""}, {""is...",2006-06-20,1065659812,151.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Jack is back!,Pirates of the Caribbean: Dead Man's Chest,7.0,5246
13,255000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://disney.go.com/the-lone-ranger/,57201,"[{""id"": 1556, ""name"": ""texas""}, {""id"": 2673, ""...",en,The Lone Ranger,The Texas Rangers chase down a gang of outlaws...,49.046956,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-07-03,89289910,149.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Never Take Off the Mask,The Lone Ranger,5.9,2311
14,225000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.manofsteel.com/,49521,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Man of Steel,A young boy learns that he has extraordinary p...,99.398009,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2013-06-12,662845518,143.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,You will believe that a man can fly.,Man of Steel,6.5,6359
15,225000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",NaN,2454,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,The Chronicles of Narnia: Prince Caspian,One year after their incredible adventures in ...,53.978602,"[{""name"": ""Walt Disney"", ""id"": 5888}, {""name"":...","[{""iso_3166_1"": ""CZ"", ""name"": ""Czech Republic""...",2008-05-15,419651413,150.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Hope has a new face.,The Chronicles of Narnia: Prince Caspian,6.3,1630
16,220000000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://marvel.com/avengers_movie/,24428,"[{""id"": 242, ""name"": ""new york""}, {""id"": 5539,...",en,The Avengers,When an unexpected enemy emerges and threatens...,144.448633,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-04-25,1519557910,143.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Some assembly required.,The Avengers,7.4,11776
17,380000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://disney.go.com/pirates/index-on-stranger...,1865,"[{""id"": 658, ""name"": ""sea""}, {""id"": 1316, ""nam...",en,Pirates of the Caribbean: On Stranger Tides,Captain Jack Sparrow crosses paths with a woma...,135.413856,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2011-05-14,1045713802,136.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Live Forever Or Die Trying.,Pirates of the Caribbean: On Stranger Tides,6.4,4948
18,225000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 35, ""nam...",http://www.sonypictures.com/movies/meninblack3/,41154,"[{""id"": 4379, ""name"": ""time travel""}, {""id"": 5...",en,Men in Black 3,Agents J (Will Smith) and K (Tommy Lee Jones) ...,52.035179,"[{""name"": ""Amblin Entertainment"", ""id"": 56}, {...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-23,624026776,106.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,They are back... in time.,Men in Black 3,6.2,4160
19,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.thehobbit.com/,122917,"[{""id"": 417, ""name"": ""corruption""}, {""id"": 603...",en,The Hobbit: The Battle of the Five Armies,Immediately after the events of The Desolation...,120.965743,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...","[{""iso_3166_1"": ""NZ"", ""name"": ""New Zealand""}, ...",2014-12-10,956019788,144.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Witness the defining chapter of the Middle-Ear...,The Hobbit: The Battle of the Five Armies,7.1,4760
20,215000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.theamazingspiderman.com,1930,"[{""id"": 1872, ""name"": ""loss of father""}, {""id""...",en,The Amazing Spider-Man,Peter Parker is an outcast high schooler aband...,89.866276,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-06-27,752215857,136.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The untold story begins.,The Amazing Spider-Man,6.5,6586
21,200000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.robinhoodthemovie.com/,20662,"[{""id"": 4147, ""name"": ""robin hood""}, {""id"": 43...",en,Robin Hood,When soldier Robin happens upon the dying Robe...,37.668301,"[{""name"": ""Imagine Entertainment"", ""id"": 23}, ...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2010-05-12,310669540,140.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,"Rise and rise again, until lambs become lions.",Robin Hood,6.2,1398
22,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.thehobbit.com/,57158,"[{""id"": 603, ""name"": ""elves""}, {""id"": 604, ""na...",en,The Hobbit: The Desolation of Smaug,"The Dwarves, Bilbo and Gandalf have successful...",94.370564,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...","[{""iso_3166_1"": ""NZ"", ""name"": ""New Zealand""}, ...",2013-12-11,958400000,161.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Beyond darkness... beyond desolation... lies t...,The Hobbit: The Desolation of Smaug,7.6,4524
23,180000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.goldencompassmovie.com/index_german...,2268,"[{""id"": 392, ""name"": ""england""}, {""id"": 1461, ...",en,The Golden Compass,"After overhearing a shocking secret, precociou...",42.990906,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2007-12-04,372234864,113.0,"[{""iso_639_1"": ""is"", ""name"": ""\u00cdslenska""},...",Released,There are worlds beyond our own - the compass ...,The Golden Compass,5.8,1303
24,207000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",NaN,254,"[{""id"": 774, ""name"": ""film business""}, {""id"": ...",en,King Kong,"In 1933 New York, an overly ambitious movie pr...",61.226010,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...","[{""iso_3166_1"": ""NZ"", ""name"": ""New Zealand""}, ...",2005-12-14,550000000,187.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The eighth wonder of the world.,King Kong,6.6,2337
25,200000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",http://www.titanicmovie.com,597,"[{""id"": 2580, ""name"": ""shipwreck""}, {""id"": 298...",en,Titanic,"84 years later, a 101-year-old woman named Ros...",100.025899,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1997-11-18,1845034188,194.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Nothing on Earth could come between them.,Titanic,7.5,7562
26,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://marvel.com/captainamericapremiere,271110,"[{""id"": 393, ""name"": ""civil war""}, {""id"": 6091...",en,Captain America: Civil War,"Following the events of Age of Ultron, the col...",198.372395,"[{""name"": ""Studio Babelsberg"", ""id"": 264}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2016-04-27,1153304495,147.0,"[{""iso_639_1"": ""ro"", ""name"": ""Rom\u00e2n\u0103...",Released,Divided We Fall,Captain America: Civil War,7.1,7241
27,209000000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 28, ""n...",NaN,44833,"[{""id"": 1721, ""name"": ""fight""}, {""id"": 4410, ""...",en,Battleship,"When mankind beams a radio signal into space, ...",64.928382,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-04-11,303025485,131.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The Battle for Earth Begins at Sea,Battleship,5.5,2114
28,150000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.jurassicworld.com/,135397,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 1718,...",en,Jurassic World,Twenty-two years after the events of Jurassic ...,418.708552,"[{""name"": ""Universal Studios"", ""id"": 13}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-06-09,1513528810,124.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The park is open.,Jurassic World,6.5,8662
29,200000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.skyfall-movie.com,37724,"[{""id"": 470, ""name"": ""spy""}, {""id"": 4289, ""nam...",en,Skyfall,When Bond's latest assignment goes gravely wro...,93.004993,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2012-10-25,1108561013,143.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Think on your sins.,Skyfall,6.9,7604
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4773,27000,"[{""id"": 35, ""name"": ""Comedy""}]",http://www.miramax.com/movie/clerks/,2292,"[{""id"": 1361, ""name"": ""salesclerk""}, {""id"": 30...",en,Clerks,Convenience and video store clerks Dante and R...,19.748658,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1994-09-13,3151130,92.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Just because they serve you doesn't mean they ...,Clerks,7.4,755
4774,27000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",NaN,42497,"[{""id"": 1566, ""name"": ""dream""}, {""id"": 13059, ...",en,Pink Narcissus,An erotic poem set in the fantasies of a young...,0.027811,"[{""name"": ""Strand Releasing"", ""id"": 3923}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1971-01-01,0,64.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,A unique experience in visual fantasy!,Pink Narcissus,6.0,9
4775,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",NaN,33693,"[{""id"": 171993, ""name"": ""mumblecore""}]",en,Funny Ha Ha,"Unsure of what to do next, 23-year-old Marnie ...",0.362633,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2002-09-20,76901,85.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Funny Ha Ha,6.3,8
4776,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",NaN,14585,"[{""id"": 1438, ""name"": ""office""}, {""id"": 9673, ...",en,In the Company of Men,Two business executives--one an avowed misogyn...,2.634007,"[{""name"": ""Alliance Atlantis Communications"", ...","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",1997-01-19,0,97.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Are all men bastards...or just misunderstood?,In the Company of Men,6.8,44
4777,0,"[{""id"": 18, ""name"": ""Drama""}]",NaN,185465,[],en,Manito,"Fifteen years ago, their Washington Heights ne...",0.039264,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2002-01-15,0,78.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}, ...",Released,NaN,Manito,5.5,2
4778,0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...",NaN,38780,"[{""id"": 10022, ""name"": ""rampage""}, {""id"": 1454...",en,Rampage,The boredom of small town life is eating Bill ...,7.101197,"[{""name"": ""Boll Kino Beteiligungs GmbH & Co. K...","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",2009-08-14,0,85.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Vengeance is ruthless.,Rampage,6.0,131
4779,0,"[{""id"": 35, ""name"": ""Comedy""}]",NaN,14022,"[{""id"": 305, ""name"": ""moon""}, {""id"": 490, ""nam...",en,Slacker,"Presents a day in the life in Austin, Texas am...",3.320622,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1990-07-27,0,97.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Slacker,6.4,77
4780,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 80, ""n...",NaN,366967,[],en,Dutch Kills,A desperate ex-con is forced to gather his old...,0.038143,[],[],2015-10-02,0,90.0,[],Released,NaN,Dutch Kills,0.0,0
4781,22000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",https://www.facebook.com/DrySpellMovie,255266,"[{""id"": 13043, ""name"": ""dating""}, {""id"": 15160...",en,Dry Spell,Sasha tries to get her soon-to-be ex husband K...,0.048948,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-02-14,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Getting divorced does funny things to a girl,Dry Spell,6.0,1

# Validity, Completeness and Consistency of the dataset

Validity/ accuracy:

The data was obtained using the Tmdb API. The tmdb_5000_movies.csv has details of the movie and the tmdb_5000_credits.csv has the cast and crew details. On cross-checking with the website for a few movies, it's clear that the information in the dataset is valid and accurate. On checking with IMDB- another website for movie details- the information was matching with the TMDB website. It is unclear what credit_id and cast_id denote. A few entries for crew were not well-formed, and as a result the csv file for credits had extra columns and rows with the crew details. There is no indication of what the cast_id and credit_id denote.

Completeness:

The Tmdb website contains reviews of the movies and discussion threads on the movies. This dataset did not include the reviews, discussions and the reviewer's details. The data reflects the data in the website and has not been tampered with. The values for gender of the cast and crew are 0,1,2- there is no indication of the notation. The budget and revenue for a few movies were 0 which are not valid values for the budget of any movie. These values were changed to Null in the database so that the zeros do not bring down the other statistics of the data. Changing them to Null enables us to perform analysis on the reasons for each movie and we may be able to predict the budgets based on the correlation factors such as the genre, year of release, cast,etc.

Consistency/Uniformity:
The dataset was consistent in terms of the notations used. Spoken_languages had the language abbreviation, and not the entire language name as it appears on the website. The runtime was also converted to total minutes in the dataset. The dataset had consistent values for every column (disregarding the null values). However, there were values of 0 for revenue, budgets and runtimes of the movies- there was no way of estimating the values at this point.

# Creating the Movies dataframe

In [4]:
movies=pd.DataFrame(movies_df,columns=['id','title','original_language','release_date','popularity','budget','revenue','runtime'])
print movies

          id                                        title original_language  \
0      19995                                       Avatar                en
1        285     Pirates of the Caribbean: At World's End                en
2     206647                                      Spectre                en
3      49026                        The Dark Knight Rises                en
4      49529                                  John Carter                en
5        559                                 Spider-Man 3                en
6      38757                                      Tangled                en
7      99861                      Avengers: Age of Ultron                en
8        767       Harry Potter and the Half-Blood Prince                en
9     209112           Batman v Superman: Dawn of Justice                en
10      1452                             Superman Returns                en
11     10764                            Quantum of Solace                en
12        58   Pirates of the Caribbean: Dead Man's Chest                en
13     57201                              The Lone Ranger                en
14     49521                                 Man of Steel                en
15      2454     The Chronicles of Narnia: Prince Caspian                en
16     24428                                 The Avengers                en
17      1865  Pirates of the Caribbean: On Stranger Tides                en
18     41154                               Men in Black 3                en
19    122917    The Hobbit: The Battle of the Five Armies                en
20      1930                       The Amazing Spider-Man                en
21     20662                                   Robin Hood                en
22     57158          The Hobbit: The Desolation of Smaug                en
23      2268                           The Golden Compass                en
24       254                                    King Kong                en
25       597                                      Titanic                en
26    271110                   Captain America: Civil War                en
27     44833                                   Battleship                en
28    135397                               Jurassic World                en
29     37724                                      Skyfall                en
...      ...                                          ...               ...
4773    2292                                       Clerks                en
4774   42497                               Pink Narcissus                en
4775   33693                                  Funny Ha Ha                en
4776   14585                        In the Company of Men                en
4777  185465                                       Manito                en
4778   38780                                      Rampage                en
4779   14022                                      Slacker                en
4780  366967                                  Dutch Kills                en
4781  255266                                    Dry Spell                en
4782   17345                                     Flywheel                en
4783  226458                                     Backmask                en
4784   24055                              The Puffy Chair                en
4785  287625                         Stories of Our Lives                en
4786   44990                             Breaking Upwards                en
4787   86304                     All Superheroes Must Die                en
4788     692                               Pink Flamingos                en
4789   39851                                        Clean                en
4790   13898                                   The Circle                fa
4791  157185                                  Tin Can Man                en
4792   36095                                         Cure                ja
4793  182291                               On The Downlow                en
4794  286939                 Sanctuary: Quite a Conundrum                en
4795  124606                                         Bang                en
4796   14337                                       Primer                en
4797   67238                                       Cavite                en
4798    9367                                  El Mariachi                es
4799   72766                                    Newlyweds                en
4800  231617                    Signed, Sealed, Delivered                en
4801  126186                             Shanghai Calling                en
4802   25975                            My Date with Drew                en

     release_date  popularity     budget     revenue  runtime
0      2009-12-10  150.437577  237000000  2787965087    162.0
1      2007-05-19  139.082615  300000000   961000000    169.0
2      2015-10-26  107.376788  245000000   880674609    148.0
3      2012-07-16  112.312950  250000000  1084939099    165.0
4      2012-03-07   43.926995  260000000   284139100    132.0
5      2007-05-01  115.699814  258000000   890871626    139.0
6      2010-11-24   48.681969  260000000   591794936    100.0
7      2015-04-22  134.279229  280000000  1405403694    141.0
8      2009-07-07   98.885637  250000000   933959197    153.0
9      2016-03-23  155.790452  250000000   873260194    151.0
10     2006-06-28   57.925623  270000000   391081192    154.0
11     2008-10-30  107.928811  200000000   586090727    106.0
12     2006-06-20  145.847379  200000000  1065659812    151.0
13     2013-07-03   49.046956  255000000    89289910    149.0
14     2013-06-12   99.398009  225000000   662845518    143.0
15     2008-05-15   53.978602  225000000   419651413    150.0
16     2012-04-25  144.448633  220000000  1519557910    143.0
17     2011-05-14  135.413856  380000000  1045713802    136.0
18     2012-05-23   52.035179  225000000   624026776    106.0
19     2014-12-10  120.965743  250000000   956019788    144.0
20     2012-06-27   89.866276  215000000   752215857    136.0
21     2010-05-12   37.668301  200000000   310669540    140.0
22     2013-12-11   94.370564  250000000   958400000    161.0
23     2007-12-04   42.990906  180000000   372234864    113.0
24     2005-12-14   61.226010  207000000   550000000    187.0
25     1997-11-18  100.025899  200000000  1845034188    194.0
26     2016-04-27  198.372395  250000000  1153304495    147.0
27     2012-04-11   64.928382  209000000   303025485    131.0
28     2015-06-09  418.708552  150000000  1513528810    124.0
29     2012-10-25   93.004993  200000000  1108561013    143.0
...           ...         ...        ...         ...      ...
4773   1994-09-13   19.748658      27000     3151130     92.0
4774   1971-01-01    0.027811      27000           0     64.0
4775   2002-09-20    0.362633          0       76901     85.0
4776   1997-01-19    2.634007          0           0     97.0
4777   2002-01-15    0.039264          0           0     78.0
4778   2009-08-14    7.101197          0           0     85.0
4779   1990-07-27    3.320622          0           0     97.0
4780   2015-10-02    0.038143          0           0     90.0
4781   2013-02-14    0.048948      22000           0     90.0
4782   2003-01-01    1.048524          0           0    120.0
4783   2015-01-16    3.619167          0           0     91.0
4784   2005-01-17    1.243955          0           0     85.0
4785   2014-09-05    0.327794          0           0     60.0
4786   2009-03-14    0.674570          0           0     88.0
4787   2011-10-26    3.545991          0           0     78.0
4788   1972-03-12    4.553644      12000     6000000     93.0
4789   2004-09-01    1.464566          0           0    111.0
4790   2000-09-08    1.193779          0           0     90.0
4791   2007-01-01    0.332679         13           0     84.0
4792   1997-11-06    0.212443      20000       99000    111.0
4793   2004-04-11    0.029757          0           0     90.0
4794   2012-01-20    0.166513          0           0     82.0
4795   1995-09-09    0.918116          0           0     98.0
4796   2004-10-08   23.307949       7000      424760     77.0
4797   2005-03-12    0.022173          0           0     80.0
4798   1992-09-04   14.269792     220000     2040920     81.0
4799   2011-12-26    0.642552       9000           0     85.0
4800   2013-10-13    1.444476          0           0    120.0
4801   2012-05-03    0.857008          0           0     98.0
4802   2005-08-05    1.929883          0           0     90.0

[4803 rows x 8 columns]

# Cleaning the Movies dataframe

In [5]:
#Checking for Null values in the data.
nan = movies[movies.isnull().any(1)]
nan

,id,title,original_language,release_date,popularity,budget,revenue,runtime
2656,370980,Chiamatemi Francesco - Il Papa della gente,it,2015-12-03,0.738646,15000000,0,NaN
4140,459488,"To Be Frank, Sinatra at 100",en,2015-12-12,0.050625,2,0,NaN
4553,380097,America Is Still the Place,en,NaN,0.000000,0,0,0.0

In [6]:
#Release_date is NaN for 'America Is Still the Place',and a major chunk of values are missing for this movie, so the best option is to delete this row
movies=movies[movies.release_date.notnull()]
movies_df=movies_df[movies_df.release_date.notnull()]

In [7]:
#Release_date column has no Null values
nan = movies[movies.isnull().any(1)]
nan

,id,title,original_language,release_date,popularity,budget,revenue,runtime
2656,370980,Chiamatemi Francesco - Il Papa della gente,it,2015-12-03,0.738646,15000000,0,NaN
4140,459488,"To Be Frank, Sinatra at 100",en,2015-12-12,0.050625,2,0,NaN

In [8]:
#Check if the Movie rows are unique? Return the duplicated rows
movies[movies.duplicated()]

Empty DataFrame
Columns: [id, title, original_language, release_date, popularity, budget, revenue, runtime]
Index: []

In [9]:
#Check if the Movie Ids are unique? Return the duplicated rows
movies[movies.duplicated('id')]

Empty DataFrame
Columns: [id, title, original_language, release_date, popularity, budget, revenue, runtime]
Index: []

In [10]:
#Check if the Movie titles are unique? Return the duplicated rows
movies[movies.duplicated('title')]
#Validated with the source and the movies are different, so there is not need to eliminate them

,id,title,original_language,release_date,popularity,budget,revenue,runtime
2877,1255,The Host,ko,2006-07-27,27.655270,11000000,88489643,119.0
3693,10844,Out of the Blue,en,2006-10-12,0.706355,0,0,103.0
4267,2661,Batman,en,1966-07-30,9.815394,1377800,0,105.0

In [11]:
#Check the data types of every column in the Movies dataframe
movies.dtypes

id                     int64
title                 object
original_language     object
release_date          object
popularity           float64
budget                 int64
revenue                int64
runtime              float64
dtype: object

In [13]:
#changing the data type of release_date to Date-time
movies['release_date'] = pd.to_datetime(movies['release_date'], infer_datetime_format=True)
movies

,id,title,original_language,release_date,popularity,budget,revenue,runtime
0,19995,Avatar,en,2009-12-10,150.437577,237000000,2787965087,162.0
1,285,Pirates of the Caribbean: At World's End,en,2007-05-19,139.082615,300000000,961000000,169.0
2,206647,Spectre,en,2015-10-26,107.376788,245000000,880674609,148.0
3,49026,The Dark Knight Rises,en,2012-07-16,112.312950,250000000,1084939099,165.0
4,49529,John Carter,en,2012-03-07,43.926995,260000000,284139100,132.0
5,559,Spider-Man 3,en,2007-05-01,115.699814,258000000,890871626,139.0
6,38757,Tangled,en,2010-11-24,48.681969,260000000,591794936,100.0
7,99861,Avengers: Age of Ultron,en,2015-04-22,134.279229,280000000,1405403694,141.0
8,767,Harry Potter and the Half-Blood Prince,en,2009-07-07,98.885637,250000000,933959197,153.0
9,209112,Batman v Superman: Dawn of Justice,en,2016-03-23,155.790452,250000000,873260194,151.0
10,1452,Superman Returns,en,2006-06-28,57.925623,270000000,391081192,154.0
11,10764,Quantum of Solace,en,2008-10-30,107.928811,200000000,586090727,106.0
12,58,Pirates of the Caribbean: Dead Man's Chest,en,2006-06-20,145.847379,200000000,1065659812,151.0
13,57201,The Lone Ranger,en,2013-07-03,49.046956,255000000,89289910,149.0
14,49521,Man of Steel,en,2013-06-12,99.398009,225000000,662845518,143.0
15,2454,The Chronicles of Narnia: Prince Caspian,en,2008-05-15,53.978602,225000000,419651413,150.0
16,24428,The Avengers,en,2012-04-25,144.448633,220000000,1519557910,143.0
17,1865,Pirates of the Caribbean: On Stranger Tides,en,2011-05-14,135.413856,380000000,1045713802,136.0
18,41154,Men in Black 3,en,2012-05-23,52.035179,225000000,624026776,106.0
19,122917,The Hobbit: The Battle of the Five Armies,en,2014-12-10,120.965743,250000000,956019788,144.0
20,1930,The Amazing Spider-Man,en,2012-06-27,89.866276,215000000,752215857,136.0
21,20662,Robin Hood,en,2010-05-12,37.668301,200000000,310669540,140.0
22,57158,The Hobbit: The Desolation of Smaug,en,2013-12-11,94.370564,250000000,958400000,161.0
23,2268,The Golden Compass,en,2007-12-04,42.990906,180000000,372234864,113.0
24,254,King Kong,en,2005-12-14,61.226010,207000000,550000000,187.0
25,597,Titanic,en,1997-11-18,100.025899,200000000,1845034188,194.0
26,271110,Captain America: Civil War,en,2016-04-27,198.372395,250000000,1153304495,147.0
27,44833,Battleship,en,2012-04-11,64.928382,209000000,303025485,131.0
28,135397,Jurassic World,en,2015-06-09,418.708552,150000000,1513528810,124.0
29,37724,Skyfall,en,2012-10-25,93.004993,200000000,1108561013,143.0
...,...,...,...,...,...,...,...,...
4773,2292,Clerks,en,1994-09-13,19.748658,27000,3151130,92.0
4774,42497,Pink Narcissus,en,1971-01-01,0.027811,27000,0,64.0
4775,33693,Funny Ha Ha,en,2002-09-20,0.362633,0,76901,85.0
4776,14585,In the Company of Men,en,1997-01-19,2.634007,0,0,97.0
4777,185465,Manito,en,2002-01-15,0.039264,0,0,78.0
4778,38780,Rampage,en,2009-08-14,7.101197,0,0,85.0
4779,14022,Slacker,en,1990-07-27,3.320622,0,0,97.0
4780,366967,Dutch Kills,en,2015-10-02,0.038143,0,0,90.0
4781,255266,Dry Spell,en,2013-02-14,0.048948,22000,0,90.0
4782,17345,Flywheel,en,2003-01-01,1.048524,0,0,120.0
4783,226458,Backmask,en,2015-01-16,3.619167,0,0,91.0
4784,24055,The Puffy Chair,en,2005-01-17,1.243955,0,0,85.0
4785,287625,Stories of Our Lives,en,2014-09-05,0.327794,0,0,60.0
4786,44990,Breaking Upwards,en,2009-03-14,0.674570,0,0,88.0
4787,86304,All Superheroes Must Die,en,2011-10-26,3.545991,0,0,78.0
4788,692,Pink Flamingos,en,1972-03-12,4.553644,12000,6000000,93.0
4789,39851,Clean,en,2004-09-01,1.464566,0,0,111.0
4790,13898,The Circle,fa,2000-09-08,1.193779,0,0,90.0
4791,157185,Tin Can Man,en,2007-01-01,0.332679,13,0,84.0
4792,36095,Cure,ja,1997-11-06,0.212443,20000,99000,111.0
4793,182291,On The Downlow,en,2004-04-11,0.029757,0,0,90.0
4794,286939,Sanctuary: Quite a Conundrum,en,2012-01-20,0.166513,0,0,82.0
4795,124606,Bang,en,1995-09-09,0.918116,0,0,98.0
4796,14337,Primer,en,2004-10-08,23.307949,7000,424760,77.0
4797,67238,Cavite,en,2005-03-12,0.022173,0,0,80.0
4798,9367,El Mariachi,es,1992-09-04,14.269792,220000,2040920,81.0
4799,72766,Newlyweds,en,2011-12-26,0.642552,9000,0,85.0
4800,231617,"Signed, Sealed, Delivered",en,2013-10-13,1.444476,0,0,120.0
4801,126186,Shanghai Calling,en,2012-05-03,0.857008,0,0,98.0
4802,25975,My Date with Drew,en,2005-08-05,1.929883,0,0,90.0

In [14]:
#Check the data types 
movies.dtypes

id                            int64
title                        object
original_language            object
release_date         datetime64[ns]
popularity                  float64
budget                        int64
revenue                       int64
runtime                     float64
dtype: object

In [15]:
#Checking for Null values in the data after changing the data type
nan = movies[movies.isnull().any(1)]
nan

,id,title,original_language,release_date,popularity,budget,revenue,runtime
2656,370980,Chiamatemi Francesco - Il Papa della gente,it,2015-12-03,0.738646,15000000,0,NaN
4140,459488,"To Be Frank, Sinatra at 100",en,2015-12-12,0.050625,2,0,NaN

In [16]:
#Get the min, max, mean stats for run time 
movies.describe()

                  id   popularity        budget       revenue      runtime
count    4802.000000  4802.000000  4.802000e+03  4.802000e+03  4800.000000
mean    57098.234902    21.496776  2.905109e+07  8.227777e+07   106.898125
std     88581.302370    31.818451  4.072447e+07  1.628697e+08    22.561593
min         5.000000     0.000372  0.000000e+00  0.000000e+00     0.000000
25%      9013.750000     4.671734  8.000000e+05  0.000000e+00    94.000000
50%     14626.500000    12.924931  1.500000e+07  1.917498e+07   103.000000
75%     58589.750000    28.332017  4.000000e+07  9.291920e+07   118.000000
max    459488.000000   875.581305  3.800000e+08  2.787965e+09   338.000000

In [17]:
movies[movies.runtime == 0]

,id,title,original_language,release_date,popularity,budget,revenue,runtime
1011,53953,The Tooth Fairy,de,2006-08-08,0.716764,0,0,0.0
3112,41894,Blood Done Sign My Name,en,2010-02-01,0.397341,0,0,0.0
3669,113406,Should've Been Romeo,en,2012-04-28,0.407030,0,0,0.0
3809,158150,How to Fall in Love,en,2012-07-21,1.923514,4000000,0,0.0
3953,281230,Fort McCoy,en,2014-01-01,0.384496,0,0,0.0
3992,346081,Sardaarji,en,2015-06-26,0.296981,0,0,0.0
4068,371085,Sharkskin,en,2015-01-01,0.027801,0,0,0.0
4118,325140,Hum To Mohabbat Karega,en,2000-05-26,0.001186,0,0,0.0
4205,66468,N-Secure,en,2010-10-15,0.134560,0,2592808,0.0
4210,74084,Dil Jo Bhi Kahey...,hi,2006-12-07,0.122704,0,0,0.0
4241,51820,The Salon,en,2005-01-13,2.028170,1500000,0,0.0
4313,107315,Below Zero,en,2011-10-22,1.365140,0,0,0.0
4318,310933,Bleeding Hearts,en,2013-06-01,0.100533,0,0,0.0
4322,102840,Sex With Strangers,en,2002-02-22,0.014406,0,0,0.0
4328,202604,The Vatican Exorcisms,en,2013-05-29,0.447166,0,0,0.0
4405,357441,Karachi se Lahore,en,2015-07-31,0.060003,0,0,0.0
4435,323270,The Horror Network Vol. 1,en,2015-10-27,0.392658,0,0,0.0
4458,279759,Harrison Montgomery,en,2008-01-01,0.006943,0,0,0.0
4502,263503,Water & Power,en,2014-05-02,0.350557,0,0,0.0
4504,331493,Light from the Darkroom,en,2014-01-01,0.012942,0,0,0.0
4558,285743,Alleluia! The Devil's Carnival,en,2016-03-29,0.674398,0,0,0.0
4564,94072,Straight Out of Brooklyn,en,1991-06-13,0.161517,0,0,0.0
4566,325579,Diamond Ruff,en,2015-01-01,0.165257,0,0,0.0
4569,198370,Mutual Friends,en,2014-04-15,0.136721,0,0,0.0
4571,328307,Rise of the Entrepreneur: The Search for a Bet...,en,2014-11-20,0.052942,0,0,0.0
4581,281189,Gory Gory Hallelujah,en,2003-11-05,0.033883,0,0,0.0
4584,189711,Love in the Time of Monsters,en,2014-03-08,0.133619,0,0,0.0
4611,162396,The Big Swap,en,1998-06-11,0.627763,0,0,0.0
4620,47534,Fighting Tommy Riley,en,2005-05-06,0.045429,0,0,0.0
4633,300327,Death Calls,en,2010-09-01,0.005883,0,0,0.0
4657,320435,UnDivided,en,2013-02-01,0.010607,0,0,0.0
4658,150211,The Frozen,en,2012-10-10,1.084387,0,0,0.0
4662,40963,Little Big Top,en,2006-01-01,0.092100,0,0,0.0
4729,272726,Dude Where's My Dog?,en,2014-06-12,0.283970,0,0,0.0

In [18]:
#On checking with other sources like IMDB, I found that the runtime for these movies are not 0 but they were not available on TMDB. 
temp_movies=movies[movies.runtime !=0]
temp_movies.describe()
#Movies with runtime of 14 mins, 25 mins etc are documentaries

                 id   popularity        budget       revenue      runtime
count    4768.00000  4768.000000  4.768000e+03  4.768000e+03  4766.000000
mean    56003.71057    21.647404  2.925709e+07  8.286394e+07   107.660722
std     87439.55403    31.881465  4.079599e+07  1.633010e+08    20.749424
min         5.00000     0.000372  0.000000e+00  0.000000e+00    14.000000
25%      8987.75000     4.838697  9.919215e+05  0.000000e+00    94.000000
50%     14456.50000    13.149013  1.500000e+07  1.953216e+07   104.000000
75%     57159.75000    28.532272  4.000000e+07  9.371813e+07   118.000000
max    459488.00000   875.581305  3.800000e+08  2.787965e+09   338.000000

In [19]:
#Replace a runtime of 0 with the Avg runtimes of all other values for runtime.
movies.loc[movies['runtime'] == 0,'runtime']=temp_movies.runtime.mean()
movies

,id,title,original_language,release_date,popularity,budget,revenue,runtime
0,19995,Avatar,en,2009-12-10,150.437577,237000000,2787965087,162.0
1,285,Pirates of the Caribbean: At World's End,en,2007-05-19,139.082615,300000000,961000000,169.0
2,206647,Spectre,en,2015-10-26,107.376788,245000000,880674609,148.0
3,49026,The Dark Knight Rises,en,2012-07-16,112.312950,250000000,1084939099,165.0
4,49529,John Carter,en,2012-03-07,43.926995,260000000,284139100,132.0
5,559,Spider-Man 3,en,2007-05-01,115.699814,258000000,890871626,139.0
6,38757,Tangled,en,2010-11-24,48.681969,260000000,591794936,100.0
7,99861,Avengers: Age of Ultron,en,2015-04-22,134.279229,280000000,1405403694,141.0
8,767,Harry Potter and the Half-Blood Prince,en,2009-07-07,98.885637,250000000,933959197,153.0
9,209112,Batman v Superman: Dawn of Justice,en,2016-03-23,155.790452,250000000,873260194,151.0
10,1452,Superman Returns,en,2006-06-28,57.925623,270000000,391081192,154.0
11,10764,Quantum of Solace,en,2008-10-30,107.928811,200000000,586090727,106.0
12,58,Pirates of the Caribbean: Dead Man's Chest,en,2006-06-20,145.847379,200000000,1065659812,151.0
13,57201,The Lone Ranger,en,2013-07-03,49.046956,255000000,89289910,149.0
14,49521,Man of Steel,en,2013-06-12,99.398009,225000000,662845518,143.0
15,2454,The Chronicles of Narnia: Prince Caspian,en,2008-05-15,53.978602,225000000,419651413,150.0
16,24428,The Avengers,en,2012-04-25,144.448633,220000000,1519557910,143.0
17,1865,Pirates of the Caribbean: On Stranger Tides,en,2011-05-14,135.413856,380000000,1045713802,136.0
18,41154,Men in Black 3,en,2012-05-23,52.035179,225000000,624026776,106.0
19,122917,The Hobbit: The Battle of the Five Armies,en,2014-12-10,120.965743,250000000,956019788,144.0
20,1930,The Amazing Spider-Man,en,2012-06-27,89.866276,215000000,752215857,136.0
21,20662,Robin Hood,en,2010-05-12,37.668301,200000000,310669540,140.0
22,57158,The Hobbit: The Desolation of Smaug,en,2013-12-11,94.370564,250000000,958400000,161.0
23,2268,The Golden Compass,en,2007-12-04,42.990906,180000000,372234864,113.0
24,254,King Kong,en,2005-12-14,61.226010,207000000,550000000,187.0
25,597,Titanic,en,1997-11-18,100.025899,200000000,1845034188,194.0
26,271110,Captain America: Civil War,en,2016-04-27,198.372395,250000000,1153304495,147.0
27,44833,Battleship,en,2012-04-11,64.928382,209000000,303025485,131.0
28,135397,Jurassic World,en,2015-06-09,418.708552,150000000,1513528810,124.0
29,37724,Skyfall,en,2012-10-25,93.004993,200000000,1108561013,143.0
...,...,...,...,...,...,...,...,...
4773,2292,Clerks,en,1994-09-13,19.748658,27000,3151130,92.0
4774,42497,Pink Narcissus,en,1971-01-01,0.027811,27000,0,64.0
4775,33693,Funny Ha Ha,en,2002-09-20,0.362633,0,76901,85.0
4776,14585,In the Company of Men,en,1997-01-19,2.634007,0,0,97.0
4777,185465,Manito,en,2002-01-15,0.039264,0,0,78.0
4778,38780,Rampage,en,2009-08-14,7.101197,0,0,85.0
4779,14022,Slacker,en,1990-07-27,3.320622,0,0,97.0
4780,366967,Dutch Kills,en,2015-10-02,0.038143,0,0,90.0
4781,255266,Dry Spell,en,2013-02-14,0.048948,22000,0,90.0
4782,17345,Flywheel,en,2003-01-01,1.048524,0,0,120.0
4783,226458,Backmask,en,2015-01-16,3.619167,0,0,91.0
4784,24055,The Puffy Chair,en,2005-01-17,1.243955,0,0,85.0
4785,287625,Stories of Our Lives,en,2014-09-05,0.327794,0,0,60.0
4786,44990,Breaking Upwards,en,2009-03-14,0.674570,0,0,88.0
4787,86304,All Superheroes Must Die,en,2011-10-26,3.545991,0,0,78.0
4788,692,Pink Flamingos,en,1972-03-12,4.553644,12000,6000000,93.0
4789,39851,Clean,en,2004-09-01,1.464566,0,0,111.0
4790,13898,The Circle,fa,2000-09-08,1.193779,0,0,90.0
4791,157185,Tin Can Man,en,2007-01-01,0.332679,13,0,84.0
4792,36095,Cure,ja,1997-11-06,0.212443,20000,99000,111.0
4793,182291,On The Downlow,en,2004-04-11,0.029757,0,0,90.0
4794,286939,Sanctuary: Quite a Conundrum,en,2012-01-20,0.166513,0,0,82.0
4795,124606,Bang,en,1995-09-09,0.918116,0,0,98.0
4796,14337,Primer,en,2004-10-08,23.307949,7000,424760,77.0
4797,67238,Cavite,en,2005-03-12,0.022173,0,0,80.0
4798,9367,El Mariachi,es,1992-09-04,14.269792,220000,2040920,81.0
4799,72766,Newlyweds,en,2011-12-26,0.642552,9000,0,85.0
4800,231617,"Signed, Sealed, Delivered",en,2013-10-13,1.444476,0,0,120.0
4801,126186,Shanghai Calling,en,2012-05-03,0.857008,0,0,98.0
4802,25975,My Date with Drew,en,2005-08-05,1.929883,0,0,90.0

In [20]:
#There are now no movies with a runtime of 0
movies[movies.runtime == 0]

Empty DataFrame
Columns: [id, title, original_language, release_date, popularity, budget, revenue, runtime]
Index: []

In [21]:
#Validating whether the runtimes of 0 have changed to 107.661
movies.loc[1011]

id                                 53953
title                    The Tooth Fairy
original_language                     de
release_date         2006-08-08 00:00:00
popularity                      0.716764
budget                                 0
revenue                                0
runtime                          107.661
Name: 1011, dtype: object

In [22]:
#Changing the Null values to 107.661
movies[movies['runtime'].isnull()]

,id,title,original_language,release_date,popularity,budget,revenue,runtime
2656,370980,Chiamatemi Francesco - Il Papa della gente,it,2015-12-03,0.738646,15000000,0,NaN
4140,459488,"To Be Frank, Sinatra at 100",en,2015-12-12,0.050625,2,0,NaN

In [23]:
movies.loc[movies['runtime'].isnull(),'runtime']=temp_movies.runtime.mean()
movies

,id,title,original_language,release_date,popularity,budget,revenue,runtime
0,19995,Avatar,en,2009-12-10,150.437577,237000000,2787965087,162.0
1,285,Pirates of the Caribbean: At World's End,en,2007-05-19,139.082615,300000000,961000000,169.0
2,206647,Spectre,en,2015-10-26,107.376788,245000000,880674609,148.0
3,49026,The Dark Knight Rises,en,2012-07-16,112.312950,250000000,1084939099,165.0
4,49529,John Carter,en,2012-03-07,43.926995,260000000,284139100,132.0
5,559,Spider-Man 3,en,2007-05-01,115.699814,258000000,890871626,139.0
6,38757,Tangled,en,2010-11-24,48.681969,260000000,591794936,100.0
7,99861,Avengers: Age of Ultron,en,2015-04-22,134.279229,280000000,1405403694,141.0
8,767,Harry Potter and the Half-Blood Prince,en,2009-07-07,98.885637,250000000,933959197,153.0
9,209112,Batman v Superman: Dawn of Justice,en,2016-03-23,155.790452,250000000,873260194,151.0
10,1452,Superman Returns,en,2006-06-28,57.925623,270000000,391081192,154.0
11,10764,Quantum of Solace,en,2008-10-30,107.928811,200000000,586090727,106.0
12,58,Pirates of the Caribbean: Dead Man's Chest,en,2006-06-20,145.847379,200000000,1065659812,151.0
13,57201,The Lone Ranger,en,2013-07-03,49.046956,255000000,89289910,149.0
14,49521,Man of Steel,en,2013-06-12,99.398009,225000000,662845518,143.0
15,2454,The Chronicles of Narnia: Prince Caspian,en,2008-05-15,53.978602,225000000,419651413,150.0
16,24428,The Avengers,en,2012-04-25,144.448633,220000000,1519557910,143.0
17,1865,Pirates of the Caribbean: On Stranger Tides,en,2011-05-14,135.413856,380000000,1045713802,136.0
18,41154,Men in Black 3,en,2012-05-23,52.035179,225000000,624026776,106.0
19,122917,The Hobbit: The Battle of the Five Armies,en,2014-12-10,120.965743,250000000,956019788,144.0
20,1930,The Amazing Spider-Man,en,2012-06-27,89.866276,215000000,752215857,136.0
21,20662,Robin Hood,en,2010-05-12,37.668301,200000000,310669540,140.0
22,57158,The Hobbit: The Desolation of Smaug,en,2013-12-11,94.370564,250000000,958400000,161.0
23,2268,The Golden Compass,en,2007-12-04,42.990906,180000000,372234864,113.0
24,254,King Kong,en,2005-12-14,61.226010,207000000,550000000,187.0
25,597,Titanic,en,1997-11-18,100.025899,200000000,1845034188,194.0
26,271110,Captain America: Civil War,en,2016-04-27,198.372395,250000000,1153304495,147.0
27,44833,Battleship,en,2012-04-11,64.928382,209000000,303025485,131.0
28,135397,Jurassic World,en,2015-06-09,418.708552,150000000,1513528810,124.0
29,37724,Skyfall,en,2012-10-25,93.004993,200000000,1108561013,143.0
...,...,...,...,...,...,...,...,...
4773,2292,Clerks,en,1994-09-13,19.748658,27000,3151130,92.0
4774,42497,Pink Narcissus,en,1971-01-01,0.027811,27000,0,64.0
4775,33693,Funny Ha Ha,en,2002-09-20,0.362633,0,76901,85.0
4776,14585,In the Company of Men,en,1997-01-19,2.634007,0,0,97.0
4777,185465,Manito,en,2002-01-15,0.039264,0,0,78.0
4778,38780,Rampage,en,2009-08-14,7.101197,0,0,85.0
4779,14022,Slacker,en,1990-07-27,3.320622,0,0,97.0
4780,366967,Dutch Kills,en,2015-10-02,0.038143,0,0,90.0
4781,255266,Dry Spell,en,2013-02-14,0.048948,22000,0,90.0
4782,17345,Flywheel,en,2003-01-01,1.048524,0,0,120.0
4783,226458,Backmask,en,2015-01-16,3.619167,0,0,91.0
4784,24055,The Puffy Chair,en,2005-01-17,1.243955,0,0,85.0
4785,287625,Stories of Our Lives,en,2014-09-05,0.327794,0,0,60.0
4786,44990,Breaking Upwards,en,2009-03-14,0.674570,0,0,88.0
4787,86304,All Superheroes Must Die,en,2011-10-26,3.545991,0,0,78.0
4788,692,Pink Flamingos,en,1972-03-12,4.553644,12000,6000000,93.0
4789,39851,Clean,en,2004-09-01,1.464566,0,0,111.0
4790,13898,The Circle,fa,2000-09-08,1.193779,0,0,90.0
4791,157185,Tin Can Man,en,2007-01-01,0.332679,13,0,84.0
4792,36095,Cure,ja,1997-11-06,0.212443,20000,99000,111.0
4793,182291,On The Downlow,en,2004-04-11,0.029757,0,0,90.0
4794,286939,Sanctuary: Quite a Conundrum,en,2012-01-20,0.166513,0,0,82.0
4795,124606,Bang,en,1995-09-09,0.918116,0,0,98.0
4796,14337,Primer,en,2004-10-08,23.307949,7000,424760,77.0
4797,67238,Cavite,en,2005-03-12,0.022173,0,0,80.0
4798,9367,El Mariachi,es,1992-09-04,14.269792,220000,2040920,81.0
4799,72766,Newlyweds,en,2011-12-26,0.642552,9000,0,85.0
4800,231617,"Signed, Sealed, Delivered",en,2013-10-13,1.444476,0,0,120.0
4801,126186,Shanghai Calling,en,2012-05-03,0.857008,0,0,98.0
4802,25975,My Date with Drew,en,2005-08-05,1.929883,0,0,90.0

In [300]:
#Validating whether the runtimes of NaN have changed to 107.661
movies.loc[2656]

id                                                       370980
title                Chiamatemi Francesco - Il Papa della gente
original_language                                            it
release_date                                         2015-12-03
popularity                                             0.738646
budget                                                 15000000
revenue                                                       0
runtime                                                 107.661
Name: 2656, dtype: object

In [24]:
#Change all Budgets and Revenues which are 0 to Null values- as they are unknown in the TMDb website. 
#A value of 0 is incorrect and would bring down all other statistics, whereas a Null value in the database would enable us to perform analysis to determine the actual values, on basis of other factors like runtime, release date, cast, etc
movies.loc[movies['budget']==0,'budget']=None
movies.loc[movies['revenue']==0,'revenue']=None
movies.describe()

                  id   popularity        budget       revenue      runtime
count    4802.000000  4802.000000  3.766000e+03  3.376000e+03  4802.000000
mean    57098.234902    21.496776  3.704284e+07  1.170314e+08   107.660722
std     88581.302370    31.818451  4.264651e+07  1.834831e+08    20.671483
min         5.000000     0.000372  1.000000e+00  5.000000e+00    14.000000
25%      9013.750000     4.671734  8.000000e+06  1.535290e+07    94.000000
50%     14626.500000    12.924931  2.300000e+07  5.175184e+07   104.000000
75%     58589.750000    28.332017  5.000000e+07  1.401651e+08   117.750000
max    459488.000000   875.581305  3.800000e+08  2.787965e+09   338.000000

In [25]:
movies[movies['budget'].isnull()]

,id,title,original_language,release_date,popularity,budget,revenue,runtime
265,10588,The Cat in the Hat,en,2003-11-21,18.251129,NaN,NaN,82.000000
321,77953,The Campaign,en,2012-08-09,16.460356,NaN,104907746.0,85.000000
359,258509,Alvin and the Chipmunks: The Road Chip,en,2015-12-17,27.867368,NaN,233755553.0,92.000000
406,51052,Arthur Christmas,en,2011-02-22,19.836830,NaN,NaN,97.000000
409,16858,All That Jazz,en,1979-12-20,5.159407,NaN,37823676.0,123.000000
453,12096,The Pink Panther,en,2006-01-18,25.450534,NaN,NaN,93.000000
463,161795,DÃ©jÃ Vu,en,1998-04-22,0.605645,NaN,NaN,117.000000
474,330770,Evolution,fr,2015-09-14,3.300061,NaN,NaN,81.000000
475,9433,The Edge,en,1997-09-06,20.632673,NaN,43312294.0,117.000000
489,36970,Oceans,en,2009-10-17,10.706613,NaN,19406406.0,84.000000
542,25769,Carriers,en,2009-09-04,12.708963,NaN,5802422.0,84.000000
584,10395,Wolf,en,1994-06-17,13.758526,NaN,NaN,125.000000
601,11535,Rollerball,en,2002-02-08,9.306253,NaN,NaN,98.000000
691,11199,Wild Hogs,en,2007-03-02,31.719463,NaN,253625427.0,100.000000
721,10628,Kangaroo Jack,en,2003-01-17,10.292864,NaN,NaN,89.000000
735,10771,The Tuxedo,en,2002-09-27,21.549232,NaN,NaN,98.000000
745,10040,Miss Congeniality 2: Armed and Fabulous,en,2005-03-11,19.998581,NaN,NaN,115.000000
757,87825,Trouble with the Curve,en,2012-09-21,18.587114,NaN,NaN,111.000000
766,9513,Garfield: A Tail of Two Kitties,en,2006-06-15,16.930969,NaN,141702264.0,78.000000
847,13260,Semi-Pro,en,2008-02-28,10.449975,NaN,33472850.0,91.000000
881,39437,Beloved,en,1998-10-16,1.453765,NaN,NaN,172.000000
882,1950,Lucky You,en,2007-05-01,6.162872,NaN,5761917.0,124.000000
897,9969,Deck the Halls,en,2006-11-22,5.952527,NaN,47231070.0,93.000000
915,9441,Stepmom,en,1998-12-25,16.368283,NaN,NaN,124.000000
948,10393,The Replacements,en,2000-08-07,14.837288,NaN,NaN,118.000000
1007,96724,Anna Karenina,en,2012-09-06,26.387040,NaN,68929150.0,130.000000
1011,53953,The Tooth Fairy,de,2006-08-08,0.716764,NaN,NaN,107.660722
1016,11232,Kate & Leopold,en,2001-12-25,11.940711,NaN,NaN,118.000000
1023,7504,Earth,hi,1998-09-16,1.246883,NaN,528972.0,101.000000
1028,593,Solaris,ru,1972-03-20,24.132271,NaN,NaN,167.000000
...,...,...,...,...,...,...,...,...
4761,222250,A True Story,en,2013-09-20,0.970351,NaN,NaN,96.000000
4762,18292,George Washington,en,2000-10-01,2.058834,NaN,NaN,89.000000
4763,125537,Smiling Fish & Goat On Fire,en,1999-09-16,0.007340,NaN,NaN,90.000000
4764,326576,Dawn of the Crescent Moon,en,2014-04-05,0.049469,NaN,NaN,95.000000
4765,228550,Raymond Did It,en,2011-03-27,0.160779,NaN,NaN,83.000000
4766,13963,The Last Waltz,en,1978-05-01,3.277287,NaN,321952.0,117.000000
4768,44770,The Exploding Girl,en,2009-04-22,0.611081,NaN,NaN,80.000000
4769,69382,The Legend of God's Gun,en,2007-07-08,0.003582,NaN,NaN,78.000000
4771,220490,Her Cry: La Llorona Investigation,en,2013-04-19,0.056459,NaN,NaN,89.000000
4775,33693,Funny Ha Ha,en,2002-09-20,0.362633,NaN,76901.0,85.000000
4776,14585,In the Company of Men,en,1997-01-19,2.634007,NaN,NaN,97.000000
4777,185465,Manito,en,2002-01-15,0.039264,NaN,NaN,78.000000
4778,38780,Rampage,en,2009-08-14,7.101197,NaN,NaN,85.000000
4779,14022,Slacker,en,1990-07-27,3.320622,NaN,NaN,97.000000
4780,366967,Dutch Kills,en,2015-10-02,0.038143,NaN,NaN,90.000000
4782,17345,Flywheel,en,2003-01-01,1.048524,NaN,NaN,120.000000
4783,226458,Backmask,en,2015-01-16,3.619167,NaN,NaN,91.000000
4784,24055,The Puffy Chair,en,2005-01-17,1.243955,NaN,NaN,85.000000
4785,287625,Stories of Our Lives,en,2014-09-05,0.327794,NaN,NaN,60.000000
4786,44990,Breaking Upwards,en,2009-03-14,0.674570,NaN,NaN,88.000000
4787,86304,All Superheroes Must Die,en,2011-10-26,3.545991,NaN,NaN,78.000000
4789,39851,Clean,en,2004-09-01,1.464566,NaN,NaN,111.000000
4790,13898,The Circle,fa,2000-09-08,1.193779,NaN,NaN,90.000000
4793,182291,On The Downlow,en,2004-04-11,0.029757,NaN,NaN,90.000000
4794,286939,Sanctuary: Quite a Conundrum,en,2012-01-20,0.166513,NaN,NaN,82.000000
4795,124606,Bang,en,1995-09-09,0.918116,NaN,NaN,98.000000
4797,67238,Cavite,en,2005-03-12,0.022173,NaN,NaN,80.000000
4800,231617,"Signed, Sealed, Delivered",en,2013-10-13,1.444476,NaN,NaN,120.000000
4801,126186,Shanghai Calling,en,2012-05-03,0.857008,NaN,NaN,98.000000
4802,25975,My Date with Drew,en,2005-08-05,1.929883,NaN,NaN,90.000000

In [26]:
#No null values for runtime. This column is now clean
movies[movies['runtime'].isnull()]

Empty DataFrame
Columns: [id, title, original_language, release_date, popularity, budget, revenue, runtime]
Index: []

In [28]:
movies

,id,title,original_language,release_date,popularity,budget,revenue,runtime
0,19995,Avatar,en,2009-12-10,150.437577,237000000.0,2.787965e+09,162.0
1,285,Pirates of the Caribbean: At World's End,en,2007-05-19,139.082615,300000000.0,9.610000e+08,169.0
2,206647,Spectre,en,2015-10-26,107.376788,245000000.0,8.806746e+08,148.0
3,49026,The Dark Knight Rises,en,2012-07-16,112.312950,250000000.0,1.084939e+09,165.0
4,49529,John Carter,en,2012-03-07,43.926995,260000000.0,2.841391e+08,132.0
5,559,Spider-Man 3,en,2007-05-01,115.699814,258000000.0,8.908716e+08,139.0
6,38757,Tangled,en,2010-11-24,48.681969,260000000.0,5.917949e+08,100.0
7,99861,Avengers: Age of Ultron,en,2015-04-22,134.279229,280000000.0,1.405404e+09,141.0
8,767,Harry Potter and the Half-Blood Prince,en,2009-07-07,98.885637,250000000.0,9.339592e+08,153.0
9,209112,Batman v Superman: Dawn of Justice,en,2016-03-23,155.790452,250000000.0,8.732602e+08,151.0
10,1452,Superman Returns,en,2006-06-28,57.925623,270000000.0,3.910812e+08,154.0
11,10764,Quantum of Solace,en,2008-10-30,107.928811,200000000.0,5.860907e+08,106.0
12,58,Pirates of the Caribbean: Dead Man's Chest,en,2006-06-20,145.847379,200000000.0,1.065660e+09,151.0
13,57201,The Lone Ranger,en,2013-07-03,49.046956,255000000.0,8.928991e+07,149.0
14,49521,Man of Steel,en,2013-06-12,99.398009,225000000.0,6.628455e+08,143.0
15,2454,The Chronicles of Narnia: Prince Caspian,en,2008-05-15,53.978602,225000000.0,4.196514e+08,150.0
16,24428,The Avengers,en,2012-04-25,144.448633,220000000.0,1.519558e+09,143.0
17,1865,Pirates of the Caribbean: On Stranger Tides,en,2011-05-14,135.413856,380000000.0,1.045714e+09,136.0
18,41154,Men in Black 3,en,2012-05-23,52.035179,225000000.0,6.240268e+08,106.0
19,122917,The Hobbit: The Battle of the Five Armies,en,2014-12-10,120.965743,250000000.0,9.560198e+08,144.0
20,1930,The Amazing Spider-Man,en,2012-06-27,89.866276,215000000.0,7.522159e+08,136.0
21,20662,Robin Hood,en,2010-05-12,37.668301,200000000.0,3.106695e+08,140.0
22,57158,The Hobbit: The Desolation of Smaug,en,2013-12-11,94.370564,250000000.0,9.584000e+08,161.0
23,2268,The Golden Compass,en,2007-12-04,42.990906,180000000.0,3.722349e+08,113.0
24,254,King Kong,en,2005-12-14,61.226010,207000000.0,5.500000e+08,187.0
25,597,Titanic,en,1997-11-18,100.025899,200000000.0,1.845034e+09,194.0
26,271110,Captain America: Civil War,en,2016-04-27,198.372395,250000000.0,1.153304e+09,147.0
27,44833,Battleship,en,2012-04-11,64.928382,209000000.0,3.030255e+08,131.0
28,135397,Jurassic World,en,2015-06-09,418.708552,150000000.0,1.513529e+09,124.0
29,37724,Skyfall,en,2012-10-25,93.004993,200000000.0,1.108561e+09,143.0
...,...,...,...,...,...,...,...,...
4773,2292,Clerks,en,1994-09-13,19.748658,27000.0,3.151130e+06,92.0
4774,42497,Pink Narcissus,en,1971-01-01,0.027811,27000.0,NaN,64.0
4775,33693,Funny Ha Ha,en,2002-09-20,0.362633,NaN,7.690100e+04,85.0
4776,14585,In the Company of Men,en,1997-01-19,2.634007,NaN,NaN,97.0
4777,185465,Manito,en,2002-01-15,0.039264,NaN,NaN,78.0
4778,38780,Rampage,en,2009-08-14,7.101197,NaN,NaN,85.0
4779,14022,Slacker,en,1990-07-27,3.320622,NaN,NaN,97.0
4780,366967,Dutch Kills,en,2015-10-02,0.038143,NaN,NaN,90.0
4781,255266,Dry Spell,en,2013-02-14,0.048948,22000.0,NaN,90.0
4782,17345,Flywheel,en,2003-01-01,1.048524,NaN,NaN,120.0
4783,226458,Backmask,en,2015-01-16,3.619167,NaN,NaN,91.0
4784,24055,The Puffy Chair,en,2005-01-17,1.243955,NaN,NaN,85.0
4785,287625,Stories of Our Lives,en,2014-09-05,0.327794,NaN,NaN,60.0
4786,44990,Breaking Upwards,en,2009-03-14,0.674570,NaN,NaN,88.0
4787,86304,All Superheroes Must Die,en,2011-10-26,3.545991,NaN,NaN,78.0
4788,692,Pink Flamingos,en,1972-03-12,4.553644,12000.0,6.000000e+06,93.0
4789,39851,Clean,en,2004-09-01,1.464566,NaN,NaN,111.0
4790,13898,The Circle,fa,2000-09-08,1.193779,NaN,NaN,90.0
4791,157185,Tin Can Man,en,2007-01-01,0.332679,13.0,NaN,84.0
4792,36095,Cure,ja,1997-11-06,0.212443,20000.0,9.900000e+04,111.0
4793,182291,On The Downlow,en,2004-04-11,0.029757,NaN,NaN,90.0
4794,286939,Sanctuary: Quite a Conundrum,en,2012-01-20,0.166513,NaN,NaN,82.0
4795,124606,Bang,en,1995-09-09,0.918116,NaN,NaN,98.0
4796,14337,Primer,en,2004-10-08,23.307949,7000.0,4.247600e+05,77.0
4797,67238,Cavite,en,2005-03-12,0.022173,NaN,NaN,80.0
4798,9367,El Mariachi,es,1992-09-04,14.269792,220000.0,2.040920e+06,81.0
4799,72766,Newlyweds,en,2011-12-26,0.642552,9000.0,NaN,85.0
4800,231617,"Signed, Sealed, Delivered",en,2013-10-13,1.444476,NaN,NaN,120.0
4801,126186,Shanghai Calling,en,2012-05-03,0.857008,NaN,NaN,98.0
4802,25975,My Date with Drew,en,2005-08-05,1.929883,NaN,NaN,90.0

In [29]:
#Change all movie titles to lower case
movies['title']=movies['title'].str.lower()
movies['title']=movies['title'].str.strip()
movies

,id,title,original_language,release_date,popularity,budget,revenue,runtime
0,19995,avatar,en,2009-12-10,150.437577,237000000.0,2.787965e+09,162.0
1,285,pirates of the caribbean: at world's end,en,2007-05-19,139.082615,300000000.0,9.610000e+08,169.0
2,206647,spectre,en,2015-10-26,107.376788,245000000.0,8.806746e+08,148.0
3,49026,the dark knight rises,en,2012-07-16,112.312950,250000000.0,1.084939e+09,165.0
4,49529,john carter,en,2012-03-07,43.926995,260000000.0,2.841391e+08,132.0
5,559,spider-man 3,en,2007-05-01,115.699814,258000000.0,8.908716e+08,139.0
6,38757,tangled,en,2010-11-24,48.681969,260000000.0,5.917949e+08,100.0
7,99861,avengers: age of ultron,en,2015-04-22,134.279229,280000000.0,1.405404e+09,141.0
8,767,harry potter and the half-blood prince,en,2009-07-07,98.885637,250000000.0,9.339592e+08,153.0
9,209112,batman v superman: dawn of justice,en,2016-03-23,155.790452,250000000.0,8.732602e+08,151.0
10,1452,superman returns,en,2006-06-28,57.925623,270000000.0,3.910812e+08,154.0
11,10764,quantum of solace,en,2008-10-30,107.928811,200000000.0,5.860907e+08,106.0
12,58,pirates of the caribbean: dead man's chest,en,2006-06-20,145.847379,200000000.0,1.065660e+09,151.0
13,57201,the lone ranger,en,2013-07-03,49.046956,255000000.0,8.928991e+07,149.0
14,49521,man of steel,en,2013-06-12,99.398009,225000000.0,6.628455e+08,143.0
15,2454,the chronicles of narnia: prince caspian,en,2008-05-15,53.978602,225000000.0,4.196514e+08,150.0
16,24428,the avengers,en,2012-04-25,144.448633,220000000.0,1.519558e+09,143.0
17,1865,pirates of the caribbean: on stranger tides,en,2011-05-14,135.413856,380000000.0,1.045714e+09,136.0
18,41154,men in black 3,en,2012-05-23,52.035179,225000000.0,6.240268e+08,106.0
19,122917,the hobbit: the battle of the five armies,en,2014-12-10,120.965743,250000000.0,9.560198e+08,144.0
20,1930,the amazing spider-man,en,2012-06-27,89.866276,215000000.0,7.522159e+08,136.0
21,20662,robin hood,en,2010-05-12,37.668301,200000000.0,3.106695e+08,140.0
22,57158,the hobbit: the desolation of smaug,en,2013-12-11,94.370564,250000000.0,9.584000e+08,161.0
23,2268,the golden compass,en,2007-12-04,42.990906,180000000.0,3.722349e+08,113.0
24,254,king kong,en,2005-12-14,61.226010,207000000.0,5.500000e+08,187.0
25,597,titanic,en,1997-11-18,100.025899,200000000.0,1.845034e+09,194.0
26,271110,captain america: civil war,en,2016-04-27,198.372395,250000000.0,1.153304e+09,147.0
27,44833,battleship,en,2012-04-11,64.928382,209000000.0,3.030255e+08,131.0
28,135397,jurassic world,en,2015-06-09,418.708552,150000000.0,1.513529e+09,124.0
29,37724,skyfall,en,2012-10-25,93.004993,200000000.0,1.108561e+09,143.0
...,...,...,...,...,...,...,...,...
4773,2292,clerks,en,1994-09-13,19.748658,27000.0,3.151130e+06,92.0
4774,42497,pink narcissus,en,1971-01-01,0.027811,27000.0,NaN,64.0
4775,33693,funny ha ha,en,2002-09-20,0.362633,NaN,7.690100e+04,85.0
4776,14585,in the company of men,en,1997-01-19,2.634007,NaN,NaN,97.0
4777,185465,manito,en,2002-01-15,0.039264,NaN,NaN,78.0
4778,38780,rampage,en,2009-08-14,7.101197,NaN,NaN,85.0
4779,14022,slacker,en,1990-07-27,3.320622,NaN,NaN,97.0
4780,366967,dutch kills,en,2015-10-02,0.038143,NaN,NaN,90.0
4781,255266,dry spell,en,2013-02-14,0.048948,22000.0,NaN,90.0
4782,17345,flywheel,en,2003-01-01,1.048524,NaN,NaN,120.0
4783,226458,backmask,en,2015-01-16,3.619167,NaN,NaN,91.0
4784,24055,the puffy chair,en,2005-01-17,1.243955,NaN,NaN,85.0
4785,287625,stories of our lives,en,2014-09-05,0.327794,NaN,NaN,60.0
4786,44990,breaking upwards,en,2009-03-14,0.674570,NaN,NaN,88.0
4787,86304,all superheroes must die,en,2011-10-26,3.545991,NaN,NaN,78.0
4788,692,pink flamingos,en,1972-03-12,4.553644,12000.0,6.000000e+06,93.0
4789,39851,clean,en,2004-09-01,1.464566,NaN,NaN,111.0
4790,13898,the circle,fa,2000-09-08,1.193779,NaN,NaN,90.0
4791,157185,tin can man,en,2007-01-01,0.332679,13.0,NaN,84.0
4792,36095,cure,ja,1997-11-06,0.212443,20000.0,9.900000e+04,111.0
4793,182291,on the downlow,en,2004-04-11,0.029757,NaN,NaN,90.0
4794,286939,sanctuary: quite a conundrum,en,2012-01-20,0.166513,NaN,NaN,82.0
4795,124606,bang,en,1995-09-09,0.918116,NaN,NaN,98.0
4796,14337,primer,en,2004-10-08,23.307949,7000.0,4.247600e+05,77.0
4797,67238,cavite,en,2005-03-12,0.022173,NaN,NaN,80.0
4798,9367,el mariachi,es,1992-09-04,14.269792,220000.0,2.040920e+06,81.0
4799,72766,newlyweds,en,2011-12-26,0.642552,9000.0,NaN,85.0
4800,231617,"signed, sealed, delivered",en,2013-10-13,1.444476,NaN,NaN,120.0
4801,126186,shanghai calling,en,2012-05-03,0.857008,NaN,NaN,98.0
4802,25975,my date with drew,en,2005-08-05,1.929883,NaN,NaN,90.0

In [30]:
#Changing the abbreviations for langauges to the full language name
movies['original_language'].unique()

array(['en', 'ja', 'fr', 'zh', 'es', 'de', 'hi', 'ru', 'ko', 'te', 'cn',
       'it', 'nl', 'ta', 'sv', 'th', 'da', 'xx', 'hu', 'cs', 'pt', 'is',
       'tr', 'nb', 'af', 'pl', 'he', 'ar', 'vi', 'ky', 'id', 'ro', 'fa',
       'no', 'sl', 'ps', 'el'], dtype=object)

In [31]:
movies.loc[movies['original_language']=='en','original_language']="english"
movies.loc[movies['original_language']=='ja','original_language']="japanese"
movies.loc[movies['original_language']=='fr','original_language']="french"
movies.loc[movies['original_language']=='zh','original_language']="chinese"
movies.loc[movies['original_language']=='es','original_language']="spanish"
movies.loc[movies['original_language']=='de','original_language']="german"
movies.loc[movies['original_language']=='hi','original_language']="hindi"
movies.loc[movies['original_language']=='ru','original_language']="russian"
movies.loc[movies['original_language']=='ko','original_language']="korean"
movies.loc[movies['original_language']=='te','original_language']="telugu"
movies.loc[movies['original_language']=='cn','original_language']="chinese(s)"
movies.loc[movies['original_language']=='it','original_language']="italian"
movies.loc[movies['original_language']=='nl','original_language']="dutch"
movies.loc[movies['original_language']=='ta','original_language']="tamil"
movies.loc[movies['original_language']=='sv','original_language']="swedish"
movies.loc[movies['original_language']=='th','original_language']="thai"
movies.loc[movies['original_language']=='da','original_language']="danish"
movies.loc[movies['original_language']=='xx','original_language']="unknown"
movies.loc[movies['original_language']=='hu','original_language']="hungarian"
movies.loc[movies['original_language']=='cs','original_language']="czech"
movies.loc[movies['original_language']=='pt','original_language']="portuguese"
movies.loc[movies['original_language']=='is','original_language']="icelandic"
movies.loc[movies['original_language']=='tr','original_language']="turkish"
movies.loc[movies['original_language']=='nb','original_language']="norwegian-bokm"
movies.loc[movies['original_language']=='af','original_language']="afrikaans"
movies.loc[movies['original_language']=='pl','original_language']="polish"
movies.loc[movies['original_language']=='he','original_language']="hebrew"
movies.loc[movies['original_language']=='ar','original_language']="arabic"
movies.loc[movies['original_language']=='vi','original_language']="vietnamese"
movies.loc[movies['original_language']=='ky','original_language']="kyrgyz"
movies.loc[movies['original_language']=='id','original_language']="indonesian"
movies.loc[movies['original_language']=='ro','original_language']="romanian"
movies.loc[movies['original_language']=='fa','original_language']="farsi"
movies.loc[movies['original_language']=='no','original_language']="norwegian-norway"
movies.loc[movies['original_language']=='sl','original_language']="slovenian"
movies.loc[movies['original_language']=='ps','original_language']="pashto"
movies.loc[movies['original_language']=='el','original_language']="greek"
movies

,id,title,original_language,release_date,popularity,budget,revenue,runtime
0,19995,avatar,english,2009-12-10,150.437577,237000000.0,2.787965e+09,162.0
1,285,pirates of the caribbean: at world's end,english,2007-05-19,139.082615,300000000.0,9.610000e+08,169.0
2,206647,spectre,english,2015-10-26,107.376788,245000000.0,8.806746e+08,148.0
3,49026,the dark knight rises,english,2012-07-16,112.312950,250000000.0,1.084939e+09,165.0
4,49529,john carter,english,2012-03-07,43.926995,260000000.0,2.841391e+08,132.0
5,559,spider-man 3,english,2007-05-01,115.699814,258000000.0,8.908716e+08,139.0
6,38757,tangled,english,2010-11-24,48.681969,260000000.0,5.917949e+08,100.0
7,99861,avengers: age of ultron,english,2015-04-22,134.279229,280000000.0,1.405404e+09,141.0
8,767,harry potter and the half-blood prince,english,2009-07-07,98.885637,250000000.0,9.339592e+08,153.0
9,209112,batman v superman: dawn of justice,english,2016-03-23,155.790452,250000000.0,8.732602e+08,151.0
10,1452,superman returns,english,2006-06-28,57.925623,270000000.0,3.910812e+08,154.0
11,10764,quantum of solace,english,2008-10-30,107.928811,200000000.0,5.860907e+08,106.0
12,58,pirates of the caribbean: dead man's chest,english,2006-06-20,145.847379,200000000.0,1.065660e+09,151.0
13,57201,the lone ranger,english,2013-07-03,49.046956,255000000.0,8.928991e+07,149.0
14,49521,man of steel,english,2013-06-12,99.398009,225000000.0,6.628455e+08,143.0
15,2454,the chronicles of narnia: prince caspian,english,2008-05-15,53.978602,225000000.0,4.196514e+08,150.0
16,24428,the avengers,english,2012-04-25,144.448633,220000000.0,1.519558e+09,143.0
17,1865,pirates of the caribbean: on stranger tides,english,2011-05-14,135.413856,380000000.0,1.045714e+09,136.0
18,41154,men in black 3,english,2012-05-23,52.035179,225000000.0,6.240268e+08,106.0
19,122917,the hobbit: the battle of the five armies,english,2014-12-10,120.965743,250000000.0,9.560198e+08,144.0
20,1930,the amazing spider-man,english,2012-06-27,89.866276,215000000.0,7.522159e+08,136.0
21,20662,robin hood,english,2010-05-12,37.668301,200000000.0,3.106695e+08,140.0
22,57158,the hobbit: the desolation of smaug,english,2013-12-11,94.370564,250000000.0,9.584000e+08,161.0
23,2268,the golden compass,english,2007-12-04,42.990906,180000000.0,3.722349e+08,113.0
24,254,king kong,english,2005-12-14,61.226010,207000000.0,5.500000e+08,187.0
25,597,titanic,english,1997-11-18,100.025899,200000000.0,1.845034e+09,194.0
26,271110,captain america: civil war,english,2016-04-27,198.372395,250000000.0,1.153304e+09,147.0
27,44833,battleship,english,2012-04-11,64.928382,209000000.0,3.030255e+08,131.0
28,135397,jurassic world,english,2015-06-09,418.708552,150000000.0,1.513529e+09,124.0
29,37724,skyfall,english,2012-10-25,93.004993,200000000.0,1.108561e+09,143.0
...,...,...,...,...,...,...,...,...
4773,2292,clerks,english,1994-09-13,19.748658,27000.0,3.151130e+06,92.0
4774,42497,pink narcissus,english,1971-01-01,0.027811,27000.0,NaN,64.0
4775,33693,funny ha ha,english,2002-09-20,0.362633,NaN,7.690100e+04,85.0
4776,14585,in the company of men,english,1997-01-19,2.634007,NaN,NaN,97.0
4777,185465,manito,english,2002-01-15,0.039264,NaN,NaN,78.0
4778,38780,rampage,english,2009-08-14,7.101197,NaN,NaN,85.0
4779,14022,slacker,english,1990-07-27,3.320622,NaN,NaN,97.0
4780,366967,dutch kills,english,2015-10-02,0.038143,NaN,NaN,90.0
4781,255266,dry spell,english,2013-02-14,0.048948,22000.0,NaN,90.0
4782,17345,flywheel,english,2003-01-01,1.048524,NaN,NaN,120.0
4783,226458,backmask,english,2015-01-16,3.619167,NaN,NaN,91.0
4784,24055,the puffy chair,english,2005-01-17,1.243955,NaN,NaN,85.0
4785,287625,stories of our lives,english,2014-09-05,0.327794,NaN,NaN,60.0
4786,44990,breaking upwards,english,2009-03-14,0.674570,NaN,NaN,88.0
4787,86304,all superheroes must die,english,2011-10-26,3.545991,NaN,NaN,78.0
4788,692,pink flamingos,english,1972-03-12,4.553644,12000.0,6.000000e+06,93.0
4789,39851,clean,english,2004-09-01,1.464566,NaN,NaN,111.0
4790,13898,the circle,farsi,2000-09-08,1.193779,NaN,NaN,90.0
4791,157185,tin can man,english,2007-01-01,0.332679,13.0,NaN,84.0
4792,36095,cure,japanese,1997-11-06,0.212443,20000.0,9.900000e+04,111.0
4793,182291,on the downlow,english,2004-04-11,0.029757,NaN,NaN,90.0
4794,286939,sanctuary: quite a conundrum,english,2012-01-20,0.166513,NaN,NaN,82.0
4795,124606,bang,english,1995-09-09,0.918116,NaN,NaN,98.0
4796,14337,primer,english,2004-10-08,23.307949,7000.0,4.247600e+05,77.0
4797,67238,cavite,english,2005-03-12,0.022173,NaN,NaN,80.0
4798,9367,el mariachi,spanish,1992-09-04,14.269792,220000.0,2.040920e+06,81.0
4799,72766,newlyweds,english,2011-12-26,0.642552,9000.0,NaN,85.0
4800,231617,"signed, sealed, delivered",english,2013-10-13,1.444476,NaN,NaN,120.0
4801,126186,shanghai calling,english,2012-05-03,0.857008,NaN,NaN,98.0
4802,25975,my date with drew,english,2005-08-05,1.929883,NaN,NaN,90.0

In [32]:
movies['original_language'].unique()

array(['english', 'japanese', 'french', 'chinese', 'spanish', 'german',
       'hindi', 'russian', 'korean', 'telugu', 'chinese(s)', 'italian',
       'dutch', 'tamil', 'swedish', 'thai', 'danish', 'unknown',
       'hungarian', 'czech', 'portuguese', 'icelandic', 'turkish',
       'norwegian-bokm', 'afrikaans', 'polish', 'hebrew', 'arabic',
       'vietnamese', 'kyrgyz', 'indonesian', 'romanian', 'farsi',
       'norwegian-norway', 'slovenian', 'pashto', 'greek'], dtype=object)

# Creating dataframes for Genres, Tags, Production companies and relation tables

In [80]:
#Creating the table for Genres
import json
genres_df=pd.DataFrame(movies_df,columns=['genres'])
genres = pd.DataFrame(columns=['genre_id', 'genre_name'])
i=1
for gr in genres_df.itertuples():
    gen=gr[1]
    d=json.loads(gen)
    for dg in d:
        name= dg['name']
        id_g=dg['id']
        #print name,id_g
        genres.loc[id_g]=[id_g,name]
print genres

      genre_id       genre_name
28          28           Action
12          12        Adventure
14          14          Fantasy
878        878  Science Fiction
80          80            Crime
18          18            Drama
53          53         Thriller
16          16        Animation
10751    10751           Family
37          37          Western
35          35           Comedy
10749    10749          Romance
27          27           Horror
9648      9648          Mystery
36          36          History
10752    10752              War
10402    10402            Music
99          99      Documentary
10769    10769          Foreign
10770    10770         TV Movie

In [34]:
#Creating the table for Tags
keywords_df=pd.DataFrame(movies_df,columns=['keywords'])
Tags = pd.DataFrame(columns=['Tag_id', 'Tag_name'])
i=1
for key in keywords_df.itertuples():
    k=key[1]
    d=json.loads(k)
    for dk in d:
        name= dk['name']
        id_k=dk['id']
        Tags.loc[id_k]=[id_k,name]
print Tags

        Tag_id                    Tag_name
1463      1463               culture clash
2964      2964                      future
3386      3386                   space war
3388      3388                space colony
3679      3679                     society
3801      3801                space travel
9685      9685                  futuristic
9840      9840                     romance
9882      9882                       space
9951      9951                       alien
10148    10148                       tribe
10158    10158                alien planet
10987    10987                         cgi
11399    11399                      marine
13065    13065                     soldier
14643    14643                      battle
14720    14720                 love affair
165431  165431                    anti war
193554  193554             power relations
206690  206690               mind and soul
209714  209714                          3d
270        270                       ocean
726        726                  drug abuse
911        911               exotic island
1319      1319  east india trading company
2038      2038          love of one's life
2052      2052                     traitor
2580      2580                   shipwreck
2660      2660                strong woman
3799      3799                        ship
...        ...                         ...
188993  188993                   true love
41214    41214                     youtube
10308    10308              h.p. lovecraft
173386  173386                     cthulhu
220084  220084                   grayscale
207011  207011           secret laboratory
184924  184924           comic book artist
232429  232429                image comics
232430  232430         comic book industry
14766    14766                        cafe
161187  161187                   pap smear
161188  161188                austin texas
184011  184011      reference to jack ruby
184014  184014      dairy queen restaurant
184017  184017                   moon walk
198001  198001        anti romantic comedy
3443      3443                 excrements
11192    11192                 adult humor
196911  196911               estranged son
160059  160059                   psychosis
231642  231642        personality disorder
236896  236896                serial kiler
208340  208340                 latino lgbt
209241  209241             gang initiation
209242  209242                     gunplay
177927  177927                    homeless
162740  162740                        arms
187891  187891                 paper knife
206558  206558                 guitar case
173066  173066               postal worker

[9813 rows x 2 columns]

In [39]:
#Creating the relation table for Movies and Genres
import json
genres_df=pd.DataFrame(movies_df,columns=['id','genres'])
genre_movies = pd.DataFrame(columns=['movie_id','genre_id'])
i=1
for gr in genres_df.itertuples():
    gen=gr[2]
    id_movie=gr[1]
    d=json.loads(gen)
    for dg in d:
        id_g=dg['id']
        genre_movies.loc[str(i)]=[id_movie,id_g]
        i=i+1
print genre_movies

      movie_id genre_id
1        19995       28
2        19995       12
3        19995       14
4        19995      878
5          285       12
6          285       14
7          285       28
8       206647       28
9       206647       12
10      206647       80
11       49026       28
12       49026       80
13       49026       18
14       49026       53
15       49529       28
16       49529       12
17       49529      878
18         559       14
19         559       28
20         559       12
21       38757       16
22       38757    10751
23       99861       28
24       99861       12
25       99861      878
26         767       12
27         767       14
28         767    10751
29      209112       28
30      209112       12
...        ...      ...
12131      692       35
12132      692       80
12133    39851       18
12134    13898       18
12135    13898    10769
12136   157185       27
12137    36095       80
12138    36095       27
12139    36095     9648
12140    36095       53
12141   182291       18
12142   286939       53
12143   286939       27
12144   286939       35
12145   124606       18
12146    14337      878
12147    14337       18
12148    14337       53
12149    67238    10769
12150    67238       53
12151     9367       28
12152     9367       80
12153     9367       53
12154    72766       35
12155    72766    10749
12156   231617       35
12157   231617       18
12158   231617    10749
12159   231617    10770
12160    25975       99

[12160 rows x 2 columns]

In [36]:
#Creating the relation table for Movies and Tags
keywords_df=pd.DataFrame(movies_df,columns=['keywords','id'])
tags_movies = pd.DataFrame(columns=['movie_id','tag_id'])
i=1
for key in keywords_df.itertuples():
    k=key[1]
    id_movie=key[2]
    d=json.loads(k)
    for dk in d:
        id_k=dk['id']
        tags_movies.loc[str(i)]=[id_movie,id_k]
        i=i+1
print tags_movies

      movie_id  tag_id
1        19995    1463
2        19995    2964
3        19995    3386
4        19995    3388
5        19995    3679
6        19995    3801
7        19995    9685
8        19995    9840
9        19995    9882
10       19995    9951
11       19995   10148
12       19995   10158
13       19995   10987
14       19995   11399
15       19995   13065
16       19995   14643
17       19995   14720
18       19995  165431
19       19995  193554
20       19995  206690
21       19995  209714
22         285     270
23         285     726
24         285     911
25         285    1319
26         285    2038
27         285    2052
28         285    2580
29         285    2660
30         285    3799
...        ...     ...
36165   182291  209242
36166   124606   10726
36167   124606   33928
36168   124606  172732
36169   124606  177927
36170   124606  207583
36171    14337    1448
36172    14337    2101
36173    14337    3394
36174    14337    4379
36175    14337    5455
36176    14337    6009
36177    14337   10183
36178    14337   14779
36179    14337  162356
36180     9367    5616
36181     9367   33649
36182     9367  162740
36183     9367  187891
36184     9367  206558
36185   231617     248
36186   231617     699
36187   231617    2398
36188   231617    5340
36189   231617   34051
36190   231617  173066
36191    25975    1523
36192    25975    2249
36193    25975    9986
36194    25975   11223

[36194 rows x 2 columns]

In [37]:
#Creating the table for Production Companies
pc_df=pd.DataFrame(movies_df,columns=['production_companies'])
productionCompanies = pd.DataFrame(columns=['prodComp_id', 'company_name'])
i=1
for p in pc_df.itertuples():
    pc=p[1]
    prod=json.loads(pc)
    for pdc in prod:
        name= pdc['name']
        id_p=pdc['id']
        productionCompanies.loc[id_p]=[id_p,name]
print productionCompanies

      prodComp_id                            company_name
289           289                 Ingenious Film Partners
306           306  Twentieth Century Fox Film Corporation
444           444                      Dune Entertainment
574           574                Lightstorm Entertainment
2               2                    Walt Disney Pictures
130           130                 Jerry Bruckheimer Films
19936       19936                 Second Mate Productions
5               5                       Columbia Pictures
10761       10761                                  Danjaq
69434       69434                                     B24
923           923                      Legendary Pictures
6194         6194                            Warner Bros.
9993         9993                        DC Entertainment
9996         9996                                 Syncopy
326           326                Laura Ziskin Productions
19551       19551                      Marvel Enterprises
6125         6125           Walt Disney Animation Studios
420           420                          Marvel Studios
15357       15357                             Prime Focus
76043       76043                  Revolution Sun Studios
7364         7364                            Heyday Films
429           429                               DC Comics
507           507                     Atlas Entertainment
9995         9995                   Cruel & Unusual Films
41624       41624               RatPac-Dune Entertainment
9168         9168               Bad Hat Harry Productions
7576         7576                         Eon Productions
2691         2691                         Infinitum Nihil
37380       37380          Silver Bullet Productions (II)
37381       37381                  Blind Wink Productions
...           ...                                     ...
15288       15288                                 Sequart
41683       41683                      Team Awesome Films
12601       12601                          FM Productions
12602       12602                         Last Waltz Inc.
26004       26004                 Little Big Film Company
31866       31866                    Abundant Productions
31867       31867              Faith vs. Fate Productions
8809         8809             Fair and Square Productions
5723         5723                Pitchblack Pictures Inc.
22793       22793                 Event Film Distribution
22794       22794                        Amok Productions
2943         2943                          GO Productions
35591       35591                 Vicarious Entertainment
52909       52909                   Bloodline Productions
52910       52910                           Shallow Focus
18818       18818                               Grindfest
407           407                   Dreamland Productions
2835         2835           Jafar Panahi Film Productions
21871       21871                              Park Films
79821       79821                      Camera Stylo Films
881           881                           Daiei Studios
26677       26677                        Iconoclast Films
37870       37870                         Gold Lion Films
37871       37871                    T-Street Productions
10571       10571                            Asylum Films
26598       26598                        FM Entertainment
40739       40739                    Eagle Eye Films Inc.
3958         3958                   Front Street Pictures
87986       87986                rusty bear entertainment
87987       87987                        lucky crow films

[5047 rows x 2 columns]

In [38]:
#Creating the relation table for Movies and Production companies
production_Movies_df=pd.DataFrame(movies_df,columns=['production_companies','id'])
movies_prodCompanies = pd.DataFrame(columns=['movie_id','prodComp_id'])
i=1
for pcm in production_Movies_df.itertuples():
    prod_mov=pcm[1]
    id_movie=pcm[2]
    pm=json.loads(prod_mov)
    for p_m in pm:
        id_pm=p_m['id']
        movies_prodCompanies.loc[str(i)]=[id_movie,id_pm]
        i=i+1
print movies_prodCompanies

      movie_id prodComp_id
1        19995         289
2        19995         306
3        19995         444
4        19995         574
5          285           2
6          285         130
7          285       19936
8       206647           5
9       206647       10761
10      206647       69434
11       49026         923
12       49026        6194
13       49026        9993
14       49026        9996
15       49529           2
16         559           5
17         559         326
18         559       19551
19       38757           2
20       38757        6125
21       99861         420
22       99861       15357
23       99861       76043
24         767        6194
25         767        7364
26      209112         429
27      209112         507
28      209112        6194
29      209112        9993
30      209112        9995
...        ...         ...
13648    42497        3923
13649    14585         803
13650    14585        8809
13651    38780        1062
13652    38780        1063
13653    38780        5723
13654    38780       22793
13655    38780       22794
13656   226458        2943
13657   226458       35591
13658   226458       52909
13659   226458       52910
13660    86304       18818
13661      692         407
13662    13898        2835
13663   157185       21871
13664   157185       79821
13665    36095         881
13666   182291       26677
13667   286939       37870
13668   286939       37871
13669   124606       10571
13670   124606       26598
13671   124606       40739
13672    14337         446
13673     9367           5
13674   231617        3958
13675   231617        6438
13676    25975       87986
13677    25975       87987

[13677 rows x 2 columns]

# Checking if the dataframes have null values

In [40]:
#check if the genres dataframe has null values
nan_genres = genres[genres.isnull().any(1)]
nan_genres

Empty DataFrame
Columns: [genre_id, genre_name]
Index: []

In [41]:
#check if the keywords dataframe has null values
nan_keywords = Tags[Tags.isnull().any(1)]
nan_keywords

Empty DataFrame
Columns: [Tag_id, Tag_name]
Index: []

In [42]:
#check if the dataframe has null values
nan_keywordsmovies = tags_movies[tags_movies.isnull().any(1)]
nan_keywordsmovies

Empty DataFrame
Columns: [movie_id, tag_id]
Index: []

In [43]:
#check if the dataframe has null values
nan_genresmovies = genre_movies[genre_movies.isnull().any(1)]
nan_genresmovies

Empty DataFrame
Columns: [movie_id, genre_id]
Index: []

In [44]:
#check if the dataframe has null values
nan_productionComp = productionCompanies[productionCompanies.isnull().any(1)]
nan_productionComp

Empty DataFrame
Columns: [prodComp_id, company_name]
Index: []

In [45]:
#check if the dataframe has null values
nan_prodmovies = movies_prodCompanies[movies_prodCompanies.isnull().any(1)]
nan_prodmovies

Empty DataFrame
Columns: [movie_id, prodComp_id]
Index: []

# Checking for duplicate entries in the dataframes

In [46]:
genres[genres.duplicated()]

Empty DataFrame
Columns: [genre_id, genre_name]
Index: []

In [47]:
Tags[Tags.duplicated()]

Empty DataFrame
Columns: [Tag_id, Tag_name]
Index: []

In [48]:
genre_movies[genre_movies.duplicated()]

Empty DataFrame
Columns: [movie_id, genre_id]
Index: []

In [49]:
tags_movies[tags_movies.duplicated()]

Empty DataFrame
Columns: [movie_id, tag_id]
Index: []

In [50]:
movies_prodCompanies[movies_prodCompanies.duplicated()]

Empty DataFrame
Columns: [movie_id, prodComp_id]
Index: []

In [51]:
productionCompanies[productionCompanies.duplicated()]

Empty DataFrame
Columns: [prodComp_id, company_name]
Index: []

# Converting the names to lower case and strip white spaces for effective search operations

In [81]:
genres['genre_name']=genres['genre_name'].str.lower()
Tags['Tag_name']=Tags['Tag_name'].str.lower()
productionCompanies['company_name']=productionCompanies['company_name'].str.lower()
genres['genre_name']=genres['genre_name'].str.strip()
Tags['Tag_name']=Tags['Tag_name'].str.strip()
productionCompanies['company_name']=productionCompanies['company_name'].str.strip()

# Reading the csv for the Cast data

In [53]:
#the csv fike was not well formed. The key-value pairs in the crew column were not closed properly, 
#so the values were put in extra columns and also transitioned to the next rows
cast_df=pd.read_csv("tmdb_5000_credits.csv",usecols=[0,1,2,3])
cast_df

/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
5,559,Spider-Man 3,"[{""cast_id"": 30, ""character"": ""Peter Parker / ...","[{""credit_id"": ""52fe4252c3a36847f80151a5"", ""de..."
6,38757,Tangled,"[{""cast_id"": 34, ""character"": ""Flynn Rider (vo...","[{""credit_id"": ""52fe46db9251416c91062101"", ""de..."
7,99861,Avengers: Age of Ultron,"[{""cast_id"": 76, ""character"": ""Tony Stark / Ir...","[{""credit_id"": ""55d5f7d4c3a3683e7e0016eb"", ""de..."
8,767,Harry Potter and the Half-Blood Prince,"[{""cast_id"": 3, ""character"": ""Harry Potter"", ""...","[{""credit_id"": ""52fe4273c3a36847f801fab1"", ""de..."
9,209112,Batman v Superman: Dawn of Justice,"[{""cast_id"": 18, ""character"": ""Bruce Wayne / B...","[{""credit_id"": ""553bf23692514135c8002886"", ""de..."
10,1452,Superman Returns,"[{""cast_id"": 3, ""character"": ""Superman / Clark...","[{""credit_id"": ""553bef6a9251416874003c8f"", ""de..."
11,10764,Quantum of Solace,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""52fe43b29251416c7501aa63"", ""de..."
12,58,Pirates of the Caribbean: Dead Man's Chest,"[{""cast_id"": 37, ""character"": ""Captain Jack Sp...","[{""credit_id"": ""52fe4211c3a36847f8001873"", ""de..."
13,57201,The Lone Ranger,"[{""cast_id"": 4, ""character"": ""Tonto"", ""credit_...","[{""credit_id"": ""52fe4928c3a36847f818be95"", ""de..."
14,49521,Man of Steel,"[{""cast_id"": 2, ""character"": ""Clark Kent / Kal...","[{""credit_id"": ""52fe4799c3a36847f813e667"", ""de..."
15,2454,The Chronicles of Narnia: Prince Caspian,"[{""cast_id"": 1, ""character"": ""Prince Caspian"",...","[{""credit_id"": ""55a239e69251412979002e8b"", ""de..."
16,24428,The Avengers,"[{""cast_id"": 46, ""character"": ""Tony Stark / Ir...","[{""credit_id"": ""52fe4495c3a368484e02b1cf"", ""de..."
17,1865,Pirates of the Caribbean: On Stranger Tides,"[{""cast_id"": 15, ""character"": ""Captain Jack Sp...","[{""credit_id"": ""566b4f54c3a3683f56005151"", ""de..."
18,41154,Men in Black 3,"[{""cast_id"": 4, ""character"": ""Agent J"", ""credi...","[{""credit_id"": ""52fe45b7c3a36847f80d68c7"", ""de..."
19,122917,The Hobbit: The Battle of the Five Armies,"[{""cast_id"": 10, ""character"": ""Bilbo Baggins"",...","[{""credit_id"": ""548ad49a9251414fa20011ab"", ""de..."
20,1930,The Amazing Spider-Man,"[{""cast_id"": 56, ""character"": ""Peter Parker / ...","[{""credit_id"": ""5395a60dc3a368641d004492"", ""de..."
21,20662,Robin Hood,"[{""cast_id"": 1, ""character"": ""Robin Longstride...","[{""credit_id"": ""52fe43f2c3a368484e0076ad"", ""de..."
22,57158,The Hobbit: The Desolation of Smaug,"[{""cast_id"": 3, ""character"": ""Bilbo Baggins"", ...","[{""credit_id"": ""52fe4926c3a36847f818b787"", ""de..."
23,2268,The Golden Compass,"[{""cast_id"": 43, ""character"": ""Lyra Belacqua"",...","[{""credit_id"": ""52fe4348c3a36847f8048635"", ""de..."
24,254,King Kong,"[{""cast_id"": 5, ""character"": ""Ann Darrow"", ""cr...","[{""credit_id"": ""52fe422ec3a36847f800a1d7"", ""de..."
25,597,Titanic,"[{""cast_id"": 20, ""character"": ""Rose DeWitt Buk...","[{""credit_id"": ""52fe425ac3a36847f8017985"", ""de..."
26,271110,Captain America: Civil War,"[{""cast_id"": 9, ""character"": ""Steve Rogers / C...","[{""credit_id"": ""569443d59251414b67000428"", ""de..."
27,44833,Battleship,"[{""cast_id"": 3, ""character"": ""Lieutenant Alex ...","[{""credit_id"": ""52fe469ec3a36847f8108d45"", ""de..."
28,135397,Jurassic World,"[{""cast_id"": 10, ""character"": ""Owen Grady"", ""c...","[{""credit_id"": ""52fe4bf7c3a368484e1a0683"", ""de..."
29,"ake-Up""""","""""gender"""": 0","""""id"""": 1463382","""""job"""": """"Set Dressing Artist"""""
...,...,...,...,...
4783,2292,Clerks,"[{""cast_id"": 7, ""character"": ""Dante Hicks"", ""c...","[{""credit_id"": ""52fe434ac3a36847f8049253"", ""de..."
4784,42497,Pink Narcissus,"[{""cast_id"": 1006, ""character"": ""Pan"", ""credit...","[{""credit_id"": ""52fe4606c3a36847f80e7ed9"", ""de..."
4785,33693,Funny Ha Ha,"[{""cast_id"": 1, ""character"": ""Marnie"", ""credit...","[{""credit_id"": ""52fe45309251416c9102a535"", ""de..."
4786,14585,In the Company of Men,"[{""cast_id"": 1, ""character"": ""Chad"", ""credit_i...","[{""credit_id"": ""52fe46049251416c7506a36b"", ""de..."
4787,185465,Manito,"[{""cast_id"": 1, ""character"": ""Junior Moreno"", ...","[{""credit_id"": ""54931bbf925141090e001d32"", ""de..."
4788,38780,Rampage,"[{""cast_id"": 1, ""character"": ""Bill Williamson""...","[{""credit_id"": ""52fe46df9251416c91062979"", ""de..."
4789,14022,Slacker,"[{""cast_id"": 1, ""character"": ""Should Have Stay...","[{""credit_id"": ""52fe45c49251416c75061c17"", ""de..."
4790,366967,Dutch Kills,"[{""cast_id"": 4, ""character"": ""Val"", ""credit_id...","[{""credit_id"": ""563d13ec9251414c70007d5e"", ""de..."
4791,255266,Dry Spell,"[{""cast_id"": 4, ""character"": ""Sasha"", ""credit_...","[{""credit_id"": ""52fe4ee39251416c911412e7"", ""de..."
4792,17345,Flywheel,"[{""cast_id"": 1, ""character"": ""Jay"", ""credit_id...","[{""credit_id"": ""52fe471e9251416c7508e579"", ""de..."
4793,226458,Backmask,"[{""cast_id"": 3, ""character"": ""Father Conway"", ...","[{""credit_id"": ""554c8351c3a3685e500041f5"", ""de..."
4794,24055,The Puffy Chair,"[{""cast_id"": 4, ""character"": ""Josh"", ""credit_i...","[{""credit_id"": ""52fe447fc3a368484e026881"", ""de..."
4795,287625,Stories of Our Lives,"[{""cast_id"": 8, ""character"": """", ""credit_id"": ...","[{""credit_id"": ""549e790a9251414d27003096"", ""de..."
4796,44990,Breaking Upwards,"[{""cast_id"": 1, ""character"": ""Zoe"", ""credit_id...","[{""credit_id"": ""572239efc3a368712a0007db"", ""de..."
4797,86304,All Superheroes Must Die,"[{""cast_id"": 1, ""character"": ""Charge / John"", ...","[{""credit_id"": ""52fe497f9251416c910af3d1"", ""de..."
4798,692,Pink Flamingos,"[{""cast_id"": 8, ""character"": ""Divine / Babs Jo...","[{""credit_id"": ""52fe426bc3a36847f801d203"", ""de..."
4799,39851,Clean,"[{""cast_id"": 1, ""character"": ""Emily Wang"", ""cr...","[{""credit_id"": ""52fe47369251416c9106db9b"", ""de..."
4800,13898,The Circle,"[{""cast_id"": 3, ""character"": ""Nargess"", ""credi...","[{""credit_id"": ""52fe45b09251416c7505f189"", ""de..."
4801,157185,Tin Can Man,"[{""cast_id"": 1, ""character"": ""Dave"", ""credit_i...","[{""credit_id"": ""54c7851b925141679100372a"", ""de..."
4802,36095,Cure,"[{""cast_id"": 3, ""character"": ""Kenichi Takabe"",...","[{""credit_id"": ""52fe45cc9251416c9103eb7b"", ""de..."
4803,182291,On The Downlow,"[{""cast_id"": 1, ""character"": ""Isaac"", ""credit_...","[{""credit_id"": ""548c416392514122ef00197d"", ""de..."
4804,286939,Sanctuary: Quite a Conundrum,"[{""cast_id"": 3, ""character"": ""Mimi"", ""credit_i...","[{""credit_id"": ""545f8107c3a3686cbb0041fd"", ""de..."
4805,124606,Bang,"[{""cast_id"": 2, ""character"": ""The Girl"", ""cred...","[{""credit_id"": ""52fe4ab0c3a368484e161add"", ""de..."
4806,14337,Primer,"[{""cast_id"": 1, ""character"": ""Aaron"", ""credit_...","[{""credit_id"": ""52fe45e79251416c75066791"", ""de..."
4807,67238,Cavite,[],"[{""credit_id"": ""52fe475dc3a368484e0c319f"", ""de..."
4808,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4809,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4810,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4811,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4812,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

# Cleaning the cast dataframe

In [54]:
cast_df.dtypes

movie_id    object
title       object
cast        object
crew        object
dtype: object

In [55]:
#Finding the rows which have the crew data that had transitioned to the next row, and not the next movie's details
cast_df['movie_id'] = cast_df['movie_id'].astype(str)
cast_df['movie_id'].str.isdigit()

0        True
1        True
2        True
3        True
4        True
5        True
6        True
7        True
8        True
9        True
10       True
11       True
12       True
13       True
14       True
15       True
16       True
17       True
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27       True
28       True
29      False
        ...
4783     True
4784     True
4785     True
4786     True
4787     True
4788     True
4789     True
4790     True
4791     True
4792     True
4793     True
4794     True
4795     True
4796     True
4797     True
4798     True
4799     True
4800     True
4801     True
4802     True
4803     True
4804     True
4805     True
4806     True
4807     True
4808     True
4809     True
4810     True
4811     True
4812     True
Name: movie_id, Length: 4813, dtype: bool

In [56]:
#Deleting the rows which have the crew data, and not movie_id
cast_df=cast_df[cast_df['movie_id'].str.isdigit()]
cast_df

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
5,559,Spider-Man 3,"[{""cast_id"": 30, ""character"": ""Peter Parker / ...","[{""credit_id"": ""52fe4252c3a36847f80151a5"", ""de..."
6,38757,Tangled,"[{""cast_id"": 34, ""character"": ""Flynn Rider (vo...","[{""credit_id"": ""52fe46db9251416c91062101"", ""de..."
7,99861,Avengers: Age of Ultron,"[{""cast_id"": 76, ""character"": ""Tony Stark / Ir...","[{""credit_id"": ""55d5f7d4c3a3683e7e0016eb"", ""de..."
8,767,Harry Potter and the Half-Blood Prince,"[{""cast_id"": 3, ""character"": ""Harry Potter"", ""...","[{""credit_id"": ""52fe4273c3a36847f801fab1"", ""de..."
9,209112,Batman v Superman: Dawn of Justice,"[{""cast_id"": 18, ""character"": ""Bruce Wayne / B...","[{""credit_id"": ""553bf23692514135c8002886"", ""de..."
10,1452,Superman Returns,"[{""cast_id"": 3, ""character"": ""Superman / Clark...","[{""credit_id"": ""553bef6a9251416874003c8f"", ""de..."
11,10764,Quantum of Solace,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""52fe43b29251416c7501aa63"", ""de..."
12,58,Pirates of the Caribbean: Dead Man's Chest,"[{""cast_id"": 37, ""character"": ""Captain Jack Sp...","[{""credit_id"": ""52fe4211c3a36847f8001873"", ""de..."
13,57201,The Lone Ranger,"[{""cast_id"": 4, ""character"": ""Tonto"", ""credit_...","[{""credit_id"": ""52fe4928c3a36847f818be95"", ""de..."
14,49521,Man of Steel,"[{""cast_id"": 2, ""character"": ""Clark Kent / Kal...","[{""credit_id"": ""52fe4799c3a36847f813e667"", ""de..."
15,2454,The Chronicles of Narnia: Prince Caspian,"[{""cast_id"": 1, ""character"": ""Prince Caspian"",...","[{""credit_id"": ""55a239e69251412979002e8b"", ""de..."
16,24428,The Avengers,"[{""cast_id"": 46, ""character"": ""Tony Stark / Ir...","[{""credit_id"": ""52fe4495c3a368484e02b1cf"", ""de..."
17,1865,Pirates of the Caribbean: On Stranger Tides,"[{""cast_id"": 15, ""character"": ""Captain Jack Sp...","[{""credit_id"": ""566b4f54c3a3683f56005151"", ""de..."
18,41154,Men in Black 3,"[{""cast_id"": 4, ""character"": ""Agent J"", ""credi...","[{""credit_id"": ""52fe45b7c3a36847f80d68c7"", ""de..."
19,122917,The Hobbit: The Battle of the Five Armies,"[{""cast_id"": 10, ""character"": ""Bilbo Baggins"",...","[{""credit_id"": ""548ad49a9251414fa20011ab"", ""de..."
20,1930,The Amazing Spider-Man,"[{""cast_id"": 56, ""character"": ""Peter Parker / ...","[{""credit_id"": ""5395a60dc3a368641d004492"", ""de..."
21,20662,Robin Hood,"[{""cast_id"": 1, ""character"": ""Robin Longstride...","[{""credit_id"": ""52fe43f2c3a368484e0076ad"", ""de..."
22,57158,The Hobbit: The Desolation of Smaug,"[{""cast_id"": 3, ""character"": ""Bilbo Baggins"", ...","[{""credit_id"": ""52fe4926c3a36847f818b787"", ""de..."
23,2268,The Golden Compass,"[{""cast_id"": 43, ""character"": ""Lyra Belacqua"",...","[{""credit_id"": ""52fe4348c3a36847f8048635"", ""de..."
24,254,King Kong,"[{""cast_id"": 5, ""character"": ""Ann Darrow"", ""cr...","[{""credit_id"": ""52fe422ec3a36847f800a1d7"", ""de..."
25,597,Titanic,"[{""cast_id"": 20, ""character"": ""Rose DeWitt Buk...","[{""credit_id"": ""52fe425ac3a36847f8017985"", ""de..."
26,271110,Captain America: Civil War,"[{""cast_id"": 9, ""character"": ""Steve Rogers / C...","[{""credit_id"": ""569443d59251414b67000428"", ""de..."
27,44833,Battleship,"[{""cast_id"": 3, ""character"": ""Lieutenant Alex ...","[{""credit_id"": ""52fe469ec3a36847f8108d45"", ""de..."
28,135397,Jurassic World,"[{""cast_id"": 10, ""character"": ""Owen Grady"", ""c...","[{""credit_id"": ""52fe4bf7c3a368484e1a0683"", ""de..."
30,37724,Skyfall,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""52fe46689251416c910537ad"", ""de..."
...,...,...,...,...
4783,2292,Clerks,"[{""cast_id"": 7, ""character"": ""Dante Hicks"", ""c...","[{""credit_id"": ""52fe434ac3a36847f8049253"", ""de..."
4784,42497,Pink Narcissus,"[{""cast_id"": 1006, ""character"": ""Pan"", ""credit...","[{""credit_id"": ""52fe4606c3a36847f80e7ed9"", ""de..."
4785,33693,Funny Ha Ha,"[{""cast_id"": 1, ""character"": ""Marnie"", ""credit...","[{""credit_id"": ""52fe45309251416c9102a535"", ""de..."
4786,14585,In the Company of Men,"[{""cast_id"": 1, ""character"": ""Chad"", ""credit_i...","[{""credit_id"": ""52fe46049251416c7506a36b"", ""de..."
4787,185465,Manito,"[{""cast_id"": 1, ""character"": ""Junior Moreno"", ...","[{""credit_id"": ""54931bbf925141090e001d32"", ""de..."
4788,38780,Rampage,"[{""cast_id"": 1, ""character"": ""Bill Williamson""...","[{""credit_id"": ""52fe46df9251416c91062979"", ""de..."
4789,14022,Slacker,"[{""cast_id"": 1, ""character"": ""Should Have Stay...","[{""credit_id"": ""52fe45c49251416c75061c17"", ""de..."
4790,366967,Dutch Kills,"[{""cast_id"": 4, ""character"": ""Val"", ""credit_id...","[{""credit_id"": ""563d13ec9251414c70007d5e"", ""de..."
4791,255266,Dry Spell,"[{""cast_id"": 4, ""character"": ""Sasha"", ""credit_...","[{""credit_id"": ""52fe4ee39251416c911412e7"", ""de..."
4792,17345,Flywheel,"[{""cast_id"": 1, ""character"": ""Jay"", ""credit_id...","[{""credit_id"": ""52fe471e9251416c7508e579"", ""de..."
4793,226458,Backmask,"[{""cast_id"": 3, ""character"": ""Father Conway"", ...","[{""credit_id"": ""554c8351c3a3685e500041f5"", ""de..."
4794,24055,The Puffy Chair,"[{""cast_id"": 4, ""character"": ""Josh"", ""credit_i...","[{""credit_id"": ""52fe447fc3a368484e026881"", ""de..."
4795,287625,Stories of Our Lives,"[{""cast_id"": 8, ""character"": """", ""credit_id"": ...","[{""credit_id"": ""549e790a9251414d27003096"", ""de..."
4796,44990,Breaking Upwards,"[{""cast_id"": 1, ""character"": ""Zoe"", ""credit_id...","[{""credit_id"": ""572239efc3a368712a0007db"", ""de..."
4797,86304,All Superheroes Must Die,"[{""cast_id"": 1, ""character"": ""Charge / John"", ...","[{""credit_id"": ""52fe497f9251416c910af3d1"", ""de..."
4798,692,Pink Flamingos,"[{""cast_id"": 8, ""character"": ""Divine / Babs Jo...","[{""credit_id"": ""52fe426bc3a36847f801d203"", ""de..."
4799,39851,Clean,"[{""cast_id"": 1, ""character"": ""Emily Wang"", ""cr...","[{""credit_id"": ""52fe47369251416c9106db9b"", ""de..."
4800,13898,The Circle,"[{""cast_id"": 3, ""character"": ""Nargess"", ""credi...","[{""credit_id"": ""52fe45b09251416c7505f189"", ""de..."
4801,157185,Tin Can Man,"[{""cast_id"": 1, ""character"": ""Dave"", ""credit_i...","[{""credit_id"": ""54c7851b925141679100372a"", ""de..."
4802,36095,Cure,"[{""cast_id"": 3, ""character"": ""Kenichi Takabe"",...","[{""credit_id"": ""52fe45cc9251416c9103eb7b"", ""de..."
4803,182291,On The Downlow,"[{""cast_id"": 1, ""character"": ""Isaac"", ""credit_...","[{""credit_id"": ""548c416392514122ef00197d"", ""de..."
4804,286939,Sanctuary: Quite a Conundrum,"[{""cast_id"": 3, ""character"": ""Mimi"", ""credit_i...","[{""credit_id"": ""545f8107c3a3686cbb0041fd"", ""de..."
4805,124606,Bang,"[{""cast_id"": 2, ""character"": ""The Girl"", ""cred...","[{""credit_id"": ""52fe4ab0c3a368484e161add"", ""de..."
4806,14337,Primer,"[{""cast_id"": 1, ""character"": ""Aaron"", ""credit_...","[{""credit_id"": ""52fe45e79251416c75066791"", ""de..."
4807,67238,Cavite,[],"[{""credit_id"": ""52fe475dc3a368484e0c319f"", ""de..."
4808,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4809,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4810,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4811,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4812,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [57]:
#converting the data type of movie_id to int
cast_df['movie_id'] = pd.to_numeric(cast_df['movie_id'])

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [58]:
cast_df.dtypes

movie_id     int64
title       object
cast        object
crew        object
dtype: object

In [59]:
#Drop the title and crew information from the table
cast_df=cast_df[['movie_id','cast']]
cast_df

      movie_id                                               cast
0        19995  [{"cast_id": 242, "character": "Jake Sully", "...
1          285  [{"cast_id": 4, "character": "Captain Jack Spa...
2       206647  [{"cast_id": 1, "character": "James Bond", "cr...
3        49026  [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4        49529  [{"cast_id": 5, "character": "John Carter", "c...
5          559  [{"cast_id": 30, "character": "Peter Parker / ...
6        38757  [{"cast_id": 34, "character": "Flynn Rider (vo...
7        99861  [{"cast_id": 76, "character": "Tony Stark / Ir...
8          767  [{"cast_id": 3, "character": "Harry Potter", "...
9       209112  [{"cast_id": 18, "character": "Bruce Wayne / B...
10        1452  [{"cast_id": 3, "character": "Superman / Clark...
11       10764  [{"cast_id": 1, "character": "James Bond", "cr...
12          58  [{"cast_id": 37, "character": "Captain Jack Sp...
13       57201  [{"cast_id": 4, "character": "Tonto", "credit_...
14       49521  [{"cast_id": 2, "character": "Clark Kent / Kal...
15        2454  [{"cast_id": 1, "character": "Prince Caspian",...
16       24428  [{"cast_id": 46, "character": "Tony Stark / Ir...
17        1865  [{"cast_id": 15, "character": "Captain Jack Sp...
18       41154  [{"cast_id": 4, "character": "Agent J", "credi...
19      122917  [{"cast_id": 10, "character": "Bilbo Baggins",...
20        1930  [{"cast_id": 56, "character": "Peter Parker / ...
21       20662  [{"cast_id": 1, "character": "Robin Longstride...
22       57158  [{"cast_id": 3, "character": "Bilbo Baggins", ...
23        2268  [{"cast_id": 43, "character": "Lyra Belacqua",...
24         254  [{"cast_id": 5, "character": "Ann Darrow", "cr...
25         597  [{"cast_id": 20, "character": "Rose DeWitt Buk...
26      271110  [{"cast_id": 9, "character": "Steve Rogers / C...
27       44833  [{"cast_id": 3, "character": "Lieutenant Alex ...
28      135397  [{"cast_id": 10, "character": "Owen Grady", "c...
30       37724  [{"cast_id": 1, "character": "James Bond", "cr...
...        ...                                                ...
4783      2292  [{"cast_id": 7, "character": "Dante Hicks", "c...
4784     42497  [{"cast_id": 1006, "character": "Pan", "credit...
4785     33693  [{"cast_id": 1, "character": "Marnie", "credit...
4786     14585  [{"cast_id": 1, "character": "Chad", "credit_i...
4787    185465  [{"cast_id": 1, "character": "Junior Moreno", ...
4788     38780  [{"cast_id": 1, "character": "Bill Williamson"...
4789     14022  [{"cast_id": 1, "character": "Should Have Stay...
4790    366967  [{"cast_id": 4, "character": "Val", "credit_id...
4791    255266  [{"cast_id": 4, "character": "Sasha", "credit_...
4792     17345  [{"cast_id": 1, "character": "Jay", "credit_id...
4793    226458  [{"cast_id": 3, "character": "Father Conway", ...
4794     24055  [{"cast_id": 4, "character": "Josh", "credit_i...
4795    287625  [{"cast_id": 8, "character": "", "credit_id": ...
4796     44990  [{"cast_id": 1, "character": "Zoe", "credit_id...
4797     86304  [{"cast_id": 1, "character": "Charge / John", ...
4798       692  [{"cast_id": 8, "character": "Divine / Babs Jo...
4799     39851  [{"cast_id": 1, "character": "Emily Wang", "cr...
4800     13898  [{"cast_id": 3, "character": "Nargess", "credi...
4801    157185  [{"cast_id": 1, "character": "Dave", "credit_i...
4802     36095  [{"cast_id": 3, "character": "Kenichi Takabe",...
4803    182291  [{"cast_id": 1, "character": "Isaac", "credit_...
4804    286939  [{"cast_id": 3, "character": "Mimi", "credit_i...
4805    124606  [{"cast_id": 2, "character": "The Girl", "cred...
4806     14337  [{"cast_id": 1, "character": "Aaron", "credit_...
4807     67238                                                 []
4808      9367  [{"cast_id": 1, "character": "El Mariachi", "c...
4809     72766  [{"cast_id": 1, "character": "Buzzy", "credit_...
4810    231617  [{"cast_id": 8, "character": "Oliver O\u2019To...
4811    126186  [{"cast_id": 3, "character": "Sam", "credit_id...
4812     25975  [{"cast_id": 3, "character": "Herself", "credi...

[4294 rows x 2 columns]

In [60]:
#Check if there are Null values in the table
nan = cast_df[cast_df.isnull().any(1)]
nan

Empty DataFrame
Columns: [movie_id, cast]
Index: []

In [61]:
#Check if there are repeated movie IDs
cast_df[cast_df.duplicated('movie_id')]

Empty DataFrame
Columns: [movie_id, cast]
Index: []

In [62]:
#Extracting the cast details like Actor name, Id and character played from the Cast column
df_cast = pd.DataFrame(columns=['movie_id','actor_id','actor_name','character'])
i=1
for cast in cast_df.itertuples():
    c=cast[2]
    m_id=cast[1]
    if c[len(c)-1]==']':
        d=json.loads(c)
        for dc in d:
            name= dc['name']
            id_c=dc['id']
            character=dc['character']
            df_cast.loc[str(i)]=[m_id,id_c,name,character]
            i=i+1
print df_cast

      movie_id actor_id              actor_name                   character
1        19995    65731         Sam Worthington                  Jake Sully
2        19995     8691             Zoe Saldana                     Neytiri
3        19995    10205        Sigourney Weaver         Dr. Grace Augustine
4        19995    32747            Stephen Lang               Col. Quaritch
5        19995    17647      Michelle Rodriguez                Trudy Chacon
6        19995     1771         Giovanni Ribisi                   Selfridge
7        19995    59231        Joel David Moore               Norm Spellman
8        19995    30485             CCH Pounder                        Moat
9        19995    15853               Wes Studi                     Eytukan
10       19995    10964              Laz Alonso                     Tsu'Tey
11       19995    95697              Dileep Rao               Dr. Max Patel
12       19995    98215             Matt Gerald              Lyle Wainfleet
13       19995   154153      Sean Anthony Moran                Private Fike
14       19995   397312             Jason Whyte         Cryo Vault Med Tech
15       19995    42317          Scott Lawrence     Venture Star Crew Chief
16       19995   986734           Kelly Kilgour             Lock Up Trooper
17       19995  1207227      James Patrick Pitt               Shuttle Pilot
18       19995  1180936     Sean Patrick Murphy            Shuttle Co-Pilot
19       19995  1019578            Peter Dillon          Shuttle Crew Chief
20       19995    91443            Kevin Dorman   Tractor Operator / Troupe
21       19995   173391        Kelson Henderson        Dragon Gunship Pilot
22       19995  1207236          David Van Horn       Dragon Gunship Gunner
23       19995   215913            Jacob Tomuri    Dragon Gunship Navigator
24       19995   143206    Michael Blain-Rozgay                     Suit #1
25       19995   169676               Jon Curry                     Suit #2
26       19995  1048610             Luke Hawker           Ambient Room Tech
27       19995    42288           Woody Schultz  Ambient Room Tech / Troupe
28       19995    68278            Peter Mensah           Horse Clan Leader
29       19995  1207247               Sonia Yee              Link Room Tech
30       19995  1207248          Jahnel Curfman  Basketball Avatar / Troupe
...        ...      ...                     ...                         ...
93147     9367    57471         Peter Marquardt             Mauricio (Moco)
93148     9367  1192733         Reinol Martinez                        Azul
93149     9367  1192734            Ramiro Gomez                   Cantinero
93150     9367  1293343          Consuelo GÃ³mez                      Domino
93151     9367  1066358             Juan GarcÃ­a                  Moco's Men
93152    72766    12833            Edward Burns                       Buzzy
93153    72766    58356             Kerry BishÃ©                       Linda
93154    72766    17188         Marsha Dietlein                      Marsha
93155    72766   211993      Caitlin Fitzgerald                       Katie
93156    72766  1257819         Daniella Pineda                     Vanessa
93157   231617    11867             Eric Mabius              Oliver OâToole
93158   231617    34915           Kristin Booth             Shane McInerney
93159   231617    58393            Crystal Lowe                Rita Haywith
93160   231617   119810         Geoff Gustafson               Norman Dorman
93161   231617    77865  Benjamin Hollingsworth               Charlie Riggs
93162   231617  1037844           Laci J Mailey                       Kelly
93163   231617    14668           Daphne Zuniga             Andrea Shmeckle
93164   126186    82093           Daniel Henney                         Sam
93165   126186   210050             Eliza Coupe                      Amanda
93166   126186     2053             Bill Paxton                      Donald
93167   126186     2394               Alan Ruck                Marcus Groff
93168   126186  1395490              Zhu Shimao
93169    25975    69597          Drew Barrymore                     Herself
93170    25975    85563        Brian Herzlinger                     Himself
93171    25975     3034           Corey Feldman                     Himself
93172    25975    21315            Eric Roberts                     Himself
93173    25975     2171           Griffin Dunne                     Himself
93174    25975     2231       Samuel L. Jackson                     Himself
93175    25975    14407            Matt LeBlanc                     Himself
93176    25975   155007             Bill D'Elia                     Himself

[93176 rows x 4 columns]

# Creating the dataframe for the Actors table

In [64]:
actor_df=pd.DataFrame(columns=['actor_id','name'])
for act in df_cast.itertuples():
    id=act[2]
    name=act[3]
    actor_df.loc[id]=[id,name]
print actor_df

        actor_id                  name
65731      65731       Sam Worthington
8691        8691           Zoe Saldana
10205      10205      Sigourney Weaver
32747      32747          Stephen Lang
17647      17647    Michelle Rodriguez
1771        1771       Giovanni Ribisi
59231      59231      Joel David Moore
30485      30485           CCH Pounder
15853      15853             Wes Studi
10964      10964            Laz Alonso
95697      95697            Dileep Rao
98215      98215           Matt Gerald
154153    154153    Sean Anthony Moran
397312    397312           Jason Whyte
42317      42317        Scott Lawrence
986734    986734         Kelly Kilgour
1207227  1207227    James Patrick Pitt
1180936  1180936   Sean Patrick Murphy
1019578  1019578          Peter Dillon
91443      91443          Kevin Dorman
173391    173391      Kelson Henderson
1207236  1207236        David Van Horn
215913    215913          Jacob Tomuri
143206    143206  Michael Blain-Rozgay
169676    169676             Jon Curry
1048610  1048610           Luke Hawker
42288      42288         Woody Schultz
68278      68278          Peter Mensah
1207247  1207247             Sonia Yee
1207248  1207248        Jahnel Curfman
...          ...                   ...
859896    859896          Paul Saucido
76624      76624         Shane Carruth
110171    110171          Casey Gooden
110172    110172       Anand Upadhyaya
110173    110173       Carrie Crawford
1080287  1080287            Jay Butler
1080288  1080288          John Carruth
1080289  1080289            Juan Tapia
1080290  1080290         Ashley Warren
1080291  1080291      Samantha Thomson
1080292  1080292          Chip Carruth
1080293  1080293         Delaney Price
1080294  1080294           Jack Pyland
1080295  1080295        Keith Bradshaw
1080296  1080296       Ashok Upadhyaya
1080297  1080297         Brandon Blagg
1080298  1080298              Jon Cook
203260    203260          David Joyner
1080299  1080299      Eric De Soualhat
57470      57470        Jaime de Hoyos
57471      57471       Peter Marquardt
1192733  1192733       Reinol Martinez
1192734  1192734          Ramiro Gomez
1293343  1293343        Consuelo GÃ³mez
1257819  1257819       Daniella Pineda
119810    119810       Geoff Gustafson
1037844  1037844         Laci J Mailey
1395490  1395490            Zhu Shimao
85563      85563      Brian Herzlinger
155007    155007           Bill D'Elia

[49998 rows x 2 columns]

# Cleaning the Actors dataframe

In [65]:
#Checking of there are duplicate Actor Ids
actor_df[actor_df.duplicated('actor_id')]

Empty DataFrame
Columns: [actor_id, name]
Index: []

In [76]:
actor_df[actor_df.duplicated('name')]
#The duplicate names are of two different actors with the same name. 
#In the csv file credits.csv , we see that the actor has the same ID for different movie IDs, 
#but few actors with the same name have different IDs. So we know that they are different people
df_cast.to_csv("cast.csv",sep='\t', encoding='utf-8')

In [67]:
actor_df[actor_df.duplicated()]

Empty DataFrame
Columns: [actor_id, name]
Index: []

In [68]:
#checking for null values
nan = actor_df[actor_df.isnull().any(1)]
nan

Empty DataFrame
Columns: [actor_id, name]
Index: []

In [69]:
#Checking the datatypes
actor_df.dtypes

actor_id    object
name        object
dtype: object

In [70]:
#Converting the actor Ids to numeric column
actor_df['actor_id'] = pd.to_numeric(actor_df['actor_id'])

In [71]:
actor_df.dtypes

actor_id     int64
name        object
dtype: object

# Dataframe for the relation table of Movies and Actors

In [72]:
df_cast=df_cast[['movie_id','actor_id','character']]
df_cast

      movie_id actor_id                   character
1        19995    65731                  Jake Sully
2        19995     8691                     Neytiri
3        19995    10205         Dr. Grace Augustine
4        19995    32747               Col. Quaritch
5        19995    17647                Trudy Chacon
6        19995     1771                   Selfridge
7        19995    59231               Norm Spellman
8        19995    30485                        Moat
9        19995    15853                     Eytukan
10       19995    10964                     Tsu'Tey
11       19995    95697               Dr. Max Patel
12       19995    98215              Lyle Wainfleet
13       19995   154153                Private Fike
14       19995   397312         Cryo Vault Med Tech
15       19995    42317     Venture Star Crew Chief
16       19995   986734             Lock Up Trooper
17       19995  1207227               Shuttle Pilot
18       19995  1180936            Shuttle Co-Pilot
19       19995  1019578          Shuttle Crew Chief
20       19995    91443   Tractor Operator / Troupe
21       19995   173391        Dragon Gunship Pilot
22       19995  1207236       Dragon Gunship Gunner
23       19995   215913    Dragon Gunship Navigator
24       19995   143206                     Suit #1
25       19995   169676                     Suit #2
26       19995  1048610           Ambient Room Tech
27       19995    42288  Ambient Room Tech / Troupe
28       19995    68278           Horse Clan Leader
29       19995  1207247              Link Room Tech
30       19995  1207248  Basketball Avatar / Troupe
...        ...      ...                         ...
93147     9367    57471             Mauricio (Moco)
93148     9367  1192733                        Azul
93149     9367  1192734                   Cantinero
93150     9367  1293343                      Domino
93151     9367  1066358                  Moco's Men
93152    72766    12833                       Buzzy
93153    72766    58356                       Linda
93154    72766    17188                      Marsha
93155    72766   211993                       Katie
93156    72766  1257819                     Vanessa
93157   231617    11867              Oliver OâToole
93158   231617    34915             Shane McInerney
93159   231617    58393                Rita Haywith
93160   231617   119810               Norman Dorman
93161   231617    77865               Charlie Riggs
93162   231617  1037844                       Kelly
93163   231617    14668             Andrea Shmeckle
93164   126186    82093                         Sam
93165   126186   210050                      Amanda
93166   126186     2053                      Donald
93167   126186     2394                Marcus Groff
93168   126186  1395490
93169    25975    69597                     Herself
93170    25975    85563                     Himself
93171    25975     3034                     Himself
93172    25975    21315                     Himself
93173    25975     2171                     Himself
93174    25975     2231                     Himself
93175    25975    14407                     Himself
93176    25975   155007                     Himself

[93176 rows x 3 columns]

# Converting the character and actor names to lower case and strip white spaces for search operations

In [73]:

actor_df['name']=actor_df['name'].str.lower()
actor_df['name']=actor_df['name'].str.strip()
df_cast['character']=df_cast['character'].str.lower()
df_cast['character']=df_cast['character'].str.strip()

# Making the connection to the sqlite database

In [98]:
import sqlite3
conn = sqlite3.connect('Shruthi_TMDB.db') 
c = conn.cursor()
conn.text_factory = lambda x: unicode(x, 'utf-8', 'ignore')

# Creating the tables in the database and inserting values from the dataframes into the respective tables

In [99]:
c.execute("Create table Movies(id int PRIMARY KEY,title varchar(50),original_language varchar(20),release_date datetime,popularity float,budget longint,revenue longint,runtime float)")
movies.to_sql('Movies',con=conn,if_exists='append',index=False)

In [100]:
c.execute("Create table Genres(genre_id int PRIMARY KEY,genre_name varchar(20))")
genres.to_sql('Genres',con=conn,if_exists='append',index=False)

In [101]:
c.execute("Create table Tags(Tag_id int PRIMARY KEY,Tag_name varchar(50))")
Tags.to_sql('Tags',con=conn,if_exists='append',index=False)

In [102]:
c.execute("Create table Movie_Genres(movie_id int,genre_id int,PRIMARY KEY(movie_id,genre_id))")
genre_movies.to_sql('Movie_Genres',con=conn,if_exists='append',index=False)

In [103]:
c.execute("Create table Movie_Tags(movie_id int,tag_id int,PRIMARY KEY(movie_id,tag_id))")
tags_movies.to_sql('Movie_Tags',con=conn,if_exists='append',index=False)

In [104]:
c.execute("Create table ProductionCompanies(prodComp_id int PRIMARY KEY,company_name varchar(50))")
productionCompanies.to_sql('ProductionCompanies',con=conn,if_exists='append',index=False)

In [105]:
c.execute("Create table Movies_ProdCompanies(movie_id int,prodComp_id int,PRIMARY KEY(movie_id,prodComp_id))")
movies_prodCompanies.to_sql('Movies_ProdCompanies',con=conn,if_exists='append',index=False)

In [106]:
c.execute("Create table Actors(actor_id int PRIMARY KEY, name varchar(50))")
actor_df.to_sql('Actors',con=conn,if_exists='append',index=False)

In [107]:
c.execute("Create table Cast(movie_id int, actor_id int, character varchar(50),PRIMARY KEY(movie_id,actor_id,character))")
df_cast.to_sql('Cast',con=conn,if_exists='append',index=False)

# Tables' structure

"	Movies - id(Primary Key), title, original_language, release_date, popularity, budget, revenue, runtime
    o	Query- "Create table Movies(id int PRIMARY KEY,title varchar(50),original_language varchar(20),release_date datetime,popularity float,budget longint,revenue longint,runtime float)"

"	Genres- genre_id(Primary Key), genre_name
    o	Query- "Create table Genres(genre_id int PRIMARY KEY,genre_name varchar(20))"

"	Tags- Tag_id(Primary Key), Tag_name
    o	Query-"Create table Tags(Tag_id int PRIMARY KEY,Tag_name varchar(50))"

"	Movie_genres- movie_id, genre_id (Primary Key- movie_id and genre_id)
    o	Query- "Create table Movie_Genres(movie_id int,genre_id int,PRIMARY KEY(movie_id,genre_id))"

"	Movie_Tags- movie_id, tag_id (Primary Key- movie_id and Tag_id)
    o	Query- "Create table Movie_Tags(movie_id int,tag_id int,PRIMARY KEY(movie_id,tag_id))"

"	ProductionCompanies- prodComp_id(Primary Key), company_name
    o	Query-"Create table ProductionCompanies(prodComp_id int PRIMARY KEY,company_name varchar(50))"

"	Movies_ProdCompanies- movie_id, prodComp_id(Primary Key- movie_id, prodComp_id)
    o	Query-"Create table Movies_ProdCompanies(movie_id int,prodComp_id int,PRIMARY KEY(movie_id,prodComp_id))"

"	Cast- movie_id,actor_id, character (Primary key- movie_id,actor_id, character)
    o	Query-"Create table Actors(actor_id int PRIMARY KEY, name varchar(50))"

"	Actors- actor_id(Primary Key), name
    o	Query-"Create table Cast(movie_id int, actor_id int, character varchar(50),PRIMARY     KEY(movie_id,actor_id,character))"

# Reading all values from the tables

In [140]:
pd.read_sql_query("Select * from Movies",con=conn)

,id,title,original_language,release_date,popularity,budget,revenue,runtime
0,19995,avatar,english,2009-12-10 00:00:00,150.437577,237000000.0,2.787965e+09,162.0
1,285,pirates of the caribbean: at world's end,english,2007-05-19 00:00:00,139.082615,300000000.0,9.610000e+08,169.0
2,206647,spectre,english,2015-10-26 00:00:00,107.376788,245000000.0,8.806746e+08,148.0
3,49026,the dark knight rises,english,2012-07-16 00:00:00,112.312950,250000000.0,1.084939e+09,165.0
4,49529,john carter,english,2012-03-07 00:00:00,43.926995,260000000.0,2.841391e+08,132.0
5,559,spider-man 3,english,2007-05-01 00:00:00,115.699814,258000000.0,8.908716e+08,139.0
6,38757,tangled,english,2010-11-24 00:00:00,48.681969,260000000.0,5.917949e+08,100.0
7,99861,avengers: age of ultron,english,2015-04-22 00:00:00,134.279229,280000000.0,1.405404e+09,141.0
8,767,harry potter and the half-blood prince,english,2009-07-07 00:00:00,98.885637,250000000.0,9.339592e+08,153.0
9,209112,batman v superman: dawn of justice,english,2016-03-23 00:00:00,155.790452,250000000.0,8.732602e+08,151.0
10,1452,superman returns,english,2006-06-28 00:00:00,57.925623,270000000.0,3.910812e+08,154.0
11,10764,quantum of solace,english,2008-10-30 00:00:00,107.928811,200000000.0,5.860907e+08,106.0
12,58,pirates of the caribbean: dead man's chest,english,2006-06-20 00:00:00,145.847379,200000000.0,1.065660e+09,151.0
13,57201,the lone ranger,english,2013-07-03 00:00:00,49.046956,255000000.0,8.928991e+07,149.0
14,49521,man of steel,english,2013-06-12 00:00:00,99.398009,225000000.0,6.628455e+08,143.0
15,2454,the chronicles of narnia: prince caspian,english,2008-05-15 00:00:00,53.978602,225000000.0,4.196514e+08,150.0
16,24428,the avengers,english,2012-04-25 00:00:00,144.448633,220000000.0,1.519558e+09,143.0
17,1865,pirates of the caribbean: on stranger tides,english,2011-05-14 00:00:00,135.413856,380000000.0,1.045714e+09,136.0
18,41154,men in black 3,english,2012-05-23 00:00:00,52.035179,225000000.0,6.240268e+08,106.0
19,122917,the hobbit: the battle of the five armies,english,2014-12-10 00:00:00,120.965743,250000000.0,9.560198e+08,144.0
20,1930,the amazing spider-man,english,2012-06-27 00:00:00,89.866276,215000000.0,7.522159e+08,136.0
21,20662,robin hood,english,2010-05-12 00:00:00,37.668301,200000000.0,3.106695e+08,140.0
22,57158,the hobbit: the desolation of smaug,english,2013-12-11 00:00:00,94.370564,250000000.0,9.584000e+08,161.0
23,2268,the golden compass,english,2007-12-04 00:00:00,42.990906,180000000.0,3.722349e+08,113.0
24,254,king kong,english,2005-12-14 00:00:00,61.226010,207000000.0,5.500000e+08,187.0
25,597,titanic,english,1997-11-18 00:00:00,100.025899,200000000.0,1.845034e+09,194.0
26,271110,captain america: civil war,english,2016-04-27 00:00:00,198.372395,250000000.0,1.153304e+09,147.0
27,44833,battleship,english,2012-04-11 00:00:00,64.928382,209000000.0,3.030255e+08,131.0
28,135397,jurassic world,english,2015-06-09 00:00:00,418.708552,150000000.0,1.513529e+09,124.0
29,37724,skyfall,english,2012-10-25 00:00:00,93.004993,200000000.0,1.108561e+09,143.0
...,...,...,...,...,...,...,...,...
4772,2292,clerks,english,1994-09-13 00:00:00,19.748658,27000.0,3.151130e+06,92.0
4773,42497,pink narcissus,english,1971-01-01 00:00:00,0.027811,27000.0,NaN,64.0
4774,33693,funny ha ha,english,2002-09-20 00:00:00,0.362633,NaN,7.690100e+04,85.0
4775,14585,in the company of men,english,1997-01-19 00:00:00,2.634007,NaN,NaN,97.0
4776,185465,manito,english,2002-01-15 00:00:00,0.039264,NaN,NaN,78.0
4777,38780,rampage,english,2009-08-14 00:00:00,7.101197,NaN,NaN,85.0
4778,14022,slacker,english,1990-07-27 00:00:00,3.320622,NaN,NaN,97.0
4779,366967,dutch kills,english,2015-10-02 00:00:00,0.038143,NaN,NaN,90.0
4780,255266,dry spell,english,2013-02-14 00:00:00,0.048948,22000.0,NaN,90.0
4781,17345,flywheel,english,2003-01-01 00:00:00,1.048524,NaN,NaN,120.0
4782,226458,backmask,english,2015-01-16 00:00:00,3.619167,NaN,NaN,91.0
4783,24055,the puffy chair,english,2005-01-17 00:00:00,1.243955,NaN,NaN,85.0
4784,287625,stories of our lives,english,2014-09-05 00:00:00,0.327794,NaN,NaN,60.0
4785,44990,breaking upwards,english,2009-03-14 00:00:00,0.674570,NaN,NaN,88.0
4786,86304,all superheroes must die,english,2011-10-26 00:00:00,3.545991,NaN,NaN,78.0
4787,692,pink flamingos,english,1972-03-12 00:00:00,4.553644,12000.0,6.000000e+06,93.0
4788,39851,clean,english,2004-09-01 00:00:00,1.464566,NaN,NaN,111.0
4789,13898,the circle,farsi,2000-09-08 00:00:00,1.193779,NaN,NaN,90.0
4790,157185,tin can man,english,2007-01-01 00:00:00,0.332679,13.0,NaN,84.0
4791,36095,cure,japanese,1997-11-06 00:00:00,0.212443,20000.0,9.900000e+04,111.0
4792,182291,on the downlow,english,2004-04-11 00:00:00,0.029757,NaN,NaN,90.0
4793,286939,sanctuary: quite a conundrum,english,2012-01-20 00:00:00,0.166513,NaN,NaN,82.0
4794,124606,bang,english,1995-09-09 00:00:00,0.918116,NaN,NaN,98.0
4795,14337,primer,english,2004-10-08 00:00:00,23.307949,7000.0,4.247600e+05,77.0
4796,67238,cavite,english,2005-03-12 00:00:00,0.022173,NaN,NaN,80.0
4797,9367,el mariachi,spanish,1992-09-04 00:00:00,14.269792,220000.0,2.040920e+06,81.0
4798,72766,newlyweds,english,2011-12-26 00:00:00,0.642552,9000.0,NaN,85.0
4799,231617,"signed, sealed, delivered",english,2013-10-13 00:00:00,1.444476,NaN,NaN,120.0
4800,126186,shanghai calling,english,2012-05-03 00:00:00,0.857008,NaN,NaN,98.0
4801,25975,my date with drew,english,2005-08-05 00:00:00,1.929883,NaN,NaN,90.0

In [139]:
pd.read_sql_query("Select * from Genres",con=conn)

    genre_id       genre_name
0         28           action
1         12        adventure
2         14          fantasy
3        878  science fiction
4         80            crime
5         18            drama
6         53         thriller
7         16        animation
8      10751           family
9         37          western
10        35           comedy
11     10749          romance
12        27           horror
13      9648          mystery
14        36          history
15     10752              war
16     10402            music
17        99      documentary
18     10769          foreign
19     10770         tv movie

In [138]:
pd.read_sql_query("Select * from Movie_Genres",con=conn)

       movie_id  genre_id
0         19995        28
1         19995        12
2         19995        14
3         19995       878
4           285        12
5           285        14
6           285        28
7        206647        28
8        206647        12
9        206647        80
10        49026        28
11        49026        80
12        49026        18
13        49026        53
14        49529        28
15        49529        12
16        49529       878
17          559        14
18          559        28
19          559        12
20        38757        16
21        38757     10751
22        99861        28
23        99861        12
24        99861       878
25          767        12
26          767        14
27          767     10751
28       209112        28
29       209112        12
...         ...       ...
12130       692        35
12131       692        80
12132     39851        18
12133     13898        18
12134     13898     10769
12135    157185        27
12136     36095        80
12137     36095        27
12138     36095      9648
12139     36095        53
12140    182291        18
12141    286939        53
12142    286939        27
12143    286939        35
12144    124606        18
12145     14337       878
12146     14337        18
12147     14337        53
12148     67238     10769
12149     67238        53
12150      9367        28
12151      9367        80
12152      9367        53
12153     72766        35
12154     72766     10749
12155    231617        35
12156    231617        18
12157    231617     10749
12158    231617     10770
12159     25975        99

[12160 rows x 2 columns]

In [137]:
pd.read_sql_query("Select * from Tags",con=conn)

      Tag_id                    Tag_name
0       1463               culture clash
1       2964                      future
2       3386                   space war
3       3388                space colony
4       3679                     society
5       3801                space travel
6       9685                  futuristic
7       9840                     romance
8       9882                       space
9       9951                       alien
10     10148                       tribe
11     10158                alien planet
12     10987                         cgi
13     11399                      marine
14     13065                     soldier
15     14643                      battle
16     14720                 love affair
17    165431                    anti war
18    193554             power relations
19    206690               mind and soul
20    209714                          3d
21       270                       ocean
22       726                  drug abuse
23       911               exotic island
24      1319  east india trading company
25      2038          love of one's life
26      2052                     traitor
27      2580                   shipwreck
28      2660                strong woman
29      3799                        ship
...      ...                         ...
9783  188993                   true love
9784   41214                     youtube
9785   10308              h.p. lovecraft
9786  173386                     cthulhu
9787  220084                   grayscale
9788  207011           secret laboratory
9789  184924           comic book artist
9790  232429                image comics
9791  232430         comic book industry
9792   14766                        cafe
9793  161187                   pap smear
9794  161188                austin texas
9795  184011      reference to jack ruby
9796  184014      dairy queen restaurant
9797  184017                   moon walk
9798  198001        anti romantic comedy
9799    3443                  excrements
9800   11192                 adult humor
9801  196911               estranged son
9802  160059                   psychosis
9803  231642        personality disorder
9804  236896                serial kiler
9805  208340                 latino lgbt
9806  209241             gang initiation
9807  209242                     gunplay
9808  177927                    homeless
9809  162740                        arms
9810  187891                 paper knife
9811  206558                 guitar case
9812  173066               postal worker

[9813 rows x 2 columns]

In [136]:
pd.read_sql_query("Select * from Movie_Tags",con=conn)

       movie_id  tag_id
0         19995    1463
1         19995    2964
2         19995    3386
3         19995    3388
4         19995    3679
5         19995    3801
6         19995    9685
7         19995    9840
8         19995    9882
9         19995    9951
10        19995   10148
11        19995   10158
12        19995   10987
13        19995   11399
14        19995   13065
15        19995   14643
16        19995   14720
17        19995  165431
18        19995  193554
19        19995  206690
20        19995  209714
21          285     270
22          285     726
23          285     911
24          285    1319
25          285    2038
26          285    2052
27          285    2580
28          285    2660
29          285    3799
...         ...     ...
36164    182291  209242
36165    124606   10726
36166    124606   33928
36167    124606  172732
36168    124606  177927
36169    124606  207583
36170     14337    1448
36171     14337    2101
36172     14337    3394
36173     14337    4379
36174     14337    5455
36175     14337    6009
36176     14337   10183
36177     14337   14779
36178     14337  162356
36179      9367    5616
36180      9367   33649
36181      9367  162740
36182      9367  187891
36183      9367  206558
36184    231617     248
36185    231617     699
36186    231617    2398
36187    231617    5340
36188    231617   34051
36189    231617  173066
36190     25975    1523
36191     25975    2249
36192     25975    9986
36193     25975   11223

[36194 rows x 2 columns]

In [135]:
pd.read_sql_query("Select * from ProductionCompanies",con=conn)

      prodComp_id                            company_name
0             289                 ingenious film partners
1             306  twentieth century fox film corporation
2             444                      dune entertainment
3             574                lightstorm entertainment
4               2                    walt disney pictures
5             130                 jerry bruckheimer films
6           19936                 second mate productions
7               5                       columbia pictures
8           10761                                  danjaq
9           69434                                     b24
10            923                      legendary pictures
11           6194                            warner bros.
12           9993                        dc entertainment
13           9996                                 syncopy
14            326                laura ziskin productions
15          19551                      marvel enterprises
16           6125           walt disney animation studios
17            420                          marvel studios
18          15357                             prime focus
19          76043                  revolution sun studios
20           7364                            heyday films
21            429                               dc comics
22            507                     atlas entertainment
23           9995                   cruel & unusual films
24          41624               ratpac-dune entertainment
25           9168               bad hat harry productions
26           7576                         eon productions
27           2691                         infinitum nihil
28          37380          silver bullet productions (ii)
29          37381                  blind wink productions
...           ...                                     ...
5017        15288                                 sequart
5018        41683                      team awesome films
5019        12601                          fm productions
5020        12602                         last waltz inc.
5021        26004                 little big film company
5022        31866                    abundant productions
5023        31867              faith vs. fate productions
5024         8809             fair and square productions
5025         5723                pitchblack pictures inc.
5026        22793                 event film distribution
5027        22794                        amok productions
5028         2943                          go productions
5029        35591                 vicarious entertainment
5030        52909                   bloodline productions
5031        52910                           shallow focus
5032        18818                               grindfest
5033          407                   dreamland productions
5034         2835           jafar panahi film productions
5035        21871                              park films
5036        79821                      camera stylo films
5037          881                           daiei studios
5038        26677                        iconoclast films
5039        37870                         gold lion films
5040        37871                    t-street productions
5041        10571                            asylum films
5042        26598                        fm entertainment
5043        40739                    eagle eye films inc.
5044         3958                   front street pictures
5045        87986                rusty bear entertainment
5046        87987                        lucky crow films

[5047 rows x 2 columns]

In [114]:
result=pd.read_sql("Select * from Movies_ProdCompanies",con=conn)
print result

       movie_id  prodComp_id
0         19995          289
1         19995          306
2         19995          444
3         19995          574
4           285            2
5           285          130
6           285        19936
7        206647            5
8        206647        10761
9        206647        69434
10        49026          923
11        49026         6194
12        49026         9993
13        49026         9996
14        49529            2
15          559            5
16          559          326
17          559        19551
18        38757            2
19        38757         6125
20        99861          420
21        99861        15357
22        99861        76043
23          767         6194
24          767         7364
25       209112          429
26       209112          507
27       209112         6194
28       209112         9993
29       209112         9995
...         ...          ...
13647     42497         3923
13648     14585          803
13649     14585         8809
13650     38780         1062
13651     38780         1063
13652     38780         5723
13653     38780        22793
13654     38780        22794
13655    226458         2943
13656    226458        35591
13657    226458        52909
13658    226458        52910
13659     86304        18818
13660       692          407
13661     13898         2835
13662    157185        21871
13663    157185        79821
13664     36095          881
13665    182291        26677
13666    286939        37870
13667    286939        37871
13668    124606        10571
13669    124606        26598
13670    124606        40739
13671     14337          446
13672      9367            5
13673    231617         3958
13674    231617         6438
13675     25975        87986
13676     25975        87987

[13677 rows x 2 columns]

In [116]:
result=pd.read_sql("Select * from Cast",con=conn)
print result

       movie_id  actor_id                   character
0         19995     65731                  jake sully
1         19995      8691                     neytiri
2         19995     10205         dr. grace augustine
3         19995     32747               col. quaritch
4         19995     17647                trudy chacon
5         19995      1771                   selfridge
6         19995     59231               norm spellman
7         19995     30485                        moat
8         19995     15853                     eytukan
9         19995     10964                     tsu'tey
10        19995     95697               dr. max patel
11        19995     98215              lyle wainfleet
12        19995    154153                private fike
13        19995    397312         cryo vault med tech
14        19995     42317     venture star crew chief
15        19995    986734             lock up trooper
16        19995   1207227               shuttle pilot
17        19995   1180936            shuttle co-pilot
18        19995   1019578          shuttle crew chief
19        19995     91443   tractor operator / troupe
20        19995    173391        dragon gunship pilot
21        19995   1207236       dragon gunship gunner
22        19995    215913    dragon gunship navigator
23        19995    143206                     suit #1
24        19995    169676                     suit #2
25        19995   1048610           ambient room tech
26        19995     42288  ambient room tech / troupe
27        19995     68278           horse clan leader
28        19995   1207247              link room tech
29        19995   1207248  basketball avatar / troupe
...         ...       ...                         ...
93146      9367     57471             mauricio (moco)
93147      9367   1192733                        azul
93148      9367   1192734                   cantinero
93149      9367   1293343                      domino
93150      9367   1066358                  moco's men
93151     72766     12833                       buzzy
93152     72766     58356                       linda
93153     72766     17188                      marsha
93154     72766    211993                       katie
93155     72766   1257819                     vanessa
93156    231617     11867              oliver oâtoole
93157    231617     34915             shane mcinerney
93158    231617     58393                rita haywith
93159    231617    119810               norman dorman
93160    231617     77865               charlie riggs
93161    231617   1037844                       kelly
93162    231617     14668             andrea shmeckle
93163    126186     82093                         sam
93164    126186    210050                      amanda
93165    126186      2053                      donald
93166    126186      2394                marcus groff
93167    126186   1395490
93168     25975     69597                     herself
93169     25975     85563                     himself
93170     25975      3034                     himself
93171     25975     21315                     himself
93172     25975      2171                     himself
93173     25975      2231                     himself
93174     25975     14407                     himself
93175     25975    155007                     himself

[93176 rows x 3 columns]

In [117]:
result=pd.read_sql("Select * from Actors",con=conn)
print result

       actor_id                  name
0         65731       sam worthington
1          8691           zoe saldana
2         10205      sigourney weaver
3         32747          stephen lang
4         17647    michelle rodriguez
5          1771       giovanni ribisi
6         59231      joel david moore
7         30485           cch pounder
8         15853             wes studi
9         10964            laz alonso
10        95697            dileep rao
11        98215           matt gerald
12       154153    sean anthony moran
13       397312           jason whyte
14        42317        scott lawrence
15       986734         kelly kilgour
16      1207227    james patrick pitt
17      1180936   sean patrick murphy
18      1019578          peter dillon
19        91443          kevin dorman
20       173391      kelson henderson
21      1207236        david van horn
22       215913          jacob tomuri
23       143206  michael blain-rozgay
24       169676             jon curry
25      1048610           luke hawker
26        42288         woody schultz
27        68278          peter mensah
28      1207247             sonia yee
29      1207248        jahnel curfman
...         ...                   ...
49968    859896          paul saucido
49969     76624         shane carruth
49970    110171          casey gooden
49971    110172       anand upadhyaya
49972    110173       carrie crawford
49973   1080287            jay butler
49974   1080288          john carruth
49975   1080289            juan tapia
49976   1080290         ashley warren
49977   1080291      samantha thomson
49978   1080292          chip carruth
49979   1080293         delaney price
49980   1080294           jack pyland
49981   1080295        keith bradshaw
49982   1080296       ashok upadhyaya
49983   1080297         brandon blagg
49984   1080298              jon cook
49985    203260          david joyner
49986   1080299      eric de soualhat
49987     57470        jaime de hoyos
49988     57471       peter marquardt
49989   1192733       reinol martinez
49990   1192734          ramiro gomez
49991   1293343        consuelo gÃ³mez
49992   1257819       daniella pineda
49993    119810       geoff gustafson
49994   1037844         laci j mailey
49995   1395490            zhu shimao
49996     85563      brian herzlinger
49997    155007           bill d'elia

[49998 rows x 2 columns]

# Querying the database- Use cases and SQL queries to implement them:


 Get the genres of every movie in the database.

    Query- "SELECT m.title as 'Movie Title',group_concat(g.genre_name) as 'Genre' FROM Movies as m INNER JOIN Movie_Genres as gm ON gm.movie_id==m.id INNER JOIN Genres as g ON g.genre_id==gm.genre_id GROUP BY m.title"


 Which are the production companies that have produced the movie with the highest budget?

    Query- "elect m.title as 'Movie name',group_concat(pc.company_name) as 'Production Companies',m.budget from ProductionCompanies as pc INNER JOIN Movies_ProdCompanies AS mp ON pc.prodComp_id==mp.prodComp_id INNER JOIN Movies as m ON m.id==mp.movie_id WHERE m.budget==(Select MAX(budget) FROM Movies) GROUP BY m.title"
    
    
What are the movies with a 'space travel' theme?

     Query- "Select m.title from Movies as m INNER JOIN Movie_Tags AS tm ON m.id==tm.movie_id INNER JOIN Tags as t ON t.Tag_id==tm.tag_id WHERE t.Tag_name=='space travel'"
 
 
List the total number of movies that every actor has acted in. List the most experienced actor first.

    Query- "Select a.name,COUNT(c.movie_id) as 'No. of movies' FROM Actors as a INNER JOIN Cast as c ON a.actor_id==c.actor_id GROUP BY a.actor_id ORDER BY COUNT(c.movie_id) desc"
 
 
What are the Action movies released in 2015?

    Query- "Select m.title,m.release_date FROM Movies as m INNER JOIN Movie_Genres as gm ON gm.movie_id==m.id INNER JOIN Genres as g ON gm.genre_id==g.genre_id WHERE g.genre_name LIKE '%action%' AND m.release_date between '2015-01-01' AND '2015-12-31'"

In [134]:
#Display the genres of every movie in the database
pd.read_sql_query("SELECT m.title as 'Movie Title',group_concat(g.genre_name) as 'Genre' FROM Movies as m INNER JOIN Movie_Genres as gm ON gm.movie_id==m.id INNER JOIN Genres as g ON g.genre_id==gm.genre_id GROUP BY m.title",con=conn)

,Movie Title,Genre
0,#horror,"drama,mystery,horror,thriller"
1,(500) days of summer,"comedy,drama,romance"
2,10 cloverfield lane,"thriller,science fiction,drama"
3,10 days in a madhouse,drama
4,10 things i hate about you,"comedy,romance,drama"
5,102 dalmatians,"comedy,family"
6,10th & wolf,"action,crime,drama,mystery,thriller"
7,11:14,"crime,drama,thriller"
8,12 angry men,drama
9,12 rounds,"action,adventure,drama,thriller"
10,12 years a slave,"drama,history"
11,127 hours,"adventure,drama,thriller"
12,13 going on 30,"comedy,fantasy,romance"
13,13 hours: the secret soldiers of benghazi,"action,drama,history,thriller,war"
14,1408,"horror,thriller"
15,15 minutes,"action,crime,thriller"
16,16 blocks,"action,adventure,crime,thriller"
17,16 to life,"comedy,romance"
18,17 again,comedy
19,1776,"drama,comedy,history,music"
20,1911,"adventure,drama,action,history,war"
21,1941,"action,comedy"
22,1982,drama
23,2 fast 2 furious,"action,crime,thriller"
24,2 guns,"action,comedy,crime"
25,20 dates,"romance,comedy"
26,20 feet from stardom,"documentary,music"
27,"20,000 leagues under the sea","adventure,drama,science fiction"
28,200 cigarettes,"comedy,drama,romance"
29,2001: a space odyssey,"science fiction,mystery,adventure"
...,...,...
4742,you kill me,"comedy,crime,thriller,romance"
4743,you only live twice,"action,thriller,adventure"
4744,you will meet a tall dark stranger,"comedy,drama,romance"
4745,you've got mail,"comedy,romance"
4746,"you, me and dupree","comedy,romance"
4747,young adult,"comedy,drama"
4748,young frankenstein,"comedy,science fiction"
4749,young guns,"crime,action,adventure,drama,western"
4750,young sherlock holmes,"action,adventure,crime,drama,family,mystery,th..."
4751,your highness,comedy
4752,your sister's sister,"drama,comedy"
4753,"yours, mine and ours","comedy,drama,family"
4754,youth in revolt,"drama,comedy,romance"
4755,z storm,"crime,thriller"
4756,zack and miri make a porno,comedy
4757,zambezia,"comedy,animation,adventure,family"
4758,zathura: a space adventure,"family,fantasy,science fiction,adventure"
4759,zero dark thirty,"thriller,drama,history"
4760,zero effect,"comedy,crime,mystery,thriller"
4761,zipper,"thriller,drama"
4762,zmd: zombies of mass destruction,horror
4763,zodiac,"crime,drama,mystery,thriller"
4764,zombie hunter,"comedy,action,science fiction,thriller"
4765,zombieland,"comedy,horror"
4766,zookeeper,"comedy,romance,family"
4767,zoolander,comedy
4768,zoolander 2,comedy
4769,zoom,"family,fantasy,comedy"
4770,zulu,"crime,drama,thriller"
4771,Ãon flux,"action,science fiction"

In [133]:
# Find the production companies for the movie with the highest budget
pd.read_sql_query("Select m.title as 'Movie name',group_concat(pc.company_name) as 'Production Companies',m.budget from ProductionCompanies as pc INNER JOIN Movies_ProdCompanies AS mp ON pc.prodComp_id==mp.prodComp_id INNER JOIN Movies as m ON m.id==mp.movie_id WHERE m.budget==(Select MAX(budget) FROM Movies) GROUP BY m.title",con=conn)

,Movie name,Production Companies,budget
0,pirates of the caribbean: on stranger tides,"walt disney pictures,jerry bruckheimer films,m...",380000000

In [132]:
#List the movies with a 'space travel' theme
pd.read_sql_query("Select m.title from Movies as m INNER JOIN Movie_Tags AS tm ON m.id==tm.movie_id INNER JOIN Tags as t ON t.Tag_id==tm.tag_id WHERE t.Tag_name=='space travel'",con=conn)

                                   title
0                                 avatar
1                            john carter
2                           interstellar
3                     planet of the apes
4                      the fifth element
5                        mission to mars
6                          space cowboys
7                          event horizon
8                                 alienÂ³
9                                solaris
10  the hitchhiker's guide to the galaxy
11                                  dune
12                  the astronaut's wife
13                             moonraker
14                       the right stuff
15                            spaceballs
16                                aliens
17                 2001: a space odyssey
18            stargate: the ark of truth
19                              galaxina
20                                 cargo
21                        silent running

In [131]:
#List the total number of movies that every actor has acted in. List the most experienced actor first
pd.read_sql_query("Select a.name,COUNT(c.movie_id) as 'No. of movies' FROM Actors as a INNER JOIN Cast as c ON a.actor_id==c.actor_id GROUP BY a.actor_id ORDER BY COUNT(c.movie_id) desc",con=conn)

                              name  No. of movies
0                samuel l. jackson             59
1                     bruce willis             47
2                   robert de niro             46
3                   morgan freeman             39
4                       matt damon             39
5                    steve buscemi             38
6                    jim broadbent             35
7                        brad pitt             34
8                      owen wilson             34
9                      liam neeson             34
10                     johnny depp             33
11                    john goodman             33
12                    willem dafoe             33
13                    ben kingsley             32
14                      bill hader             32
15                    will ferrell             32
16           arnold schwarzenegger             31
17                       brian cox             31
18                    nicolas cage             31
19                  susan sarandon             31
20              christopher walken             31
21                   paul giamatti             31
22                 richard jenkins             31
23                  robin williams             30
24                   nicole kidman             30
25                   stanley tucci             30
26                 anthony hopkins             30
27                     ben stiller             30
28                    alec baldwin             30
29                  david koechner             30
...                            ...            ...
49968                  ruby gaynor              1
49969                  mason nupuf              1
49970                mark giardino              1
49971                denning isles              1
49972  therial 'houseman' declouet              1
49973        michÃ¨le akouvi mÃ¼ller              1
49974                jill nocolini              1
49975                    brad bong              1
49976            j. kaitlin becker              1
49977                 young fu fan              1
49978               manouk tideman              1
49979                 hong lan hou              1
49980               kyle rothstein              1
49981                 zora suleman              1
49982     florence brudenell-bruce              1
49983           ffolliott le coque              1
49984                  marcelo bem              1
49985                   sam comery              1
49986                 jake schultz              1
49987             zechariah pierce              1
49988               alexa rachelle              1
49989           jonathan velazquez              1
49990               danielle rodas              1
49991            tallie l. brinson              1
49992          william henry milne              1
49993                   sonia rose              1
49994                   joey nappo              1
49995              michelle brzenk              1
49996              matthew withers              1
49997                skip p. welch              1

[49998 rows x 2 columns]

In [129]:
#List all the Action movies of 2015
pd.read_sql_query("Select m.title,m.release_date FROM Movies as m INNER JOIN Movie_Genres as gm ON gm.movie_id==m.id INNER JOIN Genres as g ON gm.genre_id==g.genre_id WHERE g.genre_name LIKE '%action%' AND m.release_date between '2015-01-01' AND '2015-12-31'",con=conn)

                                    title         release_date
0                                 spectre  2015-10-26 00:00:00
1                 avengers: age of ultron  2015-04-22 00:00:00
2                          jurassic world  2015-06-09 00:00:00
3                               furious 7  2015-04-01 00:00:00
4                       jupiter ascending  2015-02-04 00:00:00
5                              the lovers  2015-02-13 00:00:00
6   the hunger games: mockingjay - part 2  2015-11-18 00:00:00
7                      terminator genisys  2015-06-23 00:00:00
8                      mad max: fury road  2015-05-13 00:00:00
9      mission: impossible - rogue nation  2015-07-23 00:00:00
10                                ant-man  2015-07-14 00:00:00
11                         fantastic four  2015-08-05 00:00:00
12                            san andreas  2015-05-27 00:00:00
13                            point break  2015-12-03 00:00:00
14                in the heart of the sea  2015-11-20 00:00:00
15                                 pixels  2015-07-16 00:00:00
16                  the last witch hunter  2015-10-21 00:00:00
17                the man from u.n.c.l.e.  2015-08-13 00:00:00
18                           dragon blade  2015-02-19 00:00:00
19         maze runner: the scorch trials  2015-09-09 00:00:00
20                          run all night  2015-03-11 00:00:00
21                                chappie  2015-03-04 00:00:00
22                             the gunman  2015-02-16 00:00:00
23               baahubali: the beginning  2015-07-10 00:00:00
24                 paul blart: mall cop 2  2015-04-16 00:00:00
25                               ip man 3  2015-12-19 00:00:00
26                                  heist  2015-11-13 00:00:00
27                            hot pursuit  2015-05-08 00:00:00
28                                sicario  2015-09-17 00:00:00
29                               southpaw  2015-06-15 00:00:00
30               the transporter refueled  2015-09-03 00:00:00
31                           the assassin  2015-08-27 00:00:00
32                  into the grizzly maze  2015-02-27 00:00:00
33                         pound of flesh  2015-05-07 00:00:00
34                              no escape  2015-08-26 00:00:00
35                 navy seals vs. zombies  2015-10-08 00:00:00
36                       chain of command  2015-08-30 00:00:00
37                            close range  2015-12-11 00:00:00
38                              unnatural  2015-10-16 00:00:00
39            the marine 4: moving target  2015-04-10 00:00:00
40                              unsullied  2015-08-28 00:00:00
41                              checkmate  2015-07-03 00:00:00
42                          american hero  2015-12-11 00:00:00
43                              good kill  2015-04-09 00:00:00
44                           subconscious  2015-03-10 00:00:00
45                         heroes of dirt  2015-09-04 00:00:00

In [130]:
#List all the Action movies of 2015
pd.read_sql_query("Select m.title,m.release_date FROM Movies as m INNER JOIN Movie_Genres as gm ON gm.movie_id==m.id INNER JOIN Genres as g ON gm.genre_id==g.genre_id WHERE g.genre_name LIKE '%action%' AND m.release_date between '2015-01-01' AND '2015-12-31'",con=conn)

                                    title         release_date
0                                 spectre  2015-10-26 00:00:00
1                 avengers: age of ultron  2015-04-22 00:00:00
2                          jurassic world  2015-06-09 00:00:00
3                               furious 7  2015-04-01 00:00:00
4                       jupiter ascending  2015-02-04 00:00:00
5                              the lovers  2015-02-13 00:00:00
6   the hunger games: mockingjay - part 2  2015-11-18 00:00:00
7                      terminator genisys  2015-06-23 00:00:00
8                      mad max: fury road  2015-05-13 00:00:00
9      mission: impossible - rogue nation  2015-07-23 00:00:00
10                                ant-man  2015-07-14 00:00:00
11                         fantastic four  2015-08-05 00:00:00
12                            san andreas  2015-05-27 00:00:00
13                            point break  2015-12-03 00:00:00
14                in the heart of the sea  2015-11-20 00:00:00
15                                 pixels  2015-07-16 00:00:00
16                  the last witch hunter  2015-10-21 00:00:00
17                the man from u.n.c.l.e.  2015-08-13 00:00:00
18                           dragon blade  2015-02-19 00:00:00
19         maze runner: the scorch trials  2015-09-09 00:00:00
20                          run all night  2015-03-11 00:00:00
21                                chappie  2015-03-04 00:00:00
22                             the gunman  2015-02-16 00:00:00
23               baahubali: the beginning  2015-07-10 00:00:00
24                 paul blart: mall cop 2  2015-04-16 00:00:00
25                               ip man 3  2015-12-19 00:00:00
26                                  heist  2015-11-13 00:00:00
27                            hot pursuit  2015-05-08 00:00:00
28                                sicario  2015-09-17 00:00:00
29                               southpaw  2015-06-15 00:00:00
30               the transporter refueled  2015-09-03 00:00:00
31                           the assassin  2015-08-27 00:00:00
32                  into the grizzly maze  2015-02-27 00:00:00
33                         pound of flesh  2015-05-07 00:00:00
34                              no escape  2015-08-26 00:00:00
35                 navy seals vs. zombies  2015-10-08 00:00:00
36                       chain of command  2015-08-30 00:00:00
37                            close range  2015-12-11 00:00:00
38                              unnatural  2015-10-16 00:00:00
39            the marine 4: moving target  2015-04-10 00:00:00
40                              unsullied  2015-08-28 00:00:00
41                              checkmate  2015-07-03 00:00:00
42                          american hero  2015-12-11 00:00:00
43                              good kill  2015-04-09 00:00:00
44                           subconscious  2015-03-10 00:00:00
45                         heroes of dirt  2015-09-04 00:00:00

# All tables are Normalized

    The primary key of the Movies table is ID. Every movie has a unique ID, used to distinguish it. The table has atomic values in every column, and no two columns store the same values. All the non-key attributes are completely dependent on the movie ID. There are no transitive dependencies.

    The primary key of the Genres table is genre_id. Every genre has a unique ID, used to distinguish it. The table has atomic values in every column, and no two columns store the same values. The genre_name is completely dependent on the genre ID. 

    The primary key of the Tags table is Tag_id. Every tag/keyword has a unique ID, used to distinguish it. The table has atomic values in every column, and no two columns store the same values. The Tag name is completely dependent on the movie ID.

    The primary key of the Movie_genres table is a composite key of movie_id and genre_id. The pair of movie and a particular genre is unique. The table has atomic values in every column, and no two columns store the same values.

    The primary key of the Movie_Tags table is a composite key of movie_id and tag_id. The pair of movie and a particular Tag/keyword is unique. The table has atomic values in every column, and no two columns store the same values.

    The primary key of the ProductionCompanies table is the ID of the production company prodComp_id. Every company has a unique ID, used to distinguish it. The table has atomic values in every column, and no two columns store the same values. The company name is completely dependent on the production company ID.

    The primary key of the Movies_ProdCompanies table is a composite key of movie ID and production company ID. Every movie has a unique ID, used to distinguish it. The table has atomic values in every column, and no two columns store the same values.All the non-key attributes are completely dependent on the movie ID. There are no transitive dependencies.

    The primary key of the Movies table is ID. The pair of movie and a particular Tag/keyword is unique . The table has atomic values in every column, and no two columns store the same values.

    The primary key of the Actors table is the actor ID. Every actor has a unique ID, used to distinguish him/her. The table has atomic values in every column, and no two columns store the same values. 

    The primary key of the Cast table is a composite key of movie ID, actor ID and character name. The combination movie id, actor id and the character name of the actor in that movie are unique. If an actor plays a double role in the same movie, he would only have a different character name.  The table has atomic values in every column, and no two columns store the same values.